# Famous Paintings Analysis
This is a **PostgreSQL project** based on [this Kaggle dataset.](https://www.kaggle.com/datasets/mexwell/famous-paintings) We're going to **create a database** from csv files, containing data about famous artists, their works and the museums in which they are exhibited. Then we'll **validate, clean and analyse the dataset to get some insights**.

# Jupyter SQL Setup
First of all, we need to **install and load the extensions** needed **for Jupyter to run SQL** queries.

In [1]:
# Install required packages
!pip install ipython-sql sqlalchemy psycopg2 pandas

# Load SQL extension in Jupyter
%load_ext sql

Requirement already satisfied: ipython-sql in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (0.5.0)
Requirement already satisfied: sqlalchemy in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (2.0.32)
Requirement already satisfied: psycopg2 in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (2.9.9)
Requirement already satisfied: pandas in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (1.5.3)
Requirement already satisfied: prettytable in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: sqlparse in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: backcall in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\nikos\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# Connect to PostgreSQL
Then, we **connect to PostgreSQL** (without specifying a database).

In [2]:
from sqlalchemy import create_engine
from getpass import getpass

# Ask for credentials and enter them manually, for privacy reasons
username = input("Enter your PostgreSQL username: ")
password = getpass("Enter your PostgreSQL password: ")

# Connect to PostgreSQL without specifying a database
engine = create_engine(f"postgresql://{username}:{password}@localhost:5432/postgres", isolation_level="AUTOCOMMIT")

Enter your PostgreSQL username: postgres
Enter your PostgreSQL password: ········

# Create and Connect to the new Database
And now we are ready to **create and connect to our new database with** a little help from **SQLAlchemy**.

In [3]:
from sqlalchemy import text

# Create a new database
db_name = "famous_paintings"
with engine.connect() as conn:
    conn.execute(text(f"CREATE DATABASE {db_name};"))

print(f"Database '{db_name}' created successfully.")

# Connect to the new database
engine = create_engine(f"postgresql://{username}:{password}@localhost:5432/{db_name}")

Database 'famous_paintings' created successfully.

# Create Tables and Import Data
As these csv files most probably need cleaning, we're going to import them into tables avoiding any data types or constraints that might prevent rows from being imported. We can alter data types or add constraints later on, if needed. After a quick look at the details of the files on the [Famous Paintings Datacard](https://www.kaggle.com/datasets/mexwell/famous-paintings?select=artist.csv) we can see that **smallint, integer and character varying data types should be used** for our columns. *Note that a **few values in the 'size_id' column of the 'product_size' table force us to use CHARVAR** instead of SMALLINT. Also, **we're not going to use the image_link file as the hyperlinks are invalid**.

In [4]:
# Create database connection
engine = create_engine(f"postgresql://{username}:{password}@localhost:5432/{db_name}")

# Explicitly execute and commit
with engine.connect() as conn:
    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS artist (
            artist_id SMALLINT PRIMARY KEY,
            full_name VARCHAR,
            first_name VARCHAR,
            middle_names VARCHAR, 
            last_name VARCHAR,
            nationality VARCHAR,
            style VARCHAR,
            birth SMALLINT,
            death SMALLINT
        );
        
        CREATE TABLE IF NOT EXISTS canvas_size (
            size_id SMALLINT PRIMARY KEY, 
            width SMALLINT,
            height SMALLINT,
            label VARCHAR
        );
            
        CREATE TABLE IF NOT EXISTS image_link (
            work_id INTEGER,
            url VARCHAR,
            thumbnail_small_url VARCHAR,
            thumbnail_large_url VARCHAR
        );
        
        CREATE TABLE IF NOT EXISTS museum (
            museum_id SMALLINT PRIMARY KEY,
            name VARCHAR,
            address VARCHAR,
            city VARCHAR,
            state VARCHAR,
            postal VARCHAR,
            country VARCHAR,
            phone VARCHAR,
            url VARCHAR
        );
            
        CREATE TABLE IF NOT EXISTS museum_hours (
            museum_id SMALLINT,
            day VARCHAR,
            open VARCHAR,
            close VARCHAR
        );
        
        CREATE TABLE IF NOT EXISTS product_size (
            work_id INTEGER,
            size_id VARCHAR,
            sale_price SMALLINT,
            regular_price SMALLINT
        );
        
        CREATE TABLE IF NOT EXISTS subject (
            work_id INTEGER,
            subject VARCHAR
        );
        
        CREATE TABLE IF NOT EXISTS work (
            work_id INTEGER,
            name VARCHAR,
            artist_id SMALLINT,
            style VARCHAR,
            museum_id SMALLINT
        );
    """))
    conn.commit()  # Ensure changes are saved

print("Tables were successfully created!")

Tables were successfully created!

# Populate tables
Now the tables are ready to host our data. Let's bring them in!

In [5]:
# Define csv files and corresponding table names
csv_table_map = {
    r"C:\Users\nikos\Documents\Nikos\Data Science\Datasets\Kaggle\Famous Paintings\artist.csv": "artist",
    r"C:\Users\nikos\Documents\Nikos\Data Science\Datasets\Kaggle\Famous Paintings\canvas_size.csv": "canvas_size",
    r"C:\Users\nikos\Documents\Nikos\Data Science\Datasets\Kaggle\Famous Paintings\image_link.csv": "image_link",
    r"C:\Users\nikos\Documents\Nikos\Data Science\Datasets\Kaggle\Famous Paintings\museum.csv": "museum",
    r"C:\Users\nikos\Documents\Nikos\Data Science\Datasets\Kaggle\Famous Paintings\museum_hours.csv": "museum_hours",
    r"C:\Users\nikos\Documents\Nikos\Data Science\Datasets\Kaggle\Famous Paintings\product_size.csv": "product_size",
    r"C:\Users\nikos\Documents\Nikos\Data Science\Datasets\Kaggle\Famous Paintings\subject.csv": "subject",
    r"C:\Users\nikos\Documents\Nikos\Data Science\Datasets\Kaggle\Famous Paintings\work.csv": "work"
}

try:
    with engine.begin() as conn:
        for csv_file, table_name in csv_table_map.items():
            print(f"Copying {csv_file} into {table_name}...")

            with open(csv_file, "r", encoding="utf-8") as f:
                next(f)  # Skip the header row
                conn.connection.cursor().copy_expert(f"COPY {table_name} FROM STDIN WITH CSV HEADER", f)

        print("✅ All CSV files copied successfully!")

except Exception as e:
    print(f"❌ Error: {e}")

Copying C:\Users\nikos\Documents\Nikos\Data Science\Datasets\Kaggle\Famous Paintings\artist.csv into artist...
Copying C:\Users\nikos\Documents\Nikos\Data Science\Datasets\Kaggle\Famous Paintings\canvas_size.csv into canvas_size...
Copying C:\Users\nikos\Documents\Nikos\Data Science\Datasets\Kaggle\Famous Paintings\image_link.csv into image_link...
Copying C:\Users\nikos\Documents\Nikos\Data Science\Datasets\Kaggle\Famous Paintings\museum.csv into museum...
Copying C:\Users\nikos\Documents\Nikos\Data Science\Datasets\Kaggle\Famous Paintings\museum_hours.csv into museum_hours...
Copying C:\Users\nikos\Documents\Nikos\Data Science\Datasets\Kaggle\Famous Paintings\product_size.csv into product_size...
Copying C:\Users\nikos\Documents\Nikos\Data Science\Datasets\Kaggle\Famous Paintings\subject.csv into subject...
Copying C:\Users\nikos\Documents\Nikos\Data Science\Datasets\Kaggle\Famous Paintings\work.csv into work...
✅ All CSV files copied successfully!

# Validate Data
We **establish a connection from Jupyter Notebook to the PostgreSQL** database and **then use the magic command %%sql** in the beginning of our cells to **run direct SQL queries**.  
Time to inspect our tables and validate our data!

In [6]:
# Establish connection
connection_string = f"postgresql://{username}:{password}@localhost:5432/{db_name}"
%sql $connection_string

## artist Table
We'll check **unique ids and full names**, strange characters in full names, **inconsistencies** between full names and separate name fields, naming incosistencies in nationalities and styles and **invalid inputs in birth and death** columns. Let's begin!

In [7]:
%%sql

SELECT * FROM artist LIMIT 5;

 * postgresql://postgres:***@localhost:5432/famous_paintings
5 rows affected.

[(501, 'Alexandre Cabanel', 'Alexandre', None, 'Cabanel', 'French', 'Classicist', 1823, 1889),
 (502, 'James Ensor', 'James', None, 'Ensor', 'Belgian', 'Expressionist', 1860, 1949),
 (503, 'Maximilien Luce', 'Maximilien', None, 'Luce', 'French', 'Pointillist', 1858, 1941),
 (504, 'August Macke', 'August', None, 'Macke', 'German', 'Expressionist', 1887, 1914),
 (505, 'Thomas Gainsborough', 'Thomas', None, 'Gainsborough', 'English', 'Rococo', 1727, 1788)]

In [8]:
%%sql

SELECT COUNT(*) AS total_rows, 
       COUNT (DISTINCT artist_id) AS unique_ids, 
       COUNT(DISTINCT full_name) AS unique_full_names,
       COUNT(DISTINCT nationality) AS unique_nationalities,
       COUNT(DISTINCT style) AS unique_styles
FROM artist;

 * postgresql://postgres:***@localhost:5432/famous_paintings
1 rows affected.

[(420, 420, 420, 18, 35)]

The **artist_id and full_name columns only hold unique values** and there seem to be 18 different nationalities and 35 different styles in the artist table. We'll visually **check for naming incosistencies in the nationality and style columns** (the easy part of this validation).
### nationality Column

In [9]:
%%sql

SELECT nationality, COUNT(*)
FROM artist
GROUP BY nationality
ORDER BY nationality;

 * postgresql://postgres:***@localhost:5432/famous_paintings
18 rows affected.

[('American', 83),
 ('Austrian', 6),
 ('Belgian', 4),
 ('Canadian', 3),
 ('Danish', 2),
 ('Dutch', 68),
 ('English', 44),
 ('Flemish', 8),
 ('French', 114),
 ('German', 20),
 ('Irish', 2),
 ('Italian', 26),
 ('Japanese', 2),
 ('Mexican', 1),
 ('Norwegian', 2),
 ('Russian', 14),
 ('Spanish', 10),
 ('Swiss', 11)]

18 different nationalities detected but the **3 most frequent ones (French, American and Dutch) add up to more than half of the total** number of artists. Everything looks fine here. Same procedure for style coming next.
### style Column

In [10]:
%%sql

SELECT style, COUNT(*)
FROM artist
GROUP BY style
ORDER BY style;

 * postgresql://postgres:***@localhost:5432/famous_paintings
35 rows affected.

[('America West', 1),
 ('American West', 3),
 ('Art Nouveau', 5),
 ('Avant-Garde', 5),
 ('Baroque', 54),
 ('Classicist', 14),
 ('Colonial', 11),
 ('Cubist', 8),
 ('Early Renaissance', 2),
 ('Expressionist', 25),
 ('Fauvist', 5),
 ('Folk', 3),
 ('Futurist', 5),
 ('High Renaissance', 5),
 ('Hudson River School', 14),
 ('Impressionist', 41),
 ('Landscape Art', 6),
 ('Mannerist', 3),
 ('Marine Art', 20),
 ('Modern Art', 4),
 ('Nabi', 7),
 ('Naturalist', 6),
 ('Neoclassical', 17),
 ('Northern Renaissance', 6),
 ('Orientalist', 9),
 ('Pointillist', 6),
 ('Portraitist', 18),
 ('Post-Impressionist', 16),
 ('Realist', 35),
 ('Renaissance', 9),
 ('Rococo', 23),
 ('Romantic', 17),
 ('Surrealist', 3),
 ('Symbolist', 12),
 ('Ukiyo-e', 2)]

Obviously **'America West' style is a mistyped 'American West'** so we'll **update** that value.

In [11]:
%%sql

UPDATE artist
SET style = 'American West'
WHERE style = 'America West';

 * postgresql://postgres:***@localhost:5432/famous_paintings
1 rows affected.

[]

### birth, death Columns
We can also **check** whether the **difference between birth and death** year is within a **logical** range, say 18 - 110.

In [12]:
%%sql

SELECT * 
FROM artist
WHERE death - birth < 18 
    OR death - birth > 110;

 * postgresql://postgres:***@localhost:5432/famous_paintings
1 rows affected.

[(596, 'Pieter Bruegel', 'Pieter', None, 'Bruegel', 'Dutch', 'Renaissance', 1525, 1530)]

After a quick search, I found out that **Pieter Bruegel was born sometime between 1525 and 1530** (that's what caused this error) and **died in 1569 so we'll update** the **death** column.

In [13]:
%%sql

UPDATE artist
SET death = 1569
WHERE artist_id = 596;

 * postgresql://postgres:***@localhost:5432/famous_paintings
1 rows affected.

[]

Moving on to the hard part of this validation (that requires of lot of manual work), we'll look at the name fields.
### Name related Columns

In [14]:
%%sql

SELECT artist_id, full_name, first_name, middle_names, last_name
FROM artist
ORDER BY artist_id;

 * postgresql://postgres:***@localhost:5432/famous_paintings
420 rows affected.

[(501, 'Alexandre Cabanel', 'Alexandre', None, 'Cabanel'),
 (502, 'James Ensor', 'James', None, 'Ensor'),
 (503, 'Maximilien Luce', 'Maximilien', None, 'Luce'),
 (504, 'August Macke', 'August', None, 'Macke'),
 (505, 'Thomas Gainsborough', 'Thomas', None, 'Gainsborough'),
 (506, 'Julien Dupré', 'Julien', None, 'Dupre'),
 (507, 'George Catlin', 'George', None, 'Catlin'),
 (508, 'Federico Zandomeneghi', 'Federico', None, 'Zandomeneghi'),
 (509, 'Cornelis Springer', 'Cornelis', None, 'Springer'),
 (510, 'Hans Memling', 'Hans', None, 'Memling'),
 (511, 'Piet Mondrian', 'Piet', None, 'Mondrian'),
 (512, 'Lemuel Francis Abbott', 'Lemuel', 'Francis', 'Abbott'),
 (513, 'Mary Cassatt', 'Mary', None, 'Cassatt'),
 (514, 'Heinrich Campendonk', 'Heinrich', None, 'Campendonk'),
 (515, 'Thomas Cole', 'Thomas', None, 'Cole'),
 (516, 'Thomas Luny', 'Thomas', None, 'Luny'),
 (517, 'Eugène-Louis Boudin', 'Eugene', 'Louis', 'Boudin'),
 (518, 'Hendrick Dubbels', 'Hendrick', None, 'Dubbels'),
 (519, 'Frank Duveneck', 'Frank', None, 'Duveneck'),
 (520, 'Asher Brown Durand', 'Asher', 'Brown', 'Durand'),
 (521, 'George Henry Laporte', 'George', 'Henry', 'Laporte'),
 (522, 'Peter Monamy', 'Peter', None, 'Monamy'),
 (523, 'John Francis Rigaud', 'John', 'Francis', 'Rigaud'),
 (524, 'John William Waterhouse', 'John', 'William', 'Waterhouse'),
 (525, 'Francis William Edmonds', 'Francis', 'William', 'Edmonds'),
 (526, 'Frank Weston Benson', 'Benson', 'Frank', 'Weston'),
 (527, 'Jean Raoux', 'Jean', None, 'Raoux'),
 (528, 'Joseph Ducreux', 'Joseph', None, 'Ducreux'),
 (529, 'Gustaf Wilhelm Palm', 'Gustaf', 'Wilhelm', 'Palm'),
 (530, 'Edward William Cooke', 'Edward', 'William', 'Cooke'),
 (531, 'Camille Pissarro', 'Camille', None, 'Pissarro'),
 (532, 'Pieter Quast', 'Pieter', None, 'Quast'),
 (533, 'George Wesley Bellows', 'George', 'Wesley', 'Bellows'),
 (534, 'Alfred Henry Maurer', 'Alfred', 'Henry', 'Maurer'),
 (535, 'Pierre-Henri De Valenciennes', 'Pierre', 'Henri', 'De Valenciennes'),
 (536, 'Henri Lebasque', 'Henri', None, 'Lebasque'),
 (537, 'Claude Lorrain', 'Claude', None, 'Lorraine'),
 (538, 'Thomas Moran', 'Thomas', None, 'Moran'),
 (539, 'Jean-Baptiste Greuze', 'Jean', 'Baptiste', 'Greuze'),
 (540, 'Fernand Cormon', 'Fernand', None, 'Cormon'),
 (541, 'Pierre Puvis De Chavannes', 'Pierre', 'Puvis', 'De Chavannes'),
 (542, 'Sir Henry Raeburn', 'Henry', None, 'Raeburn'),
 (543, 'Charles Peale Polk', 'Charles', 'Peale', 'Polk'),
 (544, 'Peter Paul Rubens', 'Peter', 'Paul', 'Rubens'),
 (545, 'Odilon Redon', 'Odilon', None, 'Redon'),
 (546, 'Vilhelm Hammershoi', 'Vilhelm', None, 'Hammershoi'),
 (547, 'Édouard Vuillard', 'Edouard', None, 'Vuillard'),
 (548, 'Albrecht Durer', 'Albrecht', None, 'Durer'),
 (549, 'Arnold Böcklin', 'Arnold', None, 'Bocklin'),
 (550, 'Claude Monet', 'Claude', None, 'Monet'),
 (551, 'Sir Lawrence Alma-Tadema', 'Lawrence', 'Alma', 'Tadema'),
 (552, 'Maurice Denis', 'Maurice', None, 'Denis'),
 (553, 'El Greco', 'Dom?nikos', None, 'Theotokópoulos'),
 (554, 'Frans Jansz Post', 'Frans', 'Jansz', 'Post'),
 (555, 'Angel Zárraga', 'Angel', None, 'Zarraga'),
 (556, 'James Tissot', 'James', None, 'Tissot'),
 (557, 'Liubov Popova', 'Liubov', None, 'Popova'),
 (558, 'Sansio Raphael', 'Sansio', None, 'Raphael'),
 (559, 'Albert Marquet', 'Albert', None, 'Marquet'),
 (560, 'Charles Marion Russell', 'Charles', 'Marion', 'Russell'),
 (561, 'Canaletto', 'Giovanni', 'Antionio', 'Canaletto'),
 (562, 'Lyonel Feininger', 'Lyonel', None, 'Feininger'),
 (563, 'Édouard Adam', 'Adam', None, 'Edouard'),
 (564, 'Willem Duyster', 'Willem', None, 'Duyster'),
 (565, 'John James Audubon', 'John', 'James', 'Audubon'),
 (566, 'Charles Towne', 'Charles', None, 'Towne'),
 (567, 'Jean Auguste Ingres', 'Jean', 'Auguste', 'Ingres'),
 (568, 'Theo Van Doesburg', 'Theo', None, 'Van Doesburg'),
 (569, 'Adriaan De Lelie', 'Adriaan', None, 'De Lelie'),
 (570, 'Constantin A. Westchiloff', 'Constantin', 'A', 'Westchiloff'),
 (571, 'Théophile Steinlen', 'Theophile', 'Alexandre', 'Steinlen'),
 (572, 'John Trumbull', 'John', None, 'Trumbull'),
 (573, 'Alfred Sisley', 'Alfred', None, 'Sisley'),
 (574, 'Johannes Vermeer', 'Jan', None, 'Vermeer'),
 (575, 'Nicolaes Berchem', 'Nicolaes', None, 'Berchem'),
 (576, 'Roger De La Fresnaye', 'Roger', None, 'De La Fresnaye'),
 (577, 'Kees Van Dongen', 'Kees', None, 'Van Dongen'),
 (578, 'Thomas Lyde Hornbrook', 'Thomas', 'Lyde', 'Hornbrook'),
 (579, 'Thomas Hovenden', 'Thomas', None, 'Hovenden'),
 (580, 'Henri Manguin', 'Henri', None, 'Manguin'),
 (581, 'John White Alexander', 'John', 'White', 'Alexander'),
 (582, 'Charles Demuth', 'Charles', None, 'Demuth'),
 (583, 'Pompeo Girolamo Batoni', 'Pompeo', 'Girolamo', 'Batoni'),
 (584, 'Charles Sprague Pearce', 'Charles', 'Sprague', 'Pearce'),
 (585, 'Suzanne Valadon', 'Suzanne', None, 'Valadon'),
 (586, 'Gabrie¨l Metsu', 'Gabriel', None, 'Metsu'),
 (587, 'Georges Braque', 'Georges', None, 'Braque'),
 (588, 'Caspar David Friedrich', 'Caspar', 'David', 'Friedrich'),
 (589, 'William Merritt Chase', 'William', 'Merritt', 'Chase'),
 (590, 'Antoine Bouvard', 'Antoine', None, 'Bouvard'),
 (591, 'William P. Chappel', 'William', 'P', 'Chappel'),
 (592, 'Aelbert Cuyp', 'Aelbert', None, 'Cuyp'),
 (593, 'Robert Henri', 'Robert', None, 'Henri'),
 (594, 'Isaak Levitan', 'Isaak', None, 'Levitan'),
 (595, 'Francois Boucher', 'Francois', None, 'Boucher'),
 (596, 'Pieter Bruegel', 'Pieter', None, 'Bruegel'),
 (597, 'Adriaen Thomasz. Key', 'Adriaen', 'Thomasz', 'Key'),
 (598, 'Edgar Degas', 'Edgar', None, 'Degas'),
 (599, 'Thomas Sully', 'Thomas', None, 'Sully'),
 (600, 'Antoine-Jean Gros', 'Antoine', 'Jean', 'Gros'),
 (601, 'George Romney', 'George', None, 'Romney'),
 (602, 'Francis Luis Mora', 'Francis', 'Luis', 'Mora'),
 (603, 'George Stubbs', 'George', None, 'Stubbs'),
 (604, 'Louis Vivin', 'Louis', None, 'Vivin'),
 (605, 'Dominic Serres', 'Dominic', None, 'Serres'),
 (606, 'Simon De Vlieger', 'Simon', None, 'De Vlieger'),
 (607, 'Sir Anthony Van Dyck', 'Anthony', None, 'Van Dyck'),
 (608, 'James McNeill Whistler', 'James', 'Mcneill', 'Whistler'),
 (609, 'John Singleton Copley', 'John', 'Singleton', 'Copley'),
 (610, 'Alfred Thompson Bricher', 'Alfred', 'Thompson', 'Bricher'),
 (611, 'Sir Edwin Landseer', 'Sir', 'Edwin', 'Landseer'),
 (612, 'Katsushika Hokusai', 'Katsushika', None, 'Hokusai'),
 (613, 'John Everett Millais', 'John', 'Everett', 'Millais'),
 (614, 'Childe Hassam', 'Childe', None, 'Hassam'),
 (615, 'Abraham Mignon', 'Abraham', None, 'Mignon'),
 (616, 'Adèle Romany', 'Adele', None, 'Romany'),
 (617, 'Hendrik Voogd', 'Hendrik', None, 'Voogd'),
 (618, 'Paula Modersohn-Becker', 'Becker', 'Paula', 'Modersohn'),
 (619, 'Sandro Botticelli', 'Sandro', None, 'Botticelli'),
 (620, 'Yves Tanguy', 'Yves', None, 'Tanguy'),
 (621, 'Adélaïde Labille-Guiard', 'Adelaide', 'Labille', 'Guiard'),
 (622, 'William Bradford', 'William', None, 'Bradford'),
 (623, 'Henry Moret', 'Henry', None, 'Moret'),
 (624, 'Theodore C. Steele', 'Theodore', 'C', 'Steele'),
 (625, 'Gerard Ter Borch', 'Gerard', None, 'Ter Borch'),
 (626, 'John Ottis Adams', 'John', 'Ottis', 'Adams'),
 (627, 'Titian', 'Tiziano', None, 'Vecellio'),
 (628, 'Joachim Beuckelaer', 'Joachim', None, 'Beuckelaer'),
 (629, 'Hans Dahl', 'Hans', None, 'Dahl'),
 (630, 'Juan Gris', 'Juan', None, 'Gris'),
 (631, 'Bartholomeus Van Der Helst', 'Bartholomeus', None, 'Van der Helst'),
 (632, 'Eugene De Blaas', 'Eugene', None, 'De Blaas'),
 (633, 'Ivan Aivazovskiy', 'Ivan', None, 'Aivazovskiy'),
 (634, 'Charles Caleb Ward', 'Charles', 'Caleb', 'Ward'),
 (635, 'Rosa Bonheur', 'Rosa', None, 'Bonheur'),
 (636, 'Carlo Brancaccio', 'Carlo', None, 'Brancaccio'),
 (637, 'William Michael Harnett', 'William', 'Michael', 'Harnett'),
 (638, 'Jean-Baptiste Oudry', 'Jean', 'Baptiste', 'Oudry'),
 (639, 'George Caleb Bingham', 'George', 'Caleb', 'Bingham'),
 (640, 'Thomas Jacques Somerscales', 'Thomas', 'Jacques', 'Somerscales'),
 (641, 'Arthur Fitzwilliam Tait', 'Arthur', 'Fitzwilliam', 'Tait'),
 (642, 'Jan Adam Kruseman', 'Jan', 'Adam', 'Kruseman'),
 (643, 'Frans Francken', 'Frans', None, 'Francken'),
 (644, 'Benjamin West', 'Benjamin', None, 'West'),
 (645, 'Gustave Courbet', 'Gustave', None, 'Courbet'),
 (646, 'Louis Apol', 'Louis', None, 'Apol'),
 (647, 'Simon Vouet', 'Simon', None, 'Vouet'),
 (648, 'Jean-Francois Millet', 'Jean', 'Francois', 'Millet'),
 (649, 'Maurice Utrillo', 'Maurice', None, 'Utrillo'),
 (650, 'Édouard Manet', 'Edouard', None, 'Manet'),
 (651, 'Jules Breton', 'Jules', None, 'Breton'),
 (652, 'Paul Kane', 'Paul', None, 'Kane'),
 (653, 'Émile Bernard', 'Emile', None, 'Bernard'),
 (654, 'Lev Feliksovich Lagorio', 'Lev', 'Feliksovich', 'Lagorio'),
 (655, 'Charles Cromwell Ingham', 'Charles', 'Cromwell', 'Ingham'),
 (656, 'Wassily Kandinsky', 'Wassily', None, 'Kandinsky'),
 (657, 'Gerrit Berckheyde', 'Gerrit', None, 'Berckheyde'),
 (658, 'George P. A. Healy', 'George', 'P A', 'Healy'),
 (659, 'Albert André', 'Albert', None, 'Andre'),
 (660, 'Georges Lemmen', 'Georges', None, 'Lemmen'),
 (661, 'Peder Severin Kroyer', 'Peder', 'Severin', 'Kroyer'),
 (662, 'Charles Courtney Curran', 'Charles', 'Courtney', 'Curran'),
 (663, 'Sir George Clausen', 'Sir', 'George', 'Clausen'),
 (664, 'Ludwig Deutsch', 'Ludwig', None, 'Deutsch'),
 (665, 'Ludolf Backhuysen', 'Ludolf', None, 'Backhuysen'),
 (666, 'Frederic Edwin Church', 'Frederic', 'Edwin', 'Church'),
 (667, 'Jean-Léon Gérôme', 'Jean', 'Leon', 'Gerome'),
 (668, 'John Wollaston', 'John', None, 'Wollaston'),
 (669, 'Ferdinand Hodler', 'Ferdinand', None, 'Hodler'),
 (670, 'Vasiliy Polenov', 'Vasiliy', None, 'Polenov'),
 (671, 'Thomas Waterman Wood', 'Thomas', 'Waterman', 'Wood'),
 (672, 'Benjamin Marshall', 'Benjamin', None, 'Marshall'),
 (673, 'Théodore Géricault', 'Theodore', None, 'Gericault'),
 (674, 'Claude-Joseph Vernet', 'Claude', 'Joseph', 'Vernet'),
 (675, 'Jan Brueghel', 'Jan', None, 'Brueghel'),
 (676, 'Francois-Hubert Drouais', 'Francois', 'Hubert', 'Drouais'),
 (677, 'Vincent Van Gogh', 'Vincent', None, 'Van Gogh'),
 (678, 'Cecilia Beaux', 'Cecilia', None, 'Beaux'),
 (679, 'Kitagawa Utamaro', 'Kitagawa', None, 'Utamaro'),
 (680, 'John Frederick Herring', 'John', 'Frederick', 'Herring'),
 (681, 'Francisco De Zurbarán', 'Francisco', None, 'De Zurbaran'),
 (682, 'Gwen John', 'Gwen', None, 'John'),
 (683, 'George Frederic Watts', 'George', 'Frederic', 'Watts'),
 (684, 'Carel Fabritius', 'Carel', None, 'Fabritius'),
 (685, 'Eduard Von Grützner', 'Eduard', None, 'Von Grutzner'),
 (686, 'Matthew Pratt', 'Matthew', None, 'Pratt'),
 (687, 'Carlo Carra', 'Carlo', None, 'Carra'),
 (688, 'Franz Marc', 'Franz', None, 'Marc'),
 (689, 'Georges Seurat', 'Georges', None, 'Seurat'),
 (690, 'John Hoppner', 'John', None, 'Hoppner'),
 (691, 'Fernand Léger', 'Fernand', None, 'Leger'),
 (692, 'Bartolomé Esteban Murillo', 'Bartolome', 'Esteban', 'Murillo'),
 (693, 'John Frederick Kensett', 'John', 'Frederick', 'Kensett'),
 (694, 'André Derain', 'Andre', None, 'Derain'),
 (695, 'Étienne Dinet', 'Etienne', None, 'Dinet'),
 (696, 'Henri Le Sidaner', 'Henri', None, 'Le Sidaner'),
 (697, 'Reinier Nooms', 'Reinier', None, 'Nooms'),
 (698, 'Benvenuto Garofalo', 'Benvenuto', None, 'Garofalo'),
 (699, 'Jean-Baptiste-Siméon Chardin', 'Jean', 'Simeon', 'Chardin'),
 (700, 'William Redmore Bigg', 'William', 'Redmore', 'Bigg'),
 (701, 'Giovanni Battista Tiepolo', 'Giovanni', 'Battista', 'Tiepolo'),
 (702, 'Louis Valtat', 'Louis', None, 'Valtat'),
 (703, 'Jacob Van Ruisdael', 'Jacob', 'Van', 'Ruisdael'),
 (704, 'John Kane', 'John', None, 'Kane'),
 (705, 'Willem Bartel Van Der Kooi', 'Willem', 'Bartel', 'Van der Kooi'),
 (706, 'Anton Raphael Mengs', 'Anton', 'Raphael', 'Mengs'),
 (707, 'Laurent de La Hyre', 'Laurent', None, 'De La Hyre'),
 (708, 'Alexei Von Jawlensky', 'Alexei', None, 'Von Jawlensky'),
 (709, 'Charles Brooking', 'Charles', None, 'Brooking'),
 (710, 'Paul Gabriël', 'Paul', None, 'Gabriel'),
 (711, 'Robert Delaunay', 'Robert', None, 'Delaunay'),
 (712, 'Albert Bierstadt', 'Albert', None, 'Bierstadt'),
 (713, 'Isaac Van Ostade', 'Isaac', None, 'Van Ostade'),
 (714, 'Francisco De Goya', 'Francisco', None, 'De Goya'),
 (715, 'Jean-Hippolyte Flandrin', 'Jean', 'Hippolyte', 'Flandrin'),
 (716, 'William Stanley Haseltine', 'William', 'Stanley', 'Haseltine'),
 (717, 'John Lynn', 'John', None, 'Lynn'),
 (718, 'Charles Willson Peale', 'Charles', 'Willson', 'Peale'),
 (719, 'Guido Reni', 'Guido', None, 'Reni'),
 (720, 'Jacques-Louis David', 'Jacques', 'Louis', 'David'),
 (721, 'Ernest Lawson', 'Ernest', None, 'Lawson'),
 (722, 'Fitz Hugh Lane', 'Fitz', 'Hugh', 'Lane'),
 (723, 'George Gardner Symons', 'George', 'Gardner', 'Symons'),
 (724, 'Gustave Moreau', 'Gustave', None, 'Moreau'),
 (725, 'Santiago Rusiñol', 'Santiago', None, 'Rusinol'),
 (726, 'James Peale', 'James', None, 'Peale'),
 (727, 'Geertgen tot Sint Jans', 'Geertgen', 'Tot', 'Sint Jans'),
 (728, 'Jan Van Goyen', 'Jan', None, 'Van Goyen'),
 (729, 'Willem Van De Velde', 'Willem', 'Van', 'De Velde'),
 (730, 'Pieter Claesz', 'Pieter', None, 'Claesz'),
 (731, 'Jean Ranc', 'Jean', None, 'Ranc'),
 (732, 'Frans Hals', 'Frans', None, 'Hals'),
 (733, 'George Inness', 'George', None, 'Inness'),
 (734, 'Edward Hicks', 'Edward', None, 'Hicks'),
 (735, 'David Teniers', 'David', None, 'Teniers'),
 (736, 'Hendrick Ter Brugghen', 'Hendrick', None, 'Ter Brugghen'),
 (737, 'Nicolas Poussin', 'Nicolas', None, 'Poussin'),
 (738, 'Cima Da Conegliano', 'Cima', None, 'Da Conegliano'),
 (739, 'Maurice De Vlaminck', 'Maurice', None, 'De Vlaminck'),
 (740, 'Horace Vernet', 'Horace', None, 'Vernet'),
 (741, 'Henri Edmond Cross', 'Henri', 'Edmond', 'Cross'),
 (742, "Georges D'Espagnat", 'Georges', None, 'Despagnat'),
 (743, 'Sawrey Gilpin', 'Sawrey', None, 'Gilpin'),
 (744, 'Giovanni Boldini', 'Giovanni', None, 'Boldini'),
 (745, 'Gustave Doré', 'Gustave', None, 'Dore'),
 (746, 'Jean-Marc Nattier', 'Jean', 'Marc', 'Nattier'),
 (747, 'Jean-Francois Raffaelli', 'Jean', 'Francois', 'Raffaelli'),
 (748, 'Francois Gérard', 'Francois', None, 'Gerard'),
 (749, 'Pieter De Hooch', 'Pieter', None, 'De Hooch'),
 (750, 'Christian Rohlfs', 'Christian', None, 'Rohlfs'),
 (751, 'Jean-Baptiste Perronneau', 'Jean', 'Baptiste', 'Perronneau'),
 (752, 'Louis Comfort Tiffany', 'Louis', 'Comfort', 'Tiffany'),
 (753, 'James McDougal Hart', 'James', 'Mcdougal', 'Hart'),
 (754, 'Franz Xavier Winterhalter', 'Franz', 'Xavier', 'Winterhalter'),
 (755, 'Sergei Vinogradov', 'Sergei', None, 'Vinogradov'),
 (756, 'Paul Sérusier', 'Paul', None, 'Serusier'),
 (757, 'Albrecht Adam', 'Adam', None, 'Albrecht'),
 (758, 'Karel Dujardin', 'Karel', None, 'Dujardin'),
 (759, 'Konstantin Gorbatov', 'Konstantin', None, 'Gorbatov'),
 (760, 'Kasimir Malevich', 'Kasimir', None, 'Malevich'),
 (761, 'Francis Picabia', 'Francis', None, 'Picabia'),
 (762, 'Jack Butler Yeats', 'Jack', 'Butler', 'Yeats'),
 (763, 'Paul Signac', 'Paul', None, 'Signac'),
 (764, 'Sir Joshua Reynolds', 'Joshua', None, 'Reynolds'),
 (765, 'Judith Leyster', 'Judith', None, 'Leyster'),
 (766, 'Pietro Longhi', 'Pietro', None, 'Longhi'),
 (767, 'Pieter Jansz. Saenredam', 'Pieter', 'Jansz', 'Saenredam'),
 (768, 'Caesar Van Everdingen', 'Caesar', 'Boetius', 'Van Everdingen'),
 (769, 'Berthe Morisot', 'Berthe', None, 'Morisot'),
 (770, 'Mark Rothko', 'Mark', None, 'Rotho'),
 (771, 'Jacques Laurent Agasse', 'Jacques', 'Laurent', 'Agasse'),
 (772, 'Spencer Frederick Gore', 'Spencer', 'Frederick', 'Gore'),
 (773, 'Georges Rouault', 'Georges', None, 'Rouault'),
 (774, 'Diego Velázquez', 'Diego', None, 'Velazquez'),
 (775, 'Grant Wood', 'Grant', None, 'Wood'),
 (776, 'Frederic Remington', 'Frederic', None, 'Remington'),
 (777, 'Ambrosius Bosschaert', 'Ambrosius', None, 'Bosschaert'),
 (778, 'Raoul Dufy', 'Raoul', None, 'Dufy'),
 (779, 'Maurice Prendergast', 'Maurice', None, 'Prendergast'),
 (780, 'Edwin Lord Weeks', 'Edwin', 'Lord', 'Weeks'),
 (781, 'Giacomo Balla', 'Giacomo', None, 'Balla'),
 (782, 'Paul Gauguin', 'Paul', None, 'Gauguin'),
 (783, 'Rogier Van Der Weyden', 'Rogier', 'Van', 'der Weyden'),
 (784, 'Jan Willem Pieneman', 'Jan', 'Willem', 'Pieneman'),
 (785, 'Lovis Corinth', 'Lovis', None, 'Corinth'),
 (786, 'Henri Fantin-Latour', 'Henri', 'Fantin', 'Latour'),
 (787, 'Lorenzo Lotto', 'Lorenzo', None, 'Lotto'),
 (788, 'John Cleveley', 'John', None, 'Cleveley'),
 (789, 'George Garrard', 'George', None, 'Garrard'),
 (790, 'William Trost Richards', 'William', 'Trost', 'Richards'),
 (791, 'John Singer Sargent', 'John', 'Singer', 'Sargent'),
 (792, 'Edvard Munch', 'Edvard', None, 'Munch'),
 (793, 'Andrea Mantegna', 'Andrea', None, 'Mantegna'),
 (794, 'Winslow Homer', 'Winslow', None, 'Homer'),
 (795, 'Jan Van Eyck', 'Jan', 'Van', 'Eyck'),
 (796, 'Joseph Blackburn', 'Joseph', None, 'Blackburn'),
 (797, 'Philippe De Champaigne', 'Philippe', 'De', 'Champaigne'),
 (798, 'Ferdinand Bol', 'Ferdinand', None, 'Bol'),
 (799, 'Camille Bombois', 'Camille', None, 'Bombois'),
 (800, 'Amadeo De Souza-Cardoso', 'Amadeo', 'de Souza', 'Cardoso'),
 (801, 'Ivan Shishkin', 'Ivan', None, 'Shishkin'),
 (802, 'William Sidney Mount', 'William', 'Sidney', 'Mount'),
 (803, 'John La Farge', 'John', None, 'La Farge'),
 (804, 'Sir Peter Lely', 'Sir', 'Peter', 'Lely'),
 (805, 'Edward Henry Potthast', 'Edward', None, 'Potthast'),
 (806, 'Willem Claesz. Heda', 'Willem', 'Claesz', 'Heda'),
 (807, 'Henri Rousseau', 'Henri', None, 'Rousseau'),
 (808, 'Alexey Savrasov', 'Alexey', None, 'Savrasov'),
 (809, 'John Durand', 'John', None, 'Durand'),
 (810, 'Frederick Carl Frieseke', 'Frederick', 'Carl', 'Frieseke'),
 (811, 'John Russell', 'John', None, 'Russell'),
 (812, 'Jan Steen', 'Jan', None, 'Steen'),
 (813, 'Jean-Honoré Fragonard', 'Jean', 'Honore', 'Fragonard'),
 (814, 'Jan Van Huysum', 'Jan', None, 'Van Huysum'),
 (815, 'Leonardo Da Vinci', 'Leonardo', None, 'Da Vinci'),
 (816, 'William James Glackens', 'William', None, 'Glackens'),
 (817, 'Lord Frederic Leighton', 'Lord', 'Frederic', 'Leighton'),
 (818, 'Jan Miense Molenaer', 'Jan', 'Miense', 'Molenaer'),
 (819, 'Willem Maris', 'Willem', None, 'Maris'),
 (820, 'Edmond Aman-Jean', 'Edmond', 'Francois Aman', 'Jean'),
 (821, 'Maxime Maufra', 'Maxime', None, 'Maufra'),
 (822, 'William Hodges', 'William', None, 'Hodges'),
 (823, 'Alice Bailly', 'Alice', None, 'Bailly'),
 (824, 'Ernst Ludwig Kirchner', 'Ernst', 'Ludwig', 'Kirchner'),
 (825, 'Félix Vallotton', 'Felix', None, 'Vallotton'),
 (826, 'Jean Baptiste Vanmour', 'Jean', 'Baptiste', 'Vanmour'),
 (827, 'Gustav Klimt', 'Gustav', None, 'Klimt'),
 (828, 'Francis Augustus Silva', 'Francis', 'Augustus', 'Silva'),
 (829, 'Gustave Caillebotte', 'Gustave', None, 'Caillebotte'),
 (830, 'Giuseppe Arcimboldo', 'Giuseppe', None, 'Arcimboldo'),
 (831, 'Amedeo Modigliani', 'Amedeo', None, 'Modigliani'),
 (832, 'Gerard Van Honthorst', 'Gerard', 'Van', 'Honthorst'),
 (833, 'John Wesley Jarvis', 'John', 'Wesley', 'Jarvis'),
 (834, 'Eugène Delacroix', 'Eugene', None, 'Delacroix'),
 (835, 'Enoch Wood Perry', 'Enoch', 'Wood', 'Perry'),
 (836, 'Aristide Maillol', 'Aristide', None, 'Maillol'),
 (837, 'Adolph Ulrich Wertmuller', 'Adolph', 'Ulrich', 'Wertmuller'),
 (838, 'Marie-Guillemine Benoist', 'Marie', 'Guillemine', 'Benoist'),
 (839, 'Georges De La Tour', 'Georges', None, 'De La Tour'),
 (840, 'Eugène Girardet', 'Eugene', None, 'Girardet'),
 (841, 'Umberto Boccioni', 'Umberto', None, 'Boccioni'),
 (842, 'Rachel Ruysch', 'Rachel', None, 'Ruysch'),
 (843, 'Egon Schiele', 'Egon', None, 'Schiele'),
 (844, 'Gaston La Touche', 'Gaston', None, 'La Touche'),
 (845, 'Sir Arthur Stockdale Cope', 'Arthur', 'Stockdale', 'Cope'),
 (846, 'Gerrit Dou', 'Gerrit', None, 'Dou'),
 (847, 'Jean-Francois Portaels', 'Jean', 'Francois', 'Portaels'),
 (848, 'Hans Holbein', 'Hans', None, 'Holbein'),
 (849, 'Jules Pascin', 'Jules', None, 'Pascin'),
 (850, 'Jean Béraud', 'Jean', None, 'Beraud'),
 (851, 'Giorgio Morandi', 'Giorgio', None, 'Morandi'),
 (852, 'Léon Augustin Lhermitte', 'Leon', 'Augustin', 'Lhermitte'),

It seems that the **full_name column is either the full name (along with Sir or Lord title if any) or the nickname/pseudonym** of the artist, **using the punctuation of his nationality** and the **other name columns** are the **corresponding parts** of the full_name **in English**. However there are **lots of inconsistencies**... I wouldn't be addressing these now, as I don't think they will affect my analysis (I would come back later if needed) but as this is a project for practising my skills I'll give them a go!  
We'll start by **replacing all '-' with ' ' to keep** a **consistent** form.

In [15]:
%%sql

UPDATE artist
SET full_name = REPLACE(full_name, '-', ' '),
    first_name = REPLACE(first_name, '-', ' '),
    middle_names = REPLACE(middle_names, '-', ' '),
    last_name = REPLACE(last_name, '-', ' ')
WHERE full_name LIKE '%-%'  -- this WHERE clause is for optimization reasons (could be omitted)
    OR first_name LIKE '%-%'
    OR middle_names LIKE '%-%'
    OR last_name LIKE '%-%';

 * postgresql://postgres:***@localhost:5432/famous_paintings
34 rows affected.

[]

Next, we'll fix the full_name column and finally the first_name, middle_names and last_name values, based on the full name.
### full_name Column
The following **update, fixes missing middle names, mispelling and lower case** problems in the **full_name** column.  
In case you're wondering, I've done my online search for some of these corrections as I'm certainly not an art expert!

In [16]:
%%sql

UPDATE artist
SET full_name = CASE
                    WHEN artist_id = 570 THEN 'Constantin Alexandrovich Westchiloff'
                    WHEN artist_id = 571 THEN 'Théophile Alexandre Steinlen'
                    WHEN artist_id = 586 THEN 'Gabriël Metsu'
                    WHEN artist_id = 624 THEN 'Theodore Clement Steele'
                    WHEN artist_id = 658 THEN 'George Peter Alexander Healy'
                    WHEN artist_id = 707 THEN 'Laurent De La Hyre'
                    WHEN artist_id = 727 THEN 'Geertgen Tot Sint Jans'
                    WHEN artist_id = 768 THEN 'Caesar Boetius Van Everdingen'
                    WHEN artist_id = 820 THEN 'Edmond Francois Aman Jean'
                    WHEN artist_id = 871 THEN 'Konstantin Alekseyevich Korovin'          
                    WHEN artist_id = 897 THEN 'Élisabeth Vigée Le Brun'
                    WHEN artist_id = 898 THEN 'Joseph Mallord William Turner'
                    ELSE full_name
                END;

 * postgresql://postgres:***@localhost:5432/famous_paintings
420 rows affected.

[]

### first_name Column
We'll be **correcting first names that are actually last names, titles passed as first names, as well as two English versions of first names**.

In [17]:
%%sql

UPDATE artist
SET first_name = CASE
                    WHEN artist_id IN (526, 574, 618, 757, 903) THEN SPLIT_PART(full_name, ' ', 1)
                    WHEN artist_id IN (663, 804, 817) THEN SPLIT_PART(full_name, ' ', 2)
                    WHEN artist_id = 553 THEN 'Domenikos'
                    WHEN artist_id = 563 THEN 'Edouard'
                    ELSE first_name
                END;

 * postgresql://postgres:***@localhost:5432/famous_paintings
420 rows affected.

[]

### middle_name Column
Next we'll **address middle_names problems (lower case, first name or part of last_name, only initials** - when whole name is available, **wrong input**).

In [18]:
%%sql

UPDATE artist
SET middle_names = CASE
                        WHEN artist_id IN (526, 570, 591, 597, 608, 618, 624, 667, 753, 767, 805, 806, 816, 871) THEN SPLIT_PART(full_name, ' ', 2)
                        WHEN artist_id IN (658, 699, 800) THEN SPLIT_PART(full_name, ' ', 2) || ' ' || SPLIT_PART(full_name, ' ', 3)
                        WHEN artist_id IN (663, 703, 727, 729, 780, 783, 795, 797, 804, 817, 832) THEN NULL
                        WHEN artist_id = 561 THEN 'Antonio'
                        ELSE middle_names
                    END;

 * postgresql://postgres:***@localhost:5432/famous_paintings
420 rows affected.

[]

### last_name Column
**Same procedure for last_name** problems.

In [19]:
%%sql

UPDATE artist
SET last_name = CASE
                    WHEN artist_id IN (537, 563, 757, 770, 903) THEN SPLIT_PART(full_name, ' ', 2)
                    WHEN artist_id IN (526, 618, 663, 667) THEN SPLIT_PART(full_name, ' ', 3)
                    WHEN artist_id IN (631, 703, 727, 729, 742, 783, 795, 797, 832) THEN RIGHT(full_name, LENGTH(full_name) - LENGTH(SPLIT_PART(full_name, ' ', 1)) - 1)
                    WHEN artist_id = 553 THEN 'Theotokopoulos'
                    WHEN artist_id = 561 THEN 'Canal'
                    WHEN artist_id = 705 THEN 'Van Der Kooi'
                    ELSE last_name
                END;

 * postgresql://postgres:***@localhost:5432/famous_paintings
420 rows affected.

[]

### Validate Name related Columns are clean
Let's see what we've accomplished!

In [20]:
%%sql

SELECT artist_id, full_name, first_name, middle_names, last_name 
FROM artist
ORDER BY artist_id;

 * postgresql://postgres:***@localhost:5432/famous_paintings
420 rows affected.

[(501, 'Alexandre Cabanel', 'Alexandre', None, 'Cabanel'),
 (502, 'James Ensor', 'James', None, 'Ensor'),
 (503, 'Maximilien Luce', 'Maximilien', None, 'Luce'),
 (504, 'August Macke', 'August', None, 'Macke'),
 (505, 'Thomas Gainsborough', 'Thomas', None, 'Gainsborough'),
 (506, 'Julien Dupré', 'Julien', None, 'Dupre'),
 (507, 'George Catlin', 'George', None, 'Catlin'),
 (508, 'Federico Zandomeneghi', 'Federico', None, 'Zandomeneghi'),
 (509, 'Cornelis Springer', 'Cornelis', None, 'Springer'),
 (510, 'Hans Memling', 'Hans', None, 'Memling'),
 (511, 'Piet Mondrian', 'Piet', None, 'Mondrian'),
 (512, 'Lemuel Francis Abbott', 'Lemuel', 'Francis', 'Abbott'),
 (513, 'Mary Cassatt', 'Mary', None, 'Cassatt'),
 (514, 'Heinrich Campendonk', 'Heinrich', None, 'Campendonk'),
 (515, 'Thomas Cole', 'Thomas', None, 'Cole'),
 (516, 'Thomas Luny', 'Thomas', None, 'Luny'),
 (517, 'Eugène Louis Boudin', 'Eugene', 'Louis', 'Boudin'),
 (518, 'Hendrick Dubbels', 'Hendrick', None, 'Dubbels'),
 (519, 'Frank Duveneck', 'Frank', None, 'Duveneck'),
 (520, 'Asher Brown Durand', 'Asher', 'Brown', 'Durand'),
 (521, 'George Henry Laporte', 'George', 'Henry', 'Laporte'),
 (522, 'Peter Monamy', 'Peter', None, 'Monamy'),
 (523, 'John Francis Rigaud', 'John', 'Francis', 'Rigaud'),
 (524, 'John William Waterhouse', 'John', 'William', 'Waterhouse'),
 (525, 'Francis William Edmonds', 'Francis', 'William', 'Edmonds'),
 (526, 'Frank Weston Benson', 'Frank', 'Weston', 'Benson'),
 (527, 'Jean Raoux', 'Jean', None, 'Raoux'),
 (528, 'Joseph Ducreux', 'Joseph', None, 'Ducreux'),
 (529, 'Gustaf Wilhelm Palm', 'Gustaf', 'Wilhelm', 'Palm'),
 (530, 'Edward William Cooke', 'Edward', 'William', 'Cooke'),
 (531, 'Camille Pissarro', 'Camille', None, 'Pissarro'),
 (532, 'Pieter Quast', 'Pieter', None, 'Quast'),
 (533, 'George Wesley Bellows', 'George', 'Wesley', 'Bellows'),
 (534, 'Alfred Henry Maurer', 'Alfred', 'Henry', 'Maurer'),
 (535, 'Pierre Henri De Valenciennes', 'Pierre', 'Henri', 'De Valenciennes'),
 (536, 'Henri Lebasque', 'Henri', None, 'Lebasque'),
 (537, 'Claude Lorrain', 'Claude', None, 'Lorrain'),
 (538, 'Thomas Moran', 'Thomas', None, 'Moran'),
 (539, 'Jean Baptiste Greuze', 'Jean', 'Baptiste', 'Greuze'),
 (540, 'Fernand Cormon', 'Fernand', None, 'Cormon'),
 (541, 'Pierre Puvis De Chavannes', 'Pierre', 'Puvis', 'De Chavannes'),
 (542, 'Sir Henry Raeburn', 'Henry', None, 'Raeburn'),
 (543, 'Charles Peale Polk', 'Charles', 'Peale', 'Polk'),
 (544, 'Peter Paul Rubens', 'Peter', 'Paul', 'Rubens'),
 (545, 'Odilon Redon', 'Odilon', None, 'Redon'),
 (546, 'Vilhelm Hammershoi', 'Vilhelm', None, 'Hammershoi'),
 (547, 'Édouard Vuillard', 'Edouard', None, 'Vuillard'),
 (548, 'Albrecht Durer', 'Albrecht', None, 'Durer'),
 (549, 'Arnold Böcklin', 'Arnold', None, 'Bocklin'),
 (550, 'Claude Monet', 'Claude', None, 'Monet'),
 (551, 'Sir Lawrence Alma Tadema', 'Lawrence', 'Alma', 'Tadema'),
 (552, 'Maurice Denis', 'Maurice', None, 'Denis'),
 (553, 'El Greco', 'Domenikos', None, 'Theotokopoulos'),
 (554, 'Frans Jansz Post', 'Frans', 'Jansz', 'Post'),
 (555, 'Angel Zárraga', 'Angel', None, 'Zarraga'),
 (556, 'James Tissot', 'James', None, 'Tissot'),
 (557, 'Liubov Popova', 'Liubov', None, 'Popova'),
 (558, 'Sansio Raphael', 'Sansio', None, 'Raphael'),
 (559, 'Albert Marquet', 'Albert', None, 'Marquet'),
 (560, 'Charles Marion Russell', 'Charles', 'Marion', 'Russell'),
 (561, 'Canaletto', 'Giovanni', 'Antonio', 'Canal'),
 (562, 'Lyonel Feininger', 'Lyonel', None, 'Feininger'),
 (563, 'Édouard Adam', 'Edouard', None, 'Adam'),
 (564, 'Willem Duyster', 'Willem', None, 'Duyster'),
 (565, 'John James Audubon', 'John', 'James', 'Audubon'),
 (566, 'Charles Towne', 'Charles', None, 'Towne'),
 (567, 'Jean Auguste Ingres', 'Jean', 'Auguste', 'Ingres'),
 (568, 'Theo Van Doesburg', 'Theo', None, 'Van Doesburg'),
 (569, 'Adriaan De Lelie', 'Adriaan', None, 'De Lelie'),
 (570, 'Constantin Alexandrovich Westchiloff', 'Constantin', 'Alexandrovich', 'Westchiloff'),
 (571, 'Théophile Alexandre Steinlen', 'Theophile', 'Alexandre', 'Steinlen'),
 (572, 'John Trumbull', 'John', None, 'Trumbull'),
 (573, 'Alfred Sisley', 'Alfred', None, 'Sisley'),
 (574, 'Johannes Vermeer', 'Johannes', None, 'Vermeer'),
 (575, 'Nicolaes Berchem', 'Nicolaes', None, 'Berchem'),
 (576, 'Roger De La Fresnaye', 'Roger', None, 'De La Fresnaye'),
 (577, 'Kees Van Dongen', 'Kees', None, 'Van Dongen'),
 (578, 'Thomas Lyde Hornbrook', 'Thomas', 'Lyde', 'Hornbrook'),
 (579, 'Thomas Hovenden', 'Thomas', None, 'Hovenden'),
 (580, 'Henri Manguin', 'Henri', None, 'Manguin'),
 (581, 'John White Alexander', 'John', 'White', 'Alexander'),
 (582, 'Charles Demuth', 'Charles', None, 'Demuth'),
 (583, 'Pompeo Girolamo Batoni', 'Pompeo', 'Girolamo', 'Batoni'),
 (584, 'Charles Sprague Pearce', 'Charles', 'Sprague', 'Pearce'),
 (585, 'Suzanne Valadon', 'Suzanne', None, 'Valadon'),
 (586, 'Gabriël Metsu', 'Gabriel', None, 'Metsu'),
 (587, 'Georges Braque', 'Georges', None, 'Braque'),
 (588, 'Caspar David Friedrich', 'Caspar', 'David', 'Friedrich'),
 (589, 'William Merritt Chase', 'William', 'Merritt', 'Chase'),
 (590, 'Antoine Bouvard', 'Antoine', None, 'Bouvard'),
 (591, 'William P. Chappel', 'William', 'P.', 'Chappel'),
 (592, 'Aelbert Cuyp', 'Aelbert', None, 'Cuyp'),
 (593, 'Robert Henri', 'Robert', None, 'Henri'),
 (594, 'Isaak Levitan', 'Isaak', None, 'Levitan'),
 (595, 'Francois Boucher', 'Francois', None, 'Boucher'),
 (596, 'Pieter Bruegel', 'Pieter', None, 'Bruegel'),
 (597, 'Adriaen Thomasz. Key', 'Adriaen', 'Thomasz.', 'Key'),
 (598, 'Edgar Degas', 'Edgar', None, 'Degas'),
 (599, 'Thomas Sully', 'Thomas', None, 'Sully'),
 (600, 'Antoine Jean Gros', 'Antoine', 'Jean', 'Gros'),
 (601, 'George Romney', 'George', None, 'Romney'),
 (602, 'Francis Luis Mora', 'Francis', 'Luis', 'Mora'),
 (603, 'George Stubbs', 'George', None, 'Stubbs'),
 (604, 'Louis Vivin', 'Louis', None, 'Vivin'),
 (605, 'Dominic Serres', 'Dominic', None, 'Serres'),
 (606, 'Simon De Vlieger', 'Simon', None, 'De Vlieger'),
 (607, 'Sir Anthony Van Dyck', 'Anthony', None, 'Van Dyck'),
 (608, 'James McNeill Whistler', 'James', 'McNeill', 'Whistler'),
 (609, 'John Singleton Copley', 'John', 'Singleton', 'Copley'),
 (610, 'Alfred Thompson Bricher', 'Alfred', 'Thompson', 'Bricher'),
 (611, 'Sir Edwin Landseer', 'Sir', 'Edwin', 'Landseer'),
 (612, 'Katsushika Hokusai', 'Katsushika', None, 'Hokusai'),
 (613, 'John Everett Millais', 'John', 'Everett', 'Millais'),
 (614, 'Childe Hassam', 'Childe', None, 'Hassam'),
 (615, 'Abraham Mignon', 'Abraham', None, 'Mignon'),
 (616, 'Adèle Romany', 'Adele', None, 'Romany'),
 (617, 'Hendrik Voogd', 'Hendrik', None, 'Voogd'),
 (618, 'Paula Modersohn Becker', 'Paula', 'Modersohn', 'Becker'),
 (619, 'Sandro Botticelli', 'Sandro', None, 'Botticelli'),
 (620, 'Yves Tanguy', 'Yves', None, 'Tanguy'),
 (621, 'Adélaïde Labille Guiard', 'Adelaide', 'Labille', 'Guiard'),
 (622, 'William Bradford', 'William', None, 'Bradford'),
 (623, 'Henry Moret', 'Henry', None, 'Moret'),
 (624, 'Theodore Clement Steele', 'Theodore', 'Clement', 'Steele'),
 (625, 'Gerard Ter Borch', 'Gerard', None, 'Ter Borch'),
 (626, 'John Ottis Adams', 'John', 'Ottis', 'Adams'),
 (627, 'Titian', 'Tiziano', None, 'Vecellio'),
 (628, 'Joachim Beuckelaer', 'Joachim', None, 'Beuckelaer'),
 (629, 'Hans Dahl', 'Hans', None, 'Dahl'),
 (630, 'Juan Gris', 'Juan', None, 'Gris'),
 (631, 'Bartholomeus Van Der Helst', 'Bartholomeus', None, 'Van Der Helst'),
 (632, 'Eugene De Blaas', 'Eugene', None, 'De Blaas'),
 (633, 'Ivan Aivazovskiy', 'Ivan', None, 'Aivazovskiy'),
 (634, 'Charles Caleb Ward', 'Charles', 'Caleb', 'Ward'),
 (635, 'Rosa Bonheur', 'Rosa', None, 'Bonheur'),
 (636, 'Carlo Brancaccio', 'Carlo', None, 'Brancaccio'),
 (637, 'William Michael Harnett', 'William', 'Michael', 'Harnett'),
 (638, 'Jean Baptiste Oudry', 'Jean', 'Baptiste', 'Oudry'),
 (639, 'George Caleb Bingham', 'George', 'Caleb', 'Bingham'),
 (640, 'Thomas Jacques Somerscales', 'Thomas', 'Jacques', 'Somerscales'),
 (641, 'Arthur Fitzwilliam Tait', 'Arthur', 'Fitzwilliam', 'Tait'),
 (642, 'Jan Adam Kruseman', 'Jan', 'Adam', 'Kruseman'),
 (643, 'Frans Francken', 'Frans', None, 'Francken'),
 (644, 'Benjamin West', 'Benjamin', None, 'West'),
 (645, 'Gustave Courbet', 'Gustave', None, 'Courbet'),
 (646, 'Louis Apol', 'Louis', None, 'Apol'),
 (647, 'Simon Vouet', 'Simon', None, 'Vouet'),
 (648, 'Jean Francois Millet', 'Jean', 'Francois', 'Millet'),
 (649, 'Maurice Utrillo', 'Maurice', None, 'Utrillo'),
 (650, 'Édouard Manet', 'Edouard', None, 'Manet'),
 (651, 'Jules Breton', 'Jules', None, 'Breton'),
 (652, 'Paul Kane', 'Paul', None, 'Kane'),
 (653, 'Émile Bernard', 'Emile', None, 'Bernard'),
 (654, 'Lev Feliksovich Lagorio', 'Lev', 'Feliksovich', 'Lagorio'),
 (655, 'Charles Cromwell Ingham', 'Charles', 'Cromwell', 'Ingham'),
 (656, 'Wassily Kandinsky', 'Wassily', None, 'Kandinsky'),
 (657, 'Gerrit Berckheyde', 'Gerrit', None, 'Berckheyde'),
 (658, 'George Peter Alexander Healy', 'George', 'Peter Alexander', 'Healy'),
 (659, 'Albert André', 'Albert', None, 'Andre'),
 (660, 'Georges Lemmen', 'Georges', None, 'Lemmen'),
 (661, 'Peder Severin Kroyer', 'Peder', 'Severin', 'Kroyer'),
 (662, 'Charles Courtney Curran', 'Charles', 'Courtney', 'Curran'),
 (663, 'Sir George Clausen', 'George', None, 'Clausen'),
 (664, 'Ludwig Deutsch', 'Ludwig', None, 'Deutsch'),
 (665, 'Ludolf Backhuysen', 'Ludolf', None, 'Backhuysen'),
 (666, 'Frederic Edwin Church', 'Frederic', 'Edwin', 'Church'),
 (667, 'Jean Léon Gérôme', 'Jean', 'Léon', 'Gérôme'),
 (668, 'John Wollaston', 'John', None, 'Wollaston'),
 (669, 'Ferdinand Hodler', 'Ferdinand', None, 'Hodler'),
 (670, 'Vasiliy Polenov', 'Vasiliy', None, 'Polenov'),
 (671, 'Thomas Waterman Wood', 'Thomas', 'Waterman', 'Wood'),
 (672, 'Benjamin Marshall', 'Benjamin', None, 'Marshall'),
 (673, 'Théodore Géricault', 'Theodore', None, 'Gericault'),
 (674, 'Claude Joseph Vernet', 'Claude', 'Joseph', 'Vernet'),
 (675, 'Jan Brueghel', 'Jan', None, 'Brueghel'),
 (676, 'Francois Hubert Drouais', 'Francois', 'Hubert', 'Drouais'),
 (677, 'Vincent Van Gogh', 'Vincent', None, 'Van Gogh'),
 (678, 'Cecilia Beaux', 'Cecilia', None, 'Beaux'),
 (679, 'Kitagawa Utamaro', 'Kitagawa', None, 'Utamaro'),
 (680, 'John Frederick Herring', 'John', 'Frederick', 'Herring'),
 (681, 'Francisco De Zurbarán', 'Francisco', None, 'De Zurbaran'),
 (682, 'Gwen John', 'Gwen', None, 'John'),
 (683, 'George Frederic Watts', 'George', 'Frederic', 'Watts'),
 (684, 'Carel Fabritius', 'Carel', None, 'Fabritius'),
 (685, 'Eduard Von Grützner', 'Eduard', None, 'Von Grutzner'),
 (686, 'Matthew Pratt', 'Matthew', None, 'Pratt'),
 (687, 'Carlo Carra', 'Carlo', None, 'Carra'),
 (688, 'Franz Marc', 'Franz', None, 'Marc'),
 (689, 'Georges Seurat', 'Georges', None, 'Seurat'),
 (690, 'John Hoppner', 'John', None, 'Hoppner'),
 (691, 'Fernand Léger', 'Fernand', None, 'Leger'),
 (692, 'Bartolomé Esteban Murillo', 'Bartolome', 'Esteban', 'Murillo'),
 (693, 'John Frederick Kensett', 'John', 'Frederick', 'Kensett'),
 (694, 'André Derain', 'Andre', None, 'Derain'),
 (695, 'Étienne Dinet', 'Etienne', None, 'Dinet'),
 (696, 'Henri Le Sidaner', 'Henri', None, 'Le Sidaner'),
 (697, 'Reinier Nooms', 'Reinier', None, 'Nooms'),
 (698, 'Benvenuto Garofalo', 'Benvenuto', None, 'Garofalo'),
 (699, 'Jean Baptiste Siméon Chardin', 'Jean', 'Baptiste Siméon', 'Chardin'),
 (700, 'William Redmore Bigg', 'William', 'Redmore', 'Bigg'),
 (701, 'Giovanni Battista Tiepolo', 'Giovanni', 'Battista', 'Tiepolo'),
 (702, 'Louis Valtat', 'Louis', None, 'Valtat'),
 (703, 'Jacob Van Ruisdael', 'Jacob', None, 'Van Ruisdael'),
 (704, 'John Kane', 'John', None, 'Kane'),
 (705, 'Willem Bartel Van Der Kooi', 'Willem', 'Bartel', 'Van Der Kooi'),
 (706, 'Anton Raphael Mengs', 'Anton', 'Raphael', 'Mengs'),
 (707, 'Laurent De La Hyre', 'Laurent', None, 'De La Hyre'),
 (708, 'Alexei Von Jawlensky', 'Alexei', None, 'Von Jawlensky'),
 (709, 'Charles Brooking', 'Charles', None, 'Brooking'),
 (710, 'Paul Gabriël', 'Paul', None, 'Gabriel'),
 (711, 'Robert Delaunay', 'Robert', None, 'Delaunay'),
 (712, 'Albert Bierstadt', 'Albert', None, 'Bierstadt'),
 (713, 'Isaac Van Ostade', 'Isaac', None, 'Van Ostade'),
 (714, 'Francisco De Goya', 'Francisco', None, 'De Goya'),
 (715, 'Jean Hippolyte Flandrin', 'Jean', 'Hippolyte', 'Flandrin'),
 (716, 'William Stanley Haseltine', 'William', 'Stanley', 'Haseltine'),
 (717, 'John Lynn', 'John', None, 'Lynn'),
 (718, 'Charles Willson Peale', 'Charles', 'Willson', 'Peale'),
 (719, 'Guido Reni', 'Guido', None, 'Reni'),
 (720, 'Jacques Louis David', 'Jacques', 'Louis', 'David'),
 (721, 'Ernest Lawson', 'Ernest', None, 'Lawson'),
 (722, 'Fitz Hugh Lane', 'Fitz', 'Hugh', 'Lane'),
 (723, 'George Gardner Symons', 'George', 'Gardner', 'Symons'),
 (724, 'Gustave Moreau', 'Gustave', None, 'Moreau'),
 (725, 'Santiago Rusiñol', 'Santiago', None, 'Rusinol'),
 (726, 'James Peale', 'James', None, 'Peale'),
 (727, 'Geertgen Tot Sint Jans', 'Geertgen', None, 'Tot Sint Jans'),
 (728, 'Jan Van Goyen', 'Jan', None, 'Van Goyen'),
 (729, 'Willem Van De Velde', 'Willem', None, 'Van De Velde'),
 (730, 'Pieter Claesz', 'Pieter', None, 'Claesz'),
 (731, 'Jean Ranc', 'Jean', None, 'Ranc'),
 (732, 'Frans Hals', 'Frans', None, 'Hals'),
 (733, 'George Inness', 'George', None, 'Inness'),
 (734, 'Edward Hicks', 'Edward', None, 'Hicks'),
 (735, 'David Teniers', 'David', None, 'Teniers'),
 (736, 'Hendrick Ter Brugghen', 'Hendrick', None, 'Ter Brugghen'),
 (737, 'Nicolas Poussin', 'Nicolas', None, 'Poussin'),
 (738, 'Cima Da Conegliano', 'Cima', None, 'Da Conegliano'),
 (739, 'Maurice De Vlaminck', 'Maurice', None, 'De Vlaminck'),
 (740, 'Horace Vernet', 'Horace', None, 'Vernet'),
 (741, 'Henri Edmond Cross', 'Henri', 'Edmond', 'Cross'),
 (742, "Georges D'Espagnat", 'Georges', None, "D'Espagnat"),
 (743, 'Sawrey Gilpin', 'Sawrey', None, 'Gilpin'),
 (744, 'Giovanni Boldini', 'Giovanni', None, 'Boldini'),
 (745, 'Gustave Doré', 'Gustave', None, 'Dore'),
 (746, 'Jean Marc Nattier', 'Jean', 'Marc', 'Nattier'),
 (747, 'Jean Francois Raffaelli', 'Jean', 'Francois', 'Raffaelli'),
 (748, 'Francois Gérard', 'Francois', None, 'Gerard'),
 (749, 'Pieter De Hooch', 'Pieter', None, 'De Hooch'),
 (750, 'Christian Rohlfs', 'Christian', None, 'Rohlfs'),
 (751, 'Jean Baptiste Perronneau', 'Jean', 'Baptiste', 'Perronneau'),
 (752, 'Louis Comfort Tiffany', 'Louis', 'Comfort', 'Tiffany'),
 (753, 'James McDougal Hart', 'James', 'McDougal', 'Hart'),
 (754, 'Franz Xavier Winterhalter', 'Franz', 'Xavier', 'Winterhalter'),
 (755, 'Sergei Vinogradov', 'Sergei', None, 'Vinogradov'),
 (756, 'Paul Sérusier', 'Paul', None, 'Serusier'),
 (757, 'Albrecht Adam', 'Albrecht', None, 'Adam'),
 (758, 'Karel Dujardin', 'Karel', None, 'Dujardin'),
 (759, 'Konstantin Gorbatov', 'Konstantin', None, 'Gorbatov'),
 (760, 'Kasimir Malevich', 'Kasimir', None, 'Malevich'),
 (761, 'Francis Picabia', 'Francis', None, 'Picabia'),
 (762, 'Jack Butler Yeats', 'Jack', 'Butler', 'Yeats'),
 (763, 'Paul Signac', 'Paul', None, 'Signac'),
 (764, 'Sir Joshua Reynolds', 'Joshua', None, 'Reynolds'),
 (765, 'Judith Leyster', 'Judith', None, 'Leyster'),
 (766, 'Pietro Longhi', 'Pietro', None, 'Longhi'),
 (767, 'Pieter Jansz. Saenredam', 'Pieter', 'Jansz.', 'Saenredam'),
 (768, 'Caesar Boetius Van Everdingen', 'Caesar', 'Boetius', 'Van Everdingen'),
 (769, 'Berthe Morisot', 'Berthe', None, 'Morisot'),
 (770, 'Mark Rothko', 'Mark', None, 'Rothko'),
 (771, 'Jacques Laurent Agasse', 'Jacques', 'Laurent', 'Agasse'),
 (772, 'Spencer Frederick Gore', 'Spencer', 'Frederick', 'Gore'),
 (773, 'Georges Rouault', 'Georges', None, 'Rouault'),
 (774, 'Diego Velázquez', 'Diego', None, 'Velazquez'),
 (775, 'Grant Wood', 'Grant', None, 'Wood'),
 (776, 'Frederic Remington', 'Frederic', None, 'Remington'),
 (777, 'Ambrosius Bosschaert', 'Ambrosius', None, 'Bosschaert'),
 (778, 'Raoul Dufy', 'Raoul', None, 'Dufy'),
 (779, 'Maurice Prendergast', 'Maurice', None, 'Prendergast'),
 (780, 'Edwin Lord Weeks', 'Edwin', None, 'Weeks'),
 (781, 'Giacomo Balla', 'Giacomo', None, 'Balla'),
 (782, 'Paul Gauguin', 'Paul', None, 'Gauguin'),
 (783, 'Rogier Van Der Weyden', 'Rogier', None, 'Van Der Weyden'),
 (784, 'Jan Willem Pieneman', 'Jan', 'Willem', 'Pieneman'),
 (785, 'Lovis Corinth', 'Lovis', None, 'Corinth'),
 (786, 'Henri Fantin Latour', 'Henri', 'Fantin', 'Latour'),
 (787, 'Lorenzo Lotto', 'Lorenzo', None, 'Lotto'),
 (788, 'John Cleveley', 'John', None, 'Cleveley'),
 (789, 'George Garrard', 'George', None, 'Garrard'),
 (790, 'William Trost Richards', 'William', 'Trost', 'Richards'),
 (791, 'John Singer Sargent', 'John', 'Singer', 'Sargent'),
 (792, 'Edvard Munch', 'Edvard', None, 'Munch'),
 (793, 'Andrea Mantegna', 'Andrea', None, 'Mantegna'),
 (794, 'Winslow Homer', 'Winslow', None, 'Homer'),
 (795, 'Jan Van Eyck', 'Jan', None, 'Van Eyck'),
 (796, 'Joseph Blackburn', 'Joseph', None, 'Blackburn'),
 (797, 'Philippe De Champaigne', 'Philippe', None, 'De Champaigne'),
 (798, 'Ferdinand Bol', 'Ferdinand', None, 'Bol'),
 (799, 'Camille Bombois', 'Camille', None, 'Bombois'),
 (800, 'Amadeo De Souza Cardoso', 'Amadeo', 'De Souza', 'Cardoso'),
 (801, 'Ivan Shishkin', 'Ivan', None, 'Shishkin'),
 (802, 'William Sidney Mount', 'William', 'Sidney', 'Mount'),
 (803, 'John La Farge', 'John', None, 'La Farge'),
 (804, 'Sir Peter Lely', 'Peter', None, 'Lely'),
 (805, 'Edward Henry Potthast', 'Edward', 'Henry', 'Potthast'),
 (806, 'Willem Claesz. Heda', 'Willem', 'Claesz.', 'Heda'),
 (807, 'Henri Rousseau', 'Henri', None, 'Rousseau'),
 (808, 'Alexey Savrasov', 'Alexey', None, 'Savrasov'),
 (809, 'John Durand', 'John', None, 'Durand'),
 (810, 'Frederick Carl Frieseke', 'Frederick', 'Carl', 'Frieseke'),
 (811, 'John Russell', 'John', None, 'Russell'),
 (812, 'Jan Steen', 'Jan', None, 'Steen'),
 (813, 'Jean Honoré Fragonard', 'Jean', 'Honore', 'Fragonard'),
 (814, 'Jan Van Huysum', 'Jan', None, 'Van Huysum'),
 (815, 'Leonardo Da Vinci', 'Leonardo', None, 'Da Vinci'),
 (816, 'William James Glackens', 'William', 'James', 'Glackens'),
 (817, 'Lord Frederic Leighton', 'Frederic', None, 'Leighton'),
 (818, 'Jan Miense Molenaer', 'Jan', 'Miense', 'Molenaer'),
 (819, 'Willem Maris', 'Willem', None, 'Maris'),
 (820, 'Edmond Francois Aman Jean', 'Edmond', 'Francois Aman', 'Jean'),
 (821, 'Maxime Maufra', 'Maxime', None, 'Maufra'),
 (822, 'William Hodges', 'William', None, 'Hodges'),
 (823, 'Alice Bailly', 'Alice', None, 'Bailly'),
 (824, 'Ernst Ludwig Kirchner', 'Ernst', 'Ludwig', 'Kirchner'),
 (825, 'Félix Vallotton', 'Felix', None, 'Vallotton'),
 (826, 'Jean Baptiste Vanmour', 'Jean', 'Baptiste', 'Vanmour'),
 (827, 'Gustav Klimt', 'Gustav', None, 'Klimt'),
 (828, 'Francis Augustus Silva', 'Francis', 'Augustus', 'Silva'),
 (829, 'Gustave Caillebotte', 'Gustave', None, 'Caillebotte'),
 (830, 'Giuseppe Arcimboldo', 'Giuseppe', None, 'Arcimboldo'),
 (831, 'Amedeo Modigliani', 'Amedeo', None, 'Modigliani'),
 (832, 'Gerard Van Honthorst', 'Gerard', None, 'Van Honthorst'),
 (833, 'John Wesley Jarvis', 'John', 'Wesley', 'Jarvis'),
 (834, 'Eugène Delacroix', 'Eugene', None, 'Delacroix'),
 (835, 'Enoch Wood Perry', 'Enoch', 'Wood', 'Perry'),
 (836, 'Aristide Maillol', 'Aristide', None, 'Maillol'),
 (837, 'Adolph Ulrich Wertmuller', 'Adolph', 'Ulrich', 'Wertmuller'),
 (838, 'Marie Guillemine Benoist', 'Marie', 'Guillemine', 'Benoist'),
 (839, 'Georges De La Tour', 'Georges', None, 'De La Tour'),
 (840, 'Eugène Girardet', 'Eugene', None, 'Girardet'),
 (841, 'Umberto Boccioni', 'Umberto', None, 'Boccioni'),
 (842, 'Rachel Ruysch', 'Rachel', None, 'Ruysch'),
 (843, 'Egon Schiele', 'Egon', None, 'Schiele'),
 (844, 'Gaston La Touche', 'Gaston', None, 'La Touche'),
 (845, 'Sir Arthur Stockdale Cope', 'Arthur', 'Stockdale', 'Cope'),
 (846, 'Gerrit Dou', 'Gerrit', None, 'Dou'),
 (847, 'Jean Francois Portaels', 'Jean', 'Francois', 'Portaels'),
 (848, 'Hans Holbein', 'Hans', None, 'Holbein'),
 (849, 'Jules Pascin', 'Jules', None, 'Pascin'),
 (850, 'Jean Béraud', 'Jean', None, 'Beraud'),

Everything looks fine now.
## canvas_size Table
Next we're going to **validate values** in the **canvas_size** table.

In [21]:
%%sql

SELECT * 
FROM canvas_size
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/famous_paintings
5 rows affected.

[(24, 24, None, '24" Long Edge'),
 (30, 30, None, '30" Long Edge'),
 (36, 36, None, '36" Long Edge'),
 (40, 40, None, '40" Long Edge'),
 (48, 48, None, '48" Long Edge')]

**NULL values in height** column came up. Let's investigate further.

In [22]:
%%sql

SELECT COUNT(*) AS total_rows, 
       COUNT (DISTINCT size_id) AS unique_ids, 
       COUNT(width) AS non_null_widths,
       COUNT(height) AS non_null_heights,
       COUNT(DISTINCT label) AS unique_labels
FROM canvas_size;

 * postgresql://postgres:***@localhost:5432/famous_paintings
1 rows affected.

[(199, 199, 199, 193, 199)]

**Every row has its own unique id and label**, there are **no NULL values in** the **width** column but there are **6 in** the **height** column. As the labels of the first few rows that include null height values don't give us a clue about their heights, we **can't** really do anything reasonable to **impute them** but at least we can **validate the width's and height's range of values**.

In [23]:
%%sql

SELECT 
    'width' AS column_name, MIN(width), MAX(width)
FROM canvas_size
UNION ALL
SELECT 
    'height', MIN(height), MAX(height) FROM canvas_size;

 * postgresql://postgres:***@localhost:5432/famous_paintings
2 rows affected.

[('width', 15, 96), ('height', 16, 96)]

No suspicious numbers here, so we're moving on.

## museum Table

In [24]:
%%sql

SELECT * FROM museum LIMIT 5;

 * postgresql://postgres:***@localhost:5432/famous_paintings
5 rows affected.

[(31, 'Pushkin State Museum of Fine Arts', '12 Ulitsa Volkhonka', 'Moscow', None, '119019', 'Russia', '+7 495 697-95-78', 'https://pushkinmuseum.art/'),
 (32, 'National Gallery of Victoria', '180 St Kilda Rd', 'Melbourne', 'Victoria', '3004', 'Australia', '+61 (0)3 8620 2222', 'https://www.ngv.vic.gov.au/'),
 (33, 'São Paulo Museum of Art', 'Av. Paulista, 1578 - Bela Vista', 'São Paulo', None, '01310-200', 'Brazil', '+55 11 3149-5959', 'https://masp.org.br/'),
 (34, 'The State Hermitage Museum', 'Palace Square', '2', 'Sankt-Peterburg', '190000', 'Russia', '7 812 710-90-79', 'https://www.hermitagemuseum.org/wps/portal/hermitage/'),
 (35, 'The Metropolitan Museum of Art', '1000 5th Ave', 'New York', 'NY', '10028', 'USA', '+1 212 535-7710', 'https://www.metmuseum.org/')]

**Museum id range is 31 - 86** but we can already see **problems with the address, city and state** columns. Let's see how many museum records we have, in order to decide on how to address these problems.

In [25]:
%%sql

SELECT COUNT(*) AS total_rows, COUNT(DISTINCT museum_id) AS unique_ids
FROM museum;

 * postgresql://postgres:***@localhost:5432/famous_paintings
1 rows affected.

[(56, 56)]

That's an easily manageable amount of rows so we'll **fix errors manually**, one by one.

In [26]:
%%sql

SELECT * FROM museum;

 * postgresql://postgres:***@localhost:5432/famous_paintings
56 rows affected.

[(31, 'Pushkin State Museum of Fine Arts', '12 Ulitsa Volkhonka', 'Moscow', None, '119019', 'Russia', '+7 495 697-95-78', 'https://pushkinmuseum.art/'),
 (32, 'National Gallery of Victoria', '180 St Kilda Rd', 'Melbourne', 'Victoria', '3004', 'Australia', '+61 (0)3 8620 2222', 'https://www.ngv.vic.gov.au/'),
 (33, 'São Paulo Museum of Art', 'Av. Paulista, 1578 - Bela Vista', 'São Paulo', None, '01310-200', 'Brazil', '+55 11 3149-5959', 'https://masp.org.br/'),
 (34, 'The State Hermitage Museum', 'Palace Square', '2', 'Sankt-Peterburg', '190000', 'Russia', '7 812 710-90-79', 'https://www.hermitagemuseum.org/wps/portal/hermitage/'),
 (35, 'The Metropolitan Museum of Art', '1000 5th Ave', 'New York', 'NY', '10028', 'USA', '+1 212 535-7710', 'https://www.metmuseum.org/'),
 (36, 'Museum Folkwang', 'Museumsplatz 1', '45128', 'Essen', None, 'Germany', '49 201 8845000', 'https://www.museum-folkwang.de/en'),
 (37, 'Museum of Grenoble', '5 Pl. de Lavalette', '38000', 'Grenoble', None, 'France', '33 4 76 63 44 44', 'https://www.museedegrenoble.fr/1986-the-museum-in-english.htm'),
 (38, 'Musée des Beaux-Arts de Quimper', '40 Pl. Saint-Corentin', '29000', 'Quimper', None, 'France', '33 2 98 95 45 20', 'https://www.mbaq.fr/en/home-3.html'),
 (39, 'Nelson-Atkins Museum of Art', '4525 Oak St', 'Kansas City', 'MO', '64111', 'USA', '+1 816 751-1278', 'https://www.nelson-atkins.org/'),
 (40, 'Musée du Louvre', 'Rue de Rivoli', '75001', 'Paris', None, 'France', '33 1 40 20 50 50', 'https://www.louvre.fr/en'),
 (41, 'National Maritime Museum', 'Romney Rd', 'London', 'SE10 9NF', None, 'United Kingdom', '44 20 8858 4422', 'https://www.rmg.co.uk/national-maritime-museum'),
 (42, 'Museum of Fine Arts Boston', '465 Huntington Ave', 'Boston', 'MA', '2115', 'USA', '617-267-9300', 'https://www.mfa.org/'),
 (43, 'Rijksmuseum', 'Museumstraat 1', 'Amsterdam', None, '1071 XX', 'Netherlands', '31 20 674 7000', 'https://www.rijksmuseum.nl/en/visit'),
 (44, 'Israel Museum', 'Derech Ruppin 11', 'Jerusalem', None, None, 'Israel', '972 2-670-8811', 'https://www.imj.org.il/en'),
 (45, 'Kunsthaus Zürich', 'Heimplatz 1', 'Zurich', None, '8001', 'Switzerland', '+41 44 253 84 84', 'https://www.kunsthaus.ch/en/'),
 (46, 'National Gallery of Art', 'Constitution Ave. NW', 'Washington', 'DC', '20565', 'USA', '+1 202 737-4215', 'https://www.nga.gov/'),
 (47, 'National Gallery', 'Trafalgar Square', 'London', 'England', 'WC2N 5DN', 'UK', '+44 (0)20 7747 2885', 'https://www.nationalgallery.org.uk/'),
 (48, 'Mauritshuis Museum', 'Plein 29', 'Den Haag', None, '2511', 'Netherlands', '+31 70 302 3456', 'https://www.mauritshuis.nl/en/'),
 (49, "Musée d'Orsay", "1 Rue de la Légion d'Honneur", 'Paris', None, '75007', 'France', '+33 (0)1 40 49 48 14', 'https://www.musee-orsay.fr/en'),
 (50, 'The Prado Museum', 'C. de Ruiz de Alarcón, 23', 'Madrid', None, '28014', 'Spain', '+34 913 30 28 00', 'https://www.museodelprado.es/en'),
 (51, 'The Barnes Foundation', '2025 Benjamin Franklin Pkwy', 'Philadelphia', 'PA', '19130', 'USA', '+1 215 278-7000', 'https://www.barnesfoundation.org/'),
 (52, 'Hungarian National Gallery', 'Szent György tér 2', 'Budapest', None, '1014', 'Hungary', '+36 20 439 7331', 'https://en.mng.hu/'),
 (53, 'Cleveland Museum Of Art', '11150 East Blvd', 'Cleveland', 'OH', '44106', 'USA', '+1 216 421-7350', 'http://clevelandart.org/'),
 (54, 'Museum of Fine Arts, Houston', '1001 Bissonnet St', 'Houston', 'TX', '77005', 'USA', '+1 713 639-7300', 'https://www.mfah.org/'),
 (55, 'The J. Paul Getty Museum', '1200 Getty Center Dr', 'Los Angeles', 'CA', '90049', 'USA', '+1 310 440-7300', 'https://www.getty.edu/museum/'),
 (56, 'Thussen-Bornemisza Museum', 'P.º del Prado, 8', 'Madrid', None, '28014', 'Spain', '+ 34 917 91 13 70', 'https://www.museothyssen.org/en'),
 (57, 'Van Gogh Museum', 'Museumplein 6', 'Amsterdam', None, '1071 DJ', 'Netherlands', '+1 020 570 52 00', 'https://www.vangoghmuseum.nl/en'),
 (58, 'The Phillips Collection', '1600 21st St NW', 'Washington', 'DC', '20009', 'USA', '+1 202 387-2151', 'https://www.phillipscollection.org/'),
 (59, 'Toledo Museum of Art', '2445 Monroe St', 'Toledo', 'OH', '43620', 'USA', '+1 419 255-8000', 'https://www.toledomuseum.org/'),
 (60, 'Los Angeles County Museum of Art', '5905 Wilshire Blvd', 'Los Angeles', 'CA', '90036', 'USA', '+1 323 857-6000', 'https://www.lacma.org/'),
 (61, 'Solomon R. Guggenheim Museum', '1071 Fifth Avenue', 'New York', 'NY', '10128', 'USA', '+1 212 423-3500', 'https://www.guggenheim.org/'),
 (62, 'The Tate Gallery', 'Millbank', 'London', 'England', 'SW1P 4RG', 'UK', '+44 (0)20 7887 8888', 'https://www.tate.org.uk/visit/tate-britain'),
 (63, 'Indianapolis Museum of Art', '4000 N Michigan Rd', 'Indianapolis', 'IN', '46208', 'USA', '+1 317923-1331', 'https://discovernewfields.org/'),
 (64, 'Museum of Fine Arts of Nancy', '3 Pl. Stanislas', 'Nancy', None, '54000', 'France', '+33 3 83 85 30 01', 'https://useum.org/museum/Museum-of-Fine-Arts-of-Nancy'),
 (65, 'Fine Arts Museums of San Francisco Legion of Honor', '100 34th  Avenue', 'San Francisco', 'CA', '94121', 'USA', '+1 415 750-3600', 'https://www.famsf.org/'),
 (66, 'Smithsonian American Art Museum', '800 G Street NW', 'Washington', 'DC', '20004', 'USA', '+1 202 633-1000', 'https://americanart.si.edu/'),
 (67, 'Philadelphia Museum of Art', '2600 Benjamin Franklin Pkwy', 'Philadelphia', 'PA', '19130', 'USA', '+1 215 763-8100', 'https://philamuseum.org/'),
 (68, 'The Art Institute of Chicago', '111 S Michigan Ave', 'Chicago', 'IL', '60603', 'USA', '+1 312  443-3600', 'https://www.artic.edu/'),
 (69, 'Saint Louis Art Museum', '1 Fine Arts Dr', 'St. Louis', 'MO', '63001', 'USA', '+1 304 721-0072', 'http://www.slam.org/'),
 (70, 'Uffizi Gallery Italy', 'Piazzale degli Uffizi, 6', 'Firenze', 'FL', '50122', 'Italy', '+39 055 294883', 'https://www.uffizi.it/en'),
 (71, 'Ohara Museum of Art', '1 Chome-1-15 Central', 'Kurashiki', 'Okayama', '710-8575', 'Japan', '+81 86-422-0005', 'https://www.ohara.or.jp/en/'),
 (72, 'Musée Marmottan Monet', '2 Rue Louis Boilly', 'Paris', None, '75016', 'France', '+33 1 44 96 50 33', 'https://www.marmottan.fr/en/'),
 (73, 'Walters Art Museum', '600 N Charles St', 'Baltimore', 'MD', '21201', 'USA', '+1 410 547-9000', 'https://thewalters.org/'),
 (74, 'Kröller-Müller Museum', 'Houtkampweg 6', '6731 AW Otterlo', None, None, 'Netherlands', '+31 318 591 241', 'https://krollermuller.nl/en'),
 (75, 'National Museum', 'Cathays Park', 'Cardiff', 'Wales', 'CF10 3NP', 'UK', '+44 300 111 2333', 'https://museum.wales/'),
 (76, 'Columbus Museum of Art', '480 E Broad St', 'Columbus', 'OH', '43215', 'USA', '+1 (614) 221-6801', 'https://www.columbusmuseum.org/'),
 (77, 'Kimbell Art Museum', '3333 Camp Bowie Blvd', 'Fort Worth', 'TX', '76107', 'USA', '+(817) 332-8451', 'https://kimbellart.org/'),
 (78, 'Walker Art Gallery', 'William Brown St', 'Liverpool', None, 'L3 8EL', 'UK', '+44 151 478 4199', 'https://www.liverpoolmuseums.org.uk/'),
 (79, 'National Museum of Art Architecture and Design', 'Brynjulf Bulls plass 3', 'Oslo', None, '0250', 'Norway', '+47 21 98 20 00', 'https://www.nasjonalmuseet.no/en/'),
 (80, 'Dallas Museum of Art', '1717 N Harwood St', 'Dallas', 'TX', '75201', 'USA', '+1(214) 922-1200', 'https://www.dma.org/'),
 (81, 'Museum of Fine Arts', 'Hodlerstrasse 8', 'Bern', None, '3011', 'Switzerland', '+41 31 328 09 44', 'https://www.kunstmuseumbern.ch/en/'),
 (82, 'Army Museum', '129 Rue de Grenelle', 'Paris', None, '75007', 'France', '+33 810 11 33 99', 'https://www.musee-armee.fr/en/english-version.html'),
 (83, 'Chrysler Museum of Art', '1 Memorial Pl', 'Norfolk', 'VA', '23510', 'USA', '+1(757) 664-6200', 'https://chrysler.org/'),
 (84, 'National Gallery Prague', 'Václavské nám. 68', 'Nové Měst', None, '110 15', 'Czechia', '+420 224 497 111', 'https://www.nm.cz/en'),
 (85, 'Norton Simon Museum', '411 W Colorado Blvd', 'Pasadena', 'CA', '91105', 'USA', '+1(626) 449-6840', 'https://www.nortonsimon.org/'),
 (86, 'Courtauld Gallery', 'Somerset House', 'Stran', 'London', 'WC2R 0RN', 'UK', '+44 20 3947 7777', 'https://courtauld.ac.uk/')]

In [27]:
%%sql

WITH updates (museum_id, address, city, state, postal) AS (
    VALUES
        (34, '2 Palace Square', 'Sankt-Peterburg', NULL, '190000'),
        (36, 'Museumsplatz 1', 'Essen', NULL, '45128'),
        (37, '5 Pl. de Lavalette', 'Grenoble', NULL, '38000'),
        (38, '40 Pl. Saint-Corentin', 'Quimper', NULL, '29000'), 
        (40, 'Rue de Rivoli', 'Paris', NULL, '75001'), 
        (41, 'Romney Rd', 'London', NULL, 'SE10 9NF'), 
        (47, 'Trafalgar Square', 'London', NULL, 'WC2N 5DN'), 
        (62, 'Millbank', 'London', NULL, 'SW1P 4RG'),
        (74, 'Houtkampweg 6', 'Otterlo', NULL, '6731 AW'), 
        (75, 'Cathays Park', 'Cardiff', NULL, 'CF10 3NP'),
        (86, 'Somerset House', 'London', 'Strand', 'WC2R 0RN')        
)
UPDATE museum
SET 
    address = updates.address,
    city = updates.city,
    state = updates.state
FROM updates
WHERE museum.museum_id = updates.museum_id;

UPDATE museum
SET country = CASE
                WHEN museum_id IN (41, 47, 62, 78, 86) THEN 'England'
                WHEN museum_id = 75 THEN 'Wales'
                ELSE country
              END;

 * postgresql://postgres:***@localhost:5432/famous_paintings
11 rows affected.
56 rows affected.

[]

In [28]:
%%sql 

SELECT * FROM museum;

 * postgresql://postgres:***@localhost:5432/famous_paintings
56 rows affected.

[(31, 'Pushkin State Museum of Fine Arts', '12 Ulitsa Volkhonka', 'Moscow', None, '119019', 'Russia', '+7 495 697-95-78', 'https://pushkinmuseum.art/'),
 (32, 'National Gallery of Victoria', '180 St Kilda Rd', 'Melbourne', 'Victoria', '3004', 'Australia', '+61 (0)3 8620 2222', 'https://www.ngv.vic.gov.au/'),
 (33, 'São Paulo Museum of Art', 'Av. Paulista, 1578 - Bela Vista', 'São Paulo', None, '01310-200', 'Brazil', '+55 11 3149-5959', 'https://masp.org.br/'),
 (35, 'The Metropolitan Museum of Art', '1000 5th Ave', 'New York', 'NY', '10028', 'USA', '+1 212 535-7710', 'https://www.metmuseum.org/'),
 (39, 'Nelson-Atkins Museum of Art', '4525 Oak St', 'Kansas City', 'MO', '64111', 'USA', '+1 816 751-1278', 'https://www.nelson-atkins.org/'),
 (42, 'Museum of Fine Arts Boston', '465 Huntington Ave', 'Boston', 'MA', '2115', 'USA', '617-267-9300', 'https://www.mfa.org/'),
 (43, 'Rijksmuseum', 'Museumstraat 1', 'Amsterdam', None, '1071 XX', 'Netherlands', '31 20 674 7000', 'https://www.rijksmuseum.nl/en/visit'),
 (44, 'Israel Museum', 'Derech Ruppin 11', 'Jerusalem', None, None, 'Israel', '972 2-670-8811', 'https://www.imj.org.il/en'),
 (45, 'Kunsthaus Zürich', 'Heimplatz 1', 'Zurich', None, '8001', 'Switzerland', '+41 44 253 84 84', 'https://www.kunsthaus.ch/en/'),
 (46, 'National Gallery of Art', 'Constitution Ave. NW', 'Washington', 'DC', '20565', 'USA', '+1 202 737-4215', 'https://www.nga.gov/'),
 (48, 'Mauritshuis Museum', 'Plein 29', 'Den Haag', None, '2511', 'Netherlands', '+31 70 302 3456', 'https://www.mauritshuis.nl/en/'),
 (49, "Musée d'Orsay", "1 Rue de la Légion d'Honneur", 'Paris', None, '75007', 'France', '+33 (0)1 40 49 48 14', 'https://www.musee-orsay.fr/en'),
 (50, 'The Prado Museum', 'C. de Ruiz de Alarcón, 23', 'Madrid', None, '28014', 'Spain', '+34 913 30 28 00', 'https://www.museodelprado.es/en'),
 (51, 'The Barnes Foundation', '2025 Benjamin Franklin Pkwy', 'Philadelphia', 'PA', '19130', 'USA', '+1 215 278-7000', 'https://www.barnesfoundation.org/'),
 (52, 'Hungarian National Gallery', 'Szent György tér 2', 'Budapest', None, '1014', 'Hungary', '+36 20 439 7331', 'https://en.mng.hu/'),
 (53, 'Cleveland Museum Of Art', '11150 East Blvd', 'Cleveland', 'OH', '44106', 'USA', '+1 216 421-7350', 'http://clevelandart.org/'),
 (54, 'Museum of Fine Arts, Houston', '1001 Bissonnet St', 'Houston', 'TX', '77005', 'USA', '+1 713 639-7300', 'https://www.mfah.org/'),
 (55, 'The J. Paul Getty Museum', '1200 Getty Center Dr', 'Los Angeles', 'CA', '90049', 'USA', '+1 310 440-7300', 'https://www.getty.edu/museum/'),
 (56, 'Thussen-Bornemisza Museum', 'P.º del Prado, 8', 'Madrid', None, '28014', 'Spain', '+ 34 917 91 13 70', 'https://www.museothyssen.org/en'),
 (57, 'Van Gogh Museum', 'Museumplein 6', 'Amsterdam', None, '1071 DJ', 'Netherlands', '+1 020 570 52 00', 'https://www.vangoghmuseum.nl/en'),
 (58, 'The Phillips Collection', '1600 21st St NW', 'Washington', 'DC', '20009', 'USA', '+1 202 387-2151', 'https://www.phillipscollection.org/'),
 (59, 'Toledo Museum of Art', '2445 Monroe St', 'Toledo', 'OH', '43620', 'USA', '+1 419 255-8000', 'https://www.toledomuseum.org/'),
 (60, 'Los Angeles County Museum of Art', '5905 Wilshire Blvd', 'Los Angeles', 'CA', '90036', 'USA', '+1 323 857-6000', 'https://www.lacma.org/'),
 (61, 'Solomon R. Guggenheim Museum', '1071 Fifth Avenue', 'New York', 'NY', '10128', 'USA', '+1 212 423-3500', 'https://www.guggenheim.org/'),
 (63, 'Indianapolis Museum of Art', '4000 N Michigan Rd', 'Indianapolis', 'IN', '46208', 'USA', '+1 317923-1331', 'https://discovernewfields.org/'),
 (64, 'Museum of Fine Arts of Nancy', '3 Pl. Stanislas', 'Nancy', None, '54000', 'France', '+33 3 83 85 30 01', 'https://useum.org/museum/Museum-of-Fine-Arts-of-Nancy'),
 (65, 'Fine Arts Museums of San Francisco Legion of Honor', '100 34th  Avenue', 'San Francisco', 'CA', '94121', 'USA', '+1 415 750-3600', 'https://www.famsf.org/'),
 (66, 'Smithsonian American Art Museum', '800 G Street NW', 'Washington', 'DC', '20004', 'USA', '+1 202 633-1000', 'https://americanart.si.edu/'),
 (67, 'Philadelphia Museum of Art', '2600 Benjamin Franklin Pkwy', 'Philadelphia', 'PA', '19130', 'USA', '+1 215 763-8100', 'https://philamuseum.org/'),
 (68, 'The Art Institute of Chicago', '111 S Michigan Ave', 'Chicago', 'IL', '60603', 'USA', '+1 312  443-3600', 'https://www.artic.edu/'),
 (69, 'Saint Louis Art Museum', '1 Fine Arts Dr', 'St. Louis', 'MO', '63001', 'USA', '+1 304 721-0072', 'http://www.slam.org/'),
 (70, 'Uffizi Gallery Italy', 'Piazzale degli Uffizi, 6', 'Firenze', 'FL', '50122', 'Italy', '+39 055 294883', 'https://www.uffizi.it/en'),
 (71, 'Ohara Museum of Art', '1 Chome-1-15 Central', 'Kurashiki', 'Okayama', '710-8575', 'Japan', '+81 86-422-0005', 'https://www.ohara.or.jp/en/'),
 (72, 'Musée Marmottan Monet', '2 Rue Louis Boilly', 'Paris', None, '75016', 'France', '+33 1 44 96 50 33', 'https://www.marmottan.fr/en/'),
 (73, 'Walters Art Museum', '600 N Charles St', 'Baltimore', 'MD', '21201', 'USA', '+1 410 547-9000', 'https://thewalters.org/'),
 (76, 'Columbus Museum of Art', '480 E Broad St', 'Columbus', 'OH', '43215', 'USA', '+1 (614) 221-6801', 'https://www.columbusmuseum.org/'),
 (77, 'Kimbell Art Museum', '3333 Camp Bowie Blvd', 'Fort Worth', 'TX', '76107', 'USA', '+(817) 332-8451', 'https://kimbellart.org/'),
 (78, 'Walker Art Gallery', 'William Brown St', 'Liverpool', None, 'L3 8EL', 'England', '+44 151 478 4199', 'https://www.liverpoolmuseums.org.uk/'),
 (79, 'National Museum of Art Architecture and Design', 'Brynjulf Bulls plass 3', 'Oslo', None, '0250', 'Norway', '+47 21 98 20 00', 'https://www.nasjonalmuseet.no/en/'),
 (80, 'Dallas Museum of Art', '1717 N Harwood St', 'Dallas', 'TX', '75201', 'USA', '+1(214) 922-1200', 'https://www.dma.org/'),
 (81, 'Museum of Fine Arts', 'Hodlerstrasse 8', 'Bern', None, '3011', 'Switzerland', '+41 31 328 09 44', 'https://www.kunstmuseumbern.ch/en/'),
 (82, 'Army Museum', '129 Rue de Grenelle', 'Paris', None, '75007', 'France', '+33 810 11 33 99', 'https://www.musee-armee.fr/en/english-version.html'),
 (83, 'Chrysler Museum of Art', '1 Memorial Pl', 'Norfolk', 'VA', '23510', 'USA', '+1(757) 664-6200', 'https://chrysler.org/'),
 (84, 'National Gallery Prague', 'Václavské nám. 68', 'Nové Měst', None, '110 15', 'Czechia', '+420 224 497 111', 'https://www.nm.cz/en'),
 (40, 'Musée du Louvre', 'Rue de Rivoli', 'Paris', None, None, 'France', '33 1 40 20 50 50', 'https://www.louvre.fr/en'),
 (85, 'Norton Simon Museum', '411 W Colorado Blvd', 'Pasadena', 'CA', '91105', 'USA', '+1(626) 449-6840', 'https://www.nortonsimon.org/'),
 (34, 'The State Hermitage Museum', '2 Palace Square', 'Sankt-Peterburg', None, '190000', 'Russia', '7 812 710-90-79', 'https://www.hermitagemuseum.org/wps/portal/hermitage/'),
 (36, 'Museum Folkwang', 'Museumsplatz 1', 'Essen', None, None, 'Germany', '49 201 8845000', 'https://www.museum-folkwang.de/en'),
 (37, 'Museum of Grenoble', '5 Pl. de Lavalette', 'Grenoble', None, None, 'France', '33 4 76 63 44 44', 'https://www.museedegrenoble.fr/1986-the-museum-in-english.htm'),
 (38, 'Musée des Beaux-Arts de Quimper', '40 Pl. Saint-Corentin', 'Quimper', None, None, 'France', '33 2 98 95 45 20', 'https://www.mbaq.fr/en/home-3.html'),
 (41, 'National Maritime Museum', 'Romney Rd', 'London', None, None, 'England', '44 20 8858 4422', 'https://www.rmg.co.uk/national-maritime-museum'),
 (47, 'National Gallery', 'Trafalgar Square', 'London', None, 'WC2N 5DN', 'England', '+44 (0)20 7747 2885', 'https://www.nationalgallery.org.uk/'),
 (62, 'The Tate Gallery', 'Millbank', 'London', None, 'SW1P 4RG', 'England', '+44 (0)20 7887 8888', 'https://www.tate.org.uk/visit/tate-britain'),
 (74, 'Kröller-Müller Museum', 'Houtkampweg 6', 'Otterlo', None, None, 'Netherlands', '+31 318 591 241', 'https://krollermuller.nl/en'),
 (75, 'National Museum', 'Cathays Park', 'Cardiff', None, 'CF10 3NP', 'Wales', '+44 300 111 2333', 'https://museum.wales/'),
 (86, 'Courtauld Gallery', 'Somerset House', 'London', 'Strand', 'WC2R 0RN', 'England', '+44 20 3947 7777', 'https://courtauld.ac.uk/')]

Problems fixed.
## museum_hours Table

In [29]:
%%sql

SELECT * FROM museum_hours LIMIT 5;

 * postgresql://postgres:***@localhost:5432/famous_paintings
5 rows affected.

[(30, 'Monday', '10:30:AM', '05:30:PM'),
 (30, 'Tuesday', '10:30:AM', '05:30:PM'),
 (30, 'Wednesday', '10:30:AM', '05:30:PM'),
 (30, 'Thusday', '10:30:AM', '05:30:PM'),
 (30, 'Friday', '10:30:AM', '05:30:PM')]

We're going to **drop records with museum_id = 30** as it wasn't in our museum_id range, we'll **change** the **datatype of open and close** columns **to TIME in 24h** format to easily calculate museum open hours, **change 'Thusday' to 'Thursday'** and deal with any other inconsistency that will come up!

In [30]:
%%sql
DELETE FROM museum_hours
WHERE museum_id = 30;

ALTER TABLE museum_hours 
ALTER COLUMN open TYPE TIME USING TO_TIMESTAMP(open, 'HH:MI:PM')::TIME;
        
ALTER TABLE museum_hours 
ALTER COLUMN close TYPE TIME USING TO_TIMESTAMP(close, 'HH:MI:PM')::TIME;

 * postgresql://postgres:***@localhost:5432/famous_paintings
6 rows affected.
Done.
Done.

[]

In [31]:
%%sql

UPDATE museum_hours
SET day = 'Thursday'
WHERE day = 'Thusday';

 * postgresql://postgres:***@localhost:5432/famous_paintings
16 rows affected.

[]

In [32]:
%%sql

SELECT * FROM museum_hours
ORDER BY museum_id
LIMIT 20;

 * postgresql://postgres:***@localhost:5432/famous_paintings
20 rows affected.

[(31, 'Sunday', datetime.time(11, 0), datetime.time(18, 0)),
 (31, 'Friday', datetime.time(11, 0), datetime.time(18, 0)),
 (31, 'Tuesday', datetime.time(11, 0), datetime.time(18, 0)),
 (31, 'Saturday', datetime.time(11, 0), datetime.time(18, 0)),
 (31, 'Wednesday', datetime.time(11, 0), datetime.time(18, 0)),
 (31, 'Thursday', datetime.time(11, 0), datetime.time(18, 0)),
 (31, 'Monday', datetime.time(11, 0), datetime.time(18, 0)),
 (32, 'Sunday', datetime.time(10, 0), datetime.time(17, 0)),
 (32, 'Saturday', datetime.time(10, 0), datetime.time(17, 0)),
 (32, 'Friday', datetime.time(10, 0), datetime.time(17, 0)),
 (32, 'Wednesday', datetime.time(10, 0), datetime.time(17, 0)),
 (32, 'Thursday', datetime.time(10, 0), datetime.time(17, 0)),
 (32, 'Tuesday', datetime.time(10, 0), datetime.time(17, 0)),
 (32, 'Monday', datetime.time(10, 0), datetime.time(17, 0)),
 (33, 'Wednesday', datetime.time(10, 0), datetime.time(18, 0)),
 (33, 'Tuesday', datetime.time(10, 0), datetime.time(20, 0)),
 (33, 'Sunday', datetime.time(10, 0), datetime.time(18, 0)),
 (33, 'Saturday', datetime.time(10, 0), datetime.time(18, 0)),
 (33, 'Friday', datetime.time(10, 0), datetime.time(18, 0)),
 (33, 'Thursday', datetime.time(10, 0), datetime.time(18, 0))]

Looks ok.
## product_size Table

In [33]:
%%sql

SELECT * FROM product_size LIMIT 5;

 * postgresql://postgres:***@localhost:5432/famous_paintings
5 rows affected.

[(160228, '30', 95, 95),
 (160236, '24', 85, 85),
 (160236, '30', 95, 95),
 (160244, '24', 85, 85),
 (160244, '30', 95, 95)]

In [34]:
%%sql

SELECT COUNT(*) AS total, COUNT(size_id) AS size_col, COUNT(sale_price) AS sale_col, COUNT(regular_price) AS regular_col, MIN(sale_price) AS min_sale, MAX(sale_price) AS max_sale, MIN(regular_price) AS min_regular, MAX(regular_price) AS max_regular FROM product_size;

 * postgresql://postgres:***@localhost:5432/famous_paintings
1 rows affected.

[(110346, 110346, 110346, 110346, 10, 1115, 75, 2235)]

**No NULL values**, but let's **check** if there are **unique work_id - size_id pairs**.

In [35]:
%%sql

SELECT work_id, size_id, COUNT(*) AS duplicate_count
FROM product_size
GROUP BY work_id, size_id
HAVING COUNT(*) > 1;

 * postgresql://postgres:***@localhost:5432/famous_paintings
685 rows affected.

[(125785, '4030', 2),
 (135881, '3648', 2),
 (31780, '36', 2),
 (124542, '5436', 2),
 (181752, '3040', 2),
 (181540, '3046', 2),
 (181547, '2436', 2),
 (181412, '4848', 2),
 (124533, '7248', 2),
 (147753, '2430', 2),
 (122171, '2632', 2),
 (124470, '4630', 2),
 (194092, '2430', 2),
 (181483, '3030', 2),
 (181761, '2632', 2),
 (124488, '6040', 2),
 (181909, '3040', 2),
 (181891, '2430', 2),
 (194169, '30', 2),
 (125774, '6048', 2),
 (147806, '3654', 2),
 (194162, '6048', 2),
 (181363, '3040', 2),
 (147753, '4860', 2),
 (181805, '2436', 2),
 (122204, '5468', 2),
 (122171, '2936', 2),
 (147775, '3040', 2),
 (147786, '3040', 2),
 (135936, '2632', 2),
 (31778, '2936', 2),
 (181540, '4872', 2),
 (124470, '30', 2),
 (122224, '3046', 2),
 (181526, '4872', 2),
 (181761, '4860', 2),
 (122182, '3040', 2),
 (124578, '6040', 2),
 (147797, '3046', 2),
 (122204, '2632', 2),
 (181882, '2430', 2),
 (125796, '3629', 2),
 (147764, '1620', 2),
 (194176, '36', 2),
 (194155, '36', 2),
 (135892, '4860', 2),
 (147786, '4860', 2),
 (122204, '3648', 2),
 (122193, '1620', 2),
 (181340, '3040', 2),
 (122691, '5468', 2),
 (135969, '2632', 2),
 (135914, '3648', 2),
 (181441, '4060', 2),
 (124569, '4630', 2),
 (147806, '3046', 2),
 (122691, '2430', 2),
 (181798, '4060', 2),
 (135980, '3648', 2),
 (194101, '36', 2),
 (181457, '3040', 2),
 (135903, '2936', 2),
 (124533, '6040', 2),
 (125785, '30', 2),
 (125752, '4836', 2),
 (181569, '3046', 2),
 (194083, '2632', 2),
 (147786, '2936', 2),
 (181873, '3648', 2),
 (124587, '7248', 2),
 (23448, '4030', 2),
 (135914, '2430', 2),
 (194130, '5468', 2),
 (194121, '30', 2),
 (135969, '3648', 2),
 (181848, '3654', 2),
 (194121, '3648', 2),
 (124515, '5436', 2),
 (122691, '2024', 2),
 (124515, '4630', 2),
 (122193, '3040', 2),
 (124533, '4630', 2),
 (125763, '3024', 2),
 (23448, '20', 2),
 (181499, '2430', 2),
 (124506, '6040', 2),
 (124515, '6040', 2),
 (122204, '2024', 2),
 (181491, '6060', 2),
 (194083, '4860', 2),
 (147742, '2430', 2),
 (181932, '4860', 2),
 (147764, '2430', 2),
 (124470, '3624', 2),
 (125807, '6048', 2),
 (125752, '3024', 2),
 (124497, '7248', 2),
 (124470, '7248', 2),
 (122182, '5468', 2),
 (124551, '6040', 2),
 (24536, '1620', 2),
 (124587, '3624', 2),
 (181752, '5468', 2),
 (181882, '4860', 2),
 (194169, '36', 2),
 (124551, '7248', 2),
 (125752, '30', 2),
 (122691, '3648', 2),
 (124524, '7248', 2),
 (124488, '3624', 2),
 (181891, '4860', 2),
 (194074, '2936', 2),
 (181533, '3046', 2),
 (181547, '3046', 2),
 (181441, '3654', 2),
 (181594, '3040', 2),
 (181925, '3654', 2),
 (181848, '3046', 2),
 (122204, '3040', 2),
 (125796, '6048', 2),
 (122662, '3024', 2),
 (24532, '4630', 2),
 (181508, '3648', 2),
 (125796, '4836', 2),
 (181499, '3648', 2),
 (194101, '3040', 2),
 (125785, '3226', 2),
 (124533, '5436', 2),
 (194092, '3040', 2),
 (147731, '3040', 2),
 (125763, '4836', 2),
 (181594, '4860', 2),
 (124470, '20', 2),
 (194162, '30', 2),
 (181805, '4872', 2),
 (31778, '3040', 2),
 (181363, '5468', 2),
 (181526, '3654', 2),
 (147815, '6854', 2),
 (181396, '4060', 2),
 (181390, '4872', 2),
 (194130, '2936', 2),
 (194121, '5468', 2),
 (181533, '4060', 2),
 (194169, '4030', 2),
 (124542, '3624', 2),
 (147731, '1620', 2),
 (122662, '2016', 2),
 (124497, '6040', 2),
 (194130, '4860', 2),
 (194169, '4836', 2),
 (125774, '24', 2),
 (194148, '36', 2),
 (135925, '3648', 2),
 (194110, '2936', 2),
 (147797, '2030', 2),
 (181932, '2936', 2),
 (122171, '2430', 2),
 (135958, '2936', 2),
 (194074, '36', 2),
 (122691, '2936', 2),
 (181499, '3040', 2),
 (181318, '4860', 2),
 (122182, '1620', 2),
 (125807, '3226', 2),
 (23448, '3629', 2),
 (125785, '3629', 2),
 (135980, '2632', 2),
 (194083, '5468', 2),
 (147764, '3648', 2),
 (122204, '2430', 2),
 (181873, '2936', 2),
 (147815, '3629', 2),
 (181925, '3046', 2),
 (147775, '2430', 2),
 (194121, '4860', 2),
 (135947, '5468', 2),
 (181882, '2936', 2),
 (181918, '4060', 2),
 (122224, '2436', 2),
 (194074, '30', 2),
 (181562, '3046', 2),
 (181412, '6060', 2),
 (122224, '4060', 2),
 (135914, '2936', 2),
 (124524, '4630', 2),
 (135969, '5468', 2),
 (122171, '4860', 2),
 (181918, '3046', 2),
 (181891, '5468', 2),
 (124551, '3624', 2),
 (181517, '5468', 2),
 (124479, '3624', 2),
 (194065, '3040', 2),
 (194162, '36', 2),
 (124533, '30', 2),
 (147753, '5468', 2),
 (147753, '3648', 2),
 (24536, '2632', 2),
 (124542, '6040', 2),
 (181508, '2936', 2),
 (147742, '2024', 2),
 (160228, '30', 2),
 (181918, '4872', 2),
 (135903, '2632', 2),
 (135980, '4860', 2),
 (181340, '2936', 2),
 (124506, '5436', 2),
 (181396, '4872', 2),
 (122193, '5468', 2),
 (24532, '7248', 2),
 (135947, '24', 2),
 (125752, '6854', 2),
 (122215, '4060', 2),
 (181483, '3636', 2),
 (181499, '5468', 2),
 (181777, '4872', 2),
 (181909, '3648', 2),
 (181457, '2936', 2),
 (181805, '4060', 2),
 (194074, '2632', 2),
 (181491, '3030', 2),
 (194065, '4860', 2),
 (147731, '2430', 2),
 (181594, '2936', 2),
 (194110, '4860', 2),
 (31780, '2436', 2),
 (135881, '2936', 2),
 (181547, '4060', 2),
 (135914, '3040', 2),
 (194121, '3040', 2),
 (181798, '3046', 2),
 (194092, '2936', 2),
 (23448, '4836', 2),
 (135958, '4860', 2),
 (23448, '6048', 2),
 (194155, '6048', 2),
 (147775, '3648', 2),
 (125763, '4030', 2),
 (181396, '3654', 2),
 (181594, '5468', 2),
 (135958, '5468', 2),
 (147742, '3648', 2),
 (194074, '4860', 2),
 (124479, '6040', 2),
 (181508, '2632', 2),
 (181340, '2430', 2),
 (181918, '3654', 2),
 (124515, '3624', 2),
 (181848, '2436', 2),
 (124470, '24', 2),
 (181873, '4860', 2),
 (181441, '4872', 2),
 (135892, '3648', 2),
 (122215, '1624', 2),
 (181932, '2632', 2),
 (135947, '2430', 2),
 (181805, '3654', 2),
 (147764, '5468', 2),
 (194110, '2632', 2),
 (124497, '4630', 2),
 (181318, '5468', 2),
 (135936, '3040', 2),
 (135914, '5468', 2),
 (124551, '4630', 2),
 (125752, '3629', 2),
 (24536, '3648', 2),
 (194083, '3040', 2),
 (147815, '6048', 2),
 (181363, '4860', 2),
 (181882, '2632', 2),
 (194074, '3648', 2),
 (122182, '2936', 2),
 (125785, '24', 2),
 (194155, '30', 2),
 (147753, '2632', 2),
 (181752, '3648', 2),
 (181483, '6060', 2),
 (147775, '4860', 2),
 (181569, '4060', 2),
 (181457, '2632', 2),
 (194065, '2430', 2),
 (124533, '24', 2),
 (181483, '4848', 2),
 (181761, '5468', 2),
 (135947, '4860', 2),
 (181932, '3648', 2),
 (125818, '3624', 2),
 (181918, '2436', 2),
 (147731, '2024', 2),
 (181491, '4848', 2),
 (147775, '2936', 2),
 (181363, '2430', 2),
 (194083, '2936', 2),
 (181848, '4060', 2),
 (181499, '2632', 2),
 (31780, '3046', 2),
 (125763, '24', 2),
 (194148, '3629', 2),
 (125774, '6854', 2),
 (135881, '2430', 2),
 (124506, '4630', 2),
 (124497, '3624', 2),
 (194176, '40', 2),
 (147764, '4860', 2),
 (135914, '4860', 2),
 (181752, '4860', 2),
 (135936, '3648', 2),
 (181508, '5468', 2),
 (181761, '2936', 2),
 (181891, '2936', 2),
 (147731, '2936', 2),
 (160268, '30', 2),
 (181569, '2436', 2),
 (194101, '2430', 2),
 (135914, '2632', 2),
 (122215, '3046', 2),
 (122171, '1620', 2),
 (122662, '4836', 2),
 (181784, '3654', 2),
 (194169, '6854', 2),
 (181798, '3654', 2),
 (124560, '7248', 2),
 (31778, '2430', 2),
 (194162, '4836', 2),
 (181517, '2430', 2),
 (24536, '5468', 2),
 (181777, '3654', 2),
 (181508, '2430', 2),
 (181798, '2436', 2),
 (135958, '3040', 2),
 (194110, '2430', 2),
 (160260, '24', 2),
 (122224, '3654', 2),
 (31780, '4060', 2),
 (147775, '5468', 2),
 (31778, '4860', 2),
 (181848, '4872', 2),
 (194162, '6854', 2),
 (125818, '4630', 2),
 (181932, '2430', 2),
 (124587, '4630', 2),
 (122182, '4860', 2),
 (147742, '3040', 2),
 (124470, '5436', 2),
 (181340, '3648', 2),
 (181752, '2430', 2),
 (124524, '5436', 2),
 (181517, '4860', 2),
 (181784, '4872', 2),
 (135903, '3648', 2),
 (181526, '2436', 2),
 (147742, '2632', 2),
 (125774, '4836', 2),
 (135892, '3040', 2),
 (181873, '3040', 2),
 (124515, '24', 2),
 (24532, '6040', 2),
 (194176, '30', 2),
 (181483, '2424', 2),
 (124506, '3624', 2),
 (181318, '2936', 2),
 (181412, '3030', 2),
 (181499, '4860', 2),
 (181318, '3648', 2),
 (124479, '5436', 2),
 (181805, '3046', 2),
 (160252, '24', 2),
 (24532, '5436', 2),
 (181594, '2430', 2),
 (135980, '2936', 2),
 (181891, '3040', 2),
 (124524, '24', 2),
 (135892, '2632', 2),
 (125774, '3024', 2),
 (194130, '3040', 2),
 (160244, '30', 2),
 (122215, '4872', 2),
 (125774, '30', 2),
 (23448, '3024', 2),
 (125807, '4030', 2),
 (135892, '2430', 2),
 (181499, '2936', 2),
 (124488, '5436', 2),
 (181569, '4872', 2),
 (181562, '4872', 2),
 (147786, '5468', 2),
 (124551, '5436', 2),
 (125785, '6048', 2),
 (147742, '2936', 2),
 (135936, '2936', 2),
 (125807, '3629', 2),
 (147786, '2024', 2),
 (147815, '4030', 2),
 (135925, '3040', 2),
 (135881, '4860', 2),
 (135881, '3040', 2),
 (181483, '4040', 2),
 (122193, '4860', 2),
 (194092, '5468', 2),
 (194121, '2936', 2),
 (160260, '30', 2),
 (135969, '2430', 2),
 (181562, '3654', 2),
 (122662, '6048', 2),
 (194074, '5468', 2),
 (181909, '2632', 2),
 (122193, '3648', 2),
 (181457, '5468', 2),
 (194092, '2632', 2),
 (181526, '4060', 2),
 (181318, '2632', 2),
 (194169, '6048', 2),
 (135903, '4860', 2),
 (181784, '2436', 2),
 (181441, '2436', 2),
 (181533, '4872', 2),
 (181547, '4872', 2),
 (181909, '5468', 2),
 (24536, '2430', 2),
 (122691, '1620', 2),
 (124569, '3624', 2),
 (135892, '2936', 2),
 (124578, '4630', 2),
 (124533, '3624', 2),
 (135947, '30', 2),
 (147797, '1624', 2),
 (31778, '5468', 2),
 (147797, '4060', 2),
 (181457, '2430', 2),
 (181932, '5468', 2),
 (181517, '2632', 2),
 (135958, '3648', 2),
 (125763, '6048', 2),
 (125807, '3024', 2),
 (124560, '4630', 2),
 (135947, '3040', 2),
 (181569, '3654', 2),
 (181761, '3040', 2),
 (122204, '1620', 2),
 (125818, '24', 2),
 (181457, '4860', 2),
 (125752, '4030', 2),
 (147742, '4860', 2),
 (135969, '3040', 2),
 (135925, '2430', 2),
 (23448, '24', 2),
 (194083, '2430', 2),
 (122171, '2024', 2),
 (194148, '6048', 2),
 (181777, '4060', 2),
 (181412, '4040', 2),
 (194065, '2936', 2),
 (194130, '3648', 2),
 (181891, '2632', 2),
 (194101, '2936', 2),
 (194155, '6854', 2),
 (181540, '4060', 2),
 (147806, '4872', 2),
 (147731, '2632', 2),
 (181457, '3648', 2),
 (122193, '2632', 2),
 (194148, '30', 2),
 (194110, '3648', 2),
 (124524, '3624', 2),
 (147764, '2936', 2),
 (181396, '2436', 2),
 (147731, '3648', 2),
 (181390, '3046', 2),
 (194155, '4836', 2),
 (125763, '3226', 2),
 (125785, '6854', 2),
 (181761, '2430', 2),
 (124578, '3624', 2),
 (181562, '4060', 2),
 (194083, '3648', 2),
 (135892, '5468', 2),
 (181784, '3046', 2),
 (124515, '7248', 2),
 (24532, '3624', 2),
 (181390, '3654', 2),
 (122224, '4872', 2),
 (181491, '2424', 2),
 (122215, '2030', 2),
 (181909, '2430', 2),
 (24536, '3040', 2),
 (160268, '24', 2),
 (147775, '2024', 2),
 (124524, '30', 2),
 (181873, '5468', 2),
 (181508, '4860', 2),
 (125818, '6040', 2),
 (135881, '30', 2),
 (147764, '3040', 2),
 (181873, '2430', 2),
 (181412, '3636', 2),
 (124488, '7248', 2),
 (135925, '5468', 2),
 (122182, '2024', 2),
 (135936, '4860', 2),
 (194101, '4860', 2),
 (135980, '3040', 2),
 (181508, '3040', 2),
 (23448, '6854', 2),
 (194101, '24', 2),
 (147753, '2024', 2),
 (181925, '2436', 3),
 (194162, '40', 2),
 (181390, '4060', 2),
 (135958, '2632', 2),
 (181777, '2436', 2),
 (181441, '3046', 2),
 (181798, '4872', 2),
 (147742, '1620', 2),
 (181363, '3648', 2),
 (181526, '3046', 2),
 (181517, '3040', 2),
 (124479, '4630', 2),
 (135925, '4860', 2),
 (122662, '3226', 2),
 (160252, '30', 2),
 (194074, '24', 2),
 (147797, '4872', 2),
 (31778, '2632', 2),
 (122182, '3648', 2),
 (147786, '3648', 2),
 (181925, '4872', 2),
 (181340, '5468', 2),
 (122662, '3629', 2),
 (125818, '7248', 2),
 (122662, '4030', 2),
 (181752, '2936', 2),
 (181925, '4060', 2),
 (194101, '2632', 2),
 (31780, '30', 2),
 (181547, '3654', 2),
 (181340, '4860', 2),
 (122691, '4860', 2),
 (124578, '7248', 2),
 (124587, '5436', 2),
 (181594, '2632', 2),
 (181318, '2430', 2),
 (124524, '6040', 2),
 (124569, '7248', 2),
 (23448, '30', 2),
 (147753, '2936', 2),
 (122182, '2632', 2),
 (125774, '3226', 2),
 (181909, '2936', 2),
 (24536, '2024', 2),
 (122215, '3654', 2),
 (135903, '3040', 2),
 (124497, '5436', 2),
 (181390, '2436', 2),
 (125774, '3629', 2),
 (122691, '3040', 2),
 (147764, '2632', 2),
 (194101, '5468', 2),
 (125796, '4030', 2),
 (135980, '5468', 2),
 (124578, '5436', 2),
 (194148, '6854', 2),
 (122193, '2936', 2),
 (31778, '3648', 2),
 (194074, '3040', 2),
 (135969, '4860', 2),
 (181517, '2936', 2),
 (124488, '4630', 2),
 (194110, '5468', 2),
 (194148, '4030', 2),
 (181540, '2436', 2),
 (160236, '24', 2),
 (181540, '3654', 2),
 (181562, '2436', 2),
 (23448, '3226', 2),
 (160236, '30', 2),
 (181784, '4060', 2),
 (124542, '7248', 2),
 (181882, '3648', 2),
 (124569, '5436', 2),
 (135903, '5468', 2),
 (125796, '6854', 2),
 (125763, '30', 2),
 (124506, '7248', 2),
 (160244, '24', 2),
 (124470, '6040', 2),
 (181396, '3046', 2),
 (181932, '3040', 2),
 (181909, '4860', 2),
 (147753, '3040', 2),
 (135936, '2430', 2),
 (147742, '5468', 2),
 (125763, '3629', 2),
 (125785, '4836', 2),
 (181533, '2436', 2),
 (124569, '6040', 2),
 (124587, '6040', 2),
 (122662, '2420', 2),
 (181777, '3046', 2),
 (181363, '2936', 2),
 (181318, '3040', 2),
 (194148, '4836', 2),
 (135881, '24', 2),
 (24536, '2936', 2),
 (122171, '3648', 2),
 (147786, '2430', 2),
 (147764, '2024', 2),
 (125763, '6854', 2),
 (194162, '4030', 2),
 (135925, '2936', 2),
 (147731, '5468', 2),
 (147797, '2436', 2),
 (194065, '2632', 2),
 (181882, '5468', 2),
 (124560, '3624', 2),
 (125785, '3024', 2),
 (194092, '3648', 2),
 (135980, '2430', 2),
 (125752, '3226', 2),
 (135947, '3648', 2),
 (122662, '6854', 2),
 (135925, '2632', 2),
 (181533, '3654', 2),
 (181873, '2632', 2),
 (147731, '4860', 2),
 (147786, '1620', 2),
 (194155, '4030', 2),
 (194121, '36', 2),
 (194101, '30', 2),
 (147806, '2436', 2),
 (135958, '2430', 2),
 (147797, '3654', 2),
 (194074, '2430', 2),
 (31780, '4872', 2),
 (181491, '3636', 2),
 (181594, '3648', 2),
 (135947, '2632', 2),
 (135903, '2430', 2),
 (194110, '3040', 2),
 (181340, '2632', 2),
 (194065, '5468', 2),
 (181761, '3648', 2),
 (122171, '5468', 2),
 (31780, '3654', 2),
 (125818, '30', 2),
 (181882, '3040', 2),
 (24536, '4860', 2),
 (181517, '3648', 2),
 (147753, '1620', 2),
 (147806, '4060', 2),
 (147786, '2632', 2),
 (125807, '6854', 2),
 (194148, '40', 2),
 (124542, '4630', 2),
 (135881, '2632', 2),
 (122204, '4860', 2),
 (135947, '2936', 2),
 (125774, '4030', 2),
 (135936, '5468', 2),
 (147815, '4836', 2),
 (122691, '2632', 2),
 (122171, '3040', 2),
 (125752, '24', 2),
 (124479, '7248', 2),
 (122215, '2436', 2),
 (125818, '5436', 2),
 (194092, '4860', 2),
 (147775, '2632', 2),
 (124560, '5436', 2),
 (125807, '4836', 2),
 (147775, '1620', 2),
 (194101, '3648', 2),
 (124560, '6040', 2),
 (135969, '2936', 2),
 (181363, '2632', 2),
 (194065, '3648', 2),
 (122193, '2430', 2),
 (122204, '2936', 2),
 (181891, '3648', 2),
 (125752, '6048', 2),
 (122193, '2024', 2),
 (181491, '4040', 2),
 (122182, '2430', 2),
 (181752, '2632', 2),
 (124515, '30', 2)]

**Lots of duplicates** so we must get rid of them. To achieve this, we'll **create a new table (product_size_clean) keeping only** rows with **unique work_id - size_id pairs** and **then rename it to product_size after dropping** the **original product_size table*.

In [36]:
%%sql

CREATE TABLE product_size_clean AS 
SELECT DISTINCT ON (work_id, size_id) *
FROM product_size;

DROP TABLE product_size;

ALTER TABLE product_size_clean RENAME TO product_size;

 * postgresql://postgres:***@localhost:5432/famous_paintings
109660 rows affected.
Done.
Done.

[]

## subject Table

In [37]:
%%sql

SELECT * FROM subject LIMIT 5;

 * postgresql://postgres:***@localhost:5432/famous_paintings
5 rows affected.

[(160236, 'Still-Life'),
 (160244, 'Still-Life'),
 (160252, 'Still-Life'),
 (160260, 'Still-Life'),
 (160268, 'Still-Life')]

In [38]:
%%sql

SELECT COUNT(*) AS total_rows, 
       COUNT(work_id) AS non_null_work_ids, 
       COUNT (DISTINCT work_id) AS unique_work_ids,
       COUNT(subject) AS subjects,
       COUNT (DISTINCT subject) AS unique_subjects
FROM subject;

 * postgresql://postgres:***@localhost:5432/famous_paintings
1 rows affected.

[(6770, 6770, 6007, 6770, 29)]

There are **many duplicates in the work_id** column which must be eliminated. Let's first take a look at them.

In [39]:
%%sql

SELECT s.*
FROM subject s
JOIN (
    SELECT work_id
    FROM subject
    GROUP BY work_id
    HAVING COUNT(*) > 1
) duplicates ON s.work_id = duplicates.work_id
ORDER BY work_id;

 * postgresql://postgres:***@localhost:5432/famous_paintings
1497 rows affected.

[(389, 'Flowers'),
 (389, 'Gardens'),
 (414, 'Lovers'),
 (414, 'Gardens'),
 (466, 'Spring'),
 (466, 'Bridges'),
 (469, 'Flowers'),
 (469, 'Gardens'),
 (470, 'Flowers'),
 (470, 'Gardens'),
 (471, 'Gardens'),
 (471, 'Spring'),
 (471, 'Flowers'),
 (479, 'Gardens'),
 (479, 'Flowers'),
 (523, 'Gardens'),
 (523, 'Flowers'),
 (544, 'Gardens'),
 (544, 'Flowers'),
 (762, 'Still-Life'),
 (762, 'Flowers'),
 (768, 'Flowers'),
 (768, 'Still-Life'),
 (770, 'Flowers'),
 (770, 'Still-Life'),
 (780, 'Architectures'),
 (780, 'Churches/Temples/Mosques'),
 (787, 'Spring'),
 (787, 'Flowers'),
 (907, 'Gardens'),
 (907, 'Flowers'),
 (950, 'Autumn/Fall'),
 (950, 'Summer'),
 (1368, 'Jesus Christ'),
 (1368, 'Christianity'),
 (1568, 'Nude'),
 (1568, 'Still-Life'),
 (1580, 'Bridges'),
 (1580, 'Rivers/Lakes'),
 (1940, 'Jesus Christ'),
 (1940, 'Christianity'),
 (1960, 'Christianity'),
 (1960, 'Jesus Christ'),
 (1962, 'Jesus Christ'),
 (1962, 'Christianity'),
 (2024, 'Gardens'),
 (2024, 'Autumn/Fall'),
 (2028, 'Winter'),
 (2028, 'Rivers/Lakes'),
 (2034, 'Seascapes'),
 (2034, 'Autumn/Fall'),
 (2038, 'Rivers/Lakes'),
 (2038, 'Water Lilies'),
 (2038, 'Autumn/Fall'),
 (2062, 'Rivers/Lakes'),
 (2062, 'Bridges'),
 (2080, 'Rivers/Lakes'),
 (2080, 'Bridges'),
 (2084, 'Bridges'),
 (2084, 'Rivers/Lakes'),
 (2088, 'Bridges'),
 (2088, 'Rivers/Lakes'),
 (2090, 'Bridges'),
 (2090, 'Rivers/Lakes'),
 (2098, 'Spring'),
 (2098, 'Seascapes'),
 (2114, 'Autumn/Fall'),
 (2114, 'Flowers'),
 (2130, 'Gardens'),
 (2130, 'Flowers'),
 (2172, 'Architectures'),
 (2172, 'Rivers/Lakes'),
 (2206, 'Gardens'),
 (2206, 'Spring'),
 (2316, 'Water Lilies'),
 (2316, 'Rivers/Lakes'),
 (2354, 'Winter'),
 (2354, 'Rivers/Lakes'),
 (2356, 'Rivers/Lakes'),
 (2356, 'Spring'),
 (2364, 'Still-Life'),
 (2364, 'Flowers'),
 (2376, 'Rivers/Lakes'),
 (2376, 'Winter'),
 (2386, 'Gardens'),
 (2386, 'Seascapes'),
 (2412, 'Rivers/Lakes'),
 (2412, 'Bridges'),
 (2418, 'Water Lilies'),
 (2418, 'Bridges'),
 (2418, 'Rivers/Lakes'),
 (2442, 'Flowers'),
 (2442, 'Gardens'),
 (2444, 'Bridges'),
 (2444, 'Water Lilies'),
 (2460, 'Gardens'),
 (2460, 'Flowers'),
 (2462, 'Gardens'),
 (2462, 'Flowers'),
 (2476, 'Rivers/Lakes'),
 (2476, 'Bridges'),
 (2476, 'Water Lilies'),
 (2506, 'Flowers'),
 (2506, 'Gardens'),
 (2518, 'Bridges'),
 (2518, 'Rivers/Lakes'),
 (2536, 'Water Lilies'),
 (2536, 'Rivers/Lakes'),
 (2538, 'Rivers/Lakes'),
 (2538, 'Water Lilies'),
 (2540, 'Water Lilies'),
 (2540, 'Rivers/Lakes'),
 (2540, 'Bridges'),
 (2646, 'Rivers/Lakes'),
 (2646, 'Spring'),
 (2646, 'Water Lilies'),
 (2650, 'Water Lilies'),
 (2650, 'Rivers/Lakes'),
 (2652, 'Bridges'),
 (2652, 'Water Lilies'),
 (2652, 'Rivers/Lakes'),
 (2654, 'Water Lilies'),
 (2654, 'Rivers/Lakes'),
 (2656, 'Water Lilies'),
 (2656, 'Rivers/Lakes'),
 (2658, 'Rivers/Lakes'),
 (2658, 'Water Lilies'),
 (2754, 'Musics'),
 (2754, 'Cafes/Bars'),
 (2876, 'Musics'),
 (2876, 'Cafes/Bars'),
 (2986, 'Abstract/Modern Art'),
 (2986, 'Churches/Temples/Mosques'),
 (3018, 'Abstract/Modern Art'),
 (3018, 'Gardens'),
 (3064, 'Abstract/Modern Art'),
 (3064, 'Churches/Temples/Mosques'),
 (3080, 'Churches/Temples/Mosques'),
 (3080, 'Abstract/Modern Art'),
 (3096, 'Abstract/Modern Art'),
 (3096, 'Portraits'),
 (3098, 'Abstract/Modern Art'),
 (3098, 'Portraits'),
 (3104, 'Abstract/Modern Art'),
 (3104, 'Churches/Temples/Mosques'),
 (3114, 'Abstract/Modern Art'),
 (3114, 'Horses'),
 (3130, 'Abstract/Modern Art'),
 (3130, 'Churches/Temples/Mosques'),
 (3134, 'Winter'),
 (3134, 'Abstract/Modern Art'),
 (3187, 'Jesus Christ'),
 (3187, 'Christianity'),
 (3189, 'Christianity'),
 (3189, 'Jesus Christ'),
 (3189, 'Seascapes'),
 (3191, 'Christianity'),
 (3191, 'Jesus Christ'),
 (3333, 'Jesus Christ'),
 (3333, 'Christianity'),
 (3421, 'Gardens'),
 (3421, 'Flowers'),
 (3449, 'Gardens'),
 (3449, 'Flowers'),
 (3875, 'Cafes/Bars'),
 (3875, 'Dancers'),
 (3875, 'Lovers'),
 (4091, 'Nude'),
 (4091, 'Flowers'),
 (4107, 'Gardens'),
 (4107, 'Flowers'),
 (4113, 'Nude'),
 (4113, 'Portraits'),
 (4179, 'Flowers'),
 (4179, 'Spring'),
 (4185, 'Flowers'),
 (4185, 'Still-Life'),
 (4187, 'Still-Life'),
 (4187, 'Flowers'),
 (4189, 'Still-Life'),
 (4189, 'Flowers'),
 (4191, 'Still-Life'),
 (4191, 'Flowers'),
 (4221, 'Bridges'),
 (4221, 'Autumn/Fall'),
 (4291, 'Gardens'),
 (4291, 'Summer'),
 (4513, 'Summer'),
 (4513, 'Landscape Art'),
 (4595, 'Portraits'),
 (4595, 'Jesus Christ'),
 (4607, 'Still-Life'),
 (4607, 'Flowers'),
 (4621, 'Dogs'),
 (4621, 'Still-Life'),
 (4797, 'Rivers/Lakes'),
 (4797, 'Nude'),
 (5001, 'Lovers'),
 (5001, 'Nude'),
 (5046, 'Lovers'),
 (5046, 'Nude'),
 (5093, 'Rivers/Lakes'),
 (5093, 'Landscape Art'),
 (5097, 'Horses'),
 (5097, 'Landscape Art'),
 (5101, 'Landscape Art'),
 (5101, 'Autumn/Fall'),
 (5105, 'Landscape Art'),
 (5105, 'Spring'),
 (5109, 'Rivers/Lakes'),
 (5109, 'Landscape Art'),
 (5113, 'Landscape Art'),
 (5113, 'Deers'),
 (5115, 'Deers'),
 (5115, 'Landscape Art'),
 (5117, 'Rivers/Lakes'),
 (5117, 'Landscape Art'),
 (5133, 'Landscape Art'),
 (5133, 'Rivers/Lakes'),
 (5135, 'Rivers/Lakes'),
 (5135, 'Landscape Art'),
 (5155, 'Rivers/Lakes'),
 (5155, 'Landscape Art'),
 (5165, 'Landscape Art'),
 (5165, 'Deers'),
 (5173, 'Rivers/Lakes'),
 (5173, 'Landscape Art'),
 (5179, 'Landscape Art'),
 (5179, 'Rivers/Lakes'),
 (5195, 'Landscape Art'),
 (5195, 'Rivers/Lakes'),
 (5203, 'Deers'),
 (5203, 'Landscape Art'),
 (5211, 'Seascapes'),
 (5211, 'Landscape Art'),
 (5213, 'Landscape Art'),
 (5213, 'Seascapes'),
 (5215, 'Seascapes'),
 (5215, 'Landscape Art'),
 (5225, 'Horses'),
 (5225, 'Landscape Art'),
 (5253, 'Horses'),
 (5253, 'Landscape Art'),
 (5263, 'Landscape Art'),
 (5263, 'Winter'),
 (5265, 'Rivers/Lakes'),
 (5265, 'Winter'),
 (5265, 'Landscape Art'),
 (5273, 'Autumn/Fall'),
 (5273, 'Gardens'),
 (5305, 'Gardens'),
 (5305, 'Flowers'),
 (5529, 'Lovers'),
 (5529, 'Nude'),
 (5595, 'Lovers'),
 (5595, 'Nude'),
 (5648, 'Christianity'),
 (5648, 'Jesus Christ'),
 (5712, 'Portraits'),
 (5712, 'Christianity'),
 (5768, 'Christianity'),
 (5768, 'Jesus Christ'),
 (6020, 'Landscape Art'),
 (6020, 'Rivers/Lakes'),
 (6050, 'Architectures'),
 (6050, 'Autumn/Fall'),
 (6062, 'Bridges'),
 (6062, 'Rivers/Lakes'),
 (6106, 'Gardens'),
 (6106, 'Autumn/Fall'),
 (6140, 'Rivers/Lakes'),
 (6140, 'Bridges'),
 (6142, 'Bridges'),
 (6142, 'Architectures'),
 (6288, 'Spring'),
 (6288, 'Gardens'),
 (6292, 'Winter'),
 (6292, 'Gardens'),
 (6498, 'Winter'),
 (6498, 'Seascapes'),
 (6532, 'Autumn/Fall'),
 (6532, 'Bridges'),
 (6550, 'Bridges'),
 (6550, 'Rivers/Lakes'),
 (6719, 'Autumn/Fall'),
 (6719, 'Rivers/Lakes'),
 (6763, 'Churches/Temples/Mosques'),
 (6763, 'Rivers/Lakes'),
 (6781, 'Bridges'),
 (6781, 'Rivers/Lakes'),
 (6783, 'Rivers/Lakes'),
 (6783, 'Bridges'),
 (6801, 'Rivers/Lakes'),
 (6801, 'Bridges'),
 (6809, 'Spring'),
 (6809, 'Rivers/Lakes'),
 (6809, 'Bridges'),
 (6815, 'Rivers/Lakes'),
 (6815, 'Bridges'),
 (6849, 'Rivers/Lakes'),
 (6849, 'Bridges'),
 (6885, 'Rivers/Lakes'),
 (6885, 'Churches/Temples/Mosques'),
 (7387, 'Portraits'),
 (7387, 'U.S. Presidents'),
 (7389, 'Portraits'),
 (7389, 'U.S. Presidents'),
 (7391, 'U.S. Presidents'),
 (7391, 'Portraits'),
 (7393, 'Portraits'),
 (7393, 'U.S. Presidents'),
 (7395, 'Portraits'),
 (7395, 'U.S. Presidents'),
 (7397, 'Portraits'),
 (7397, 'U.S. Presidents'),
 (7399, 'U.S. Presidents'),
 (7399, 'Portraits'),
 (7401, 'U.S. Presidents'),
 (7401, 'Portraits'),
 (7403, 'U.S. Presidents'),
 (7403, 'Portraits'),
 (7405, 'Portraits'),
 (7405, 'U.S. Presidents'),
 (7407, 'Portraits'),
 (7407, 'U.S. Presidents'),
 (7409, 'U.S. Presidents'),
 (7409, 'Portraits'),
 (7411, 'U.S. Presidents'),
 (7411, 'Portraits'),
 (7427, 'U.S. Presidents'),
 (7427, 'Portraits'),
 (7429, 'U.S. Presidents'),
 (7429, 'Portraits'),
 (7431, 'Portraits'),
 (7431, 'U.S. Presidents'),
 (7433, 'U.S. Presidents'),
 (7433, 'Portraits'),
 (7435, 'Portraits'),
 (7435, 'U.S. Presidents'),
 (7437, 'U.S. Presidents'),
 (7437, 'Portraits'),
 (7439, 'U.S. Presidents'),
 (7439, 'Portraits'),
 (7441, 'Portraits'),
 (7441, 'U.S. Presidents'),
 (7525, 'U.S. Presidents'),
 (7525, 'Portraits'),
 (7633, 'Marine Art/Maritime'),
 (7633, 'Summer'),
 (7635, 'Marine Art/Maritime'),
 (7635, 'Seascapes'),
 (7649, 'Seascapes'),
 (7649, 'Marine Art/Maritime'),
 (7667, 'Churches/Temples/Mosques'),
 (7667, 'Marine Art/Maritime'),
 (7667, 'Cafes/Bars'),
 (7669, 'Seascapes'),
 (7669, 'Marine Art/Maritime'),
 (7671, 'Seascapes'),
 (7671, 'Marine Art/Maritime'),
 (7673, 'Marine Art/Maritime'),
 (7673, 'Seascapes'),
 (7675, 'Marine Art/Maritime'),
 (7675, 'Winter'),
 (7683, 'Seascapes'),
 (7683, 'Marine Art/Maritime'),
 (7689, 'Seascapes'),
 (7689, 'Marine Art/Maritime'),
 (7695, 'Marine Art/Maritime'),
 (7695, 'Seascapes'),
 (7697, 'Marine Art/Maritime'),
 (7697, 'Seascapes'),
 (7703, 'Seascapes'),
 (7703, 'Marine Art/Maritime'),
 (7705, 'Seascapes'),
 (7705, 'Marine Art/Maritime'),
 (7707, 'Marine Art/Maritime'),
 (7707, 'Seascapes'),
 (7715, 'Seascapes'),
 (7715, 'Marine Art/Maritime'),
 (7717, 'Seascapes'),
 (7717, 'Marine Art/Maritime'),
 (7723, 'Seascapes'),
 (7723, 'Marine Art/Maritime'),
 (7725, 'Marine Art/Maritime'),
 (7725, 'Seascapes'),
 (7731, 'Winter'),
 (7731, 'Marine Art/Maritime'),
 (7877, 'Portraits'),
 (7877, 'Christianity'),
 (7905, 'Landscape Art'),
 (7905, 'Rivers/Lakes'),
 (7911, 'Landscape Art'),
 (7911, 'Rivers/Lakes'),
 (7919, 'Rivers/Lakes'),
 (7919, 'Landscape Art'),
 (7923, 'Landscape Art'),
 (7923, 'Rivers/Lakes'),
 (7925, 'Landscape Art'),
 (7925, 'Rivers/Lakes'),
 (7929, 'Landscape Art'),
 (7929, 'Rivers/Lakes'),
 (7945, 'Landscape Art'),
 (7945, 'Rivers/Lakes'),
 (7947, 'Landscape Art'),
 (7947, 'Rivers/Lakes'),
 (7961, 'Landscape Art'),
 (7961, 'Rivers/Lakes'),
 (7973, 'Landscape Art'),
 (7973, 'Winter'),
 (7987, 'Seascapes'),
 (7987, 'Lovers'),
 (7987, 'Summer'),
 (17311, 'Dogs'),
 (17311, 'Horses'),
 (17323, 'Dogs'),
 (17323, 'Horses'),
 (17341, 'Rivers/Lakes'),
 (17341, 'Horses'),
 (17361, 'Horses'),
 (17361, 'Dogs'),
 (17660, 'Rivers/Lakes'),
 (17660, 'Winter'),
 (17794, 'Portraits'),
 (17794, 'Dogs'),
 (17796, 'Dancers'),
 (17796, 'Portraits'),
 (17822, 'Portraits'),
 (17822, 'Dogs'),
 (17976, 'Rivers/Lakes'),
 (17976, 'Bridges'),
 (18148, 'Flowers'),
 (18148, 'Rivers/Lakes'),
 (18150, 'Bridges'),
 (18150, 'Rivers/Lakes'),
 (18172, 'Rivers/Lakes'),
 (18172, 'Bridges'),
 (18493, 'Landscape Art'),
 (18493, 'Rivers/Lakes'),
 (18535, 'Landscape Art'),
 (18535, 'Autumn/Fall'),
 (18591, 'Rivers/Lakes'),
 (18591, 'Musics'),
 (18633, 'Bridges'),
 (18633, 'Rivers/Lakes'),
 (18651, 'Rivers/Lakes'),
 (18651, 'Dogs'),
 (18805, 'Jesus Christ'),
 (18805, 'Christianity'),
 (18923, 'Portraits'),
 (18923, 'Musics'),
 (18965, 'Christianity'),
 (18965, 'Jesus Christ'),
 (18967, 'Christianity'),
 (18967, 'Jesus Christ'),
 (18969, 'Christianity'),
 (18969, 'Jesus Christ'),
 (19057, 'Christianity'),
 (19057, 'Jesus Christ'),
 (19061, 'Christianity'),
 (19061, 'Jesus Christ'),
 (19193, 'Churches/Temples/Mosques'),
 (19193, 'Winter'),
 (19243, 'Summer'),
 (19243, 'Nude'),
 (19467, 'Architectures'),
 (19467, 'Churches/Temples/Mosques'),
 (19493, 'Architectures'),
 (19493, 'Tigers'),
 (19647, 'Summer'),
 (19647, 'Flowers'),
 (19647, 'Gardens'),
 (19707, 'Musics'),
 (19707, 'Still-Life'),
 (19717, 'Musics'),
 (19717, 'Still-Life'),
 (19719, 'Musics'),
 (19719, 'Still-Life'),
 (19721, 'Musics'),
 (19721, 'Still-Life'),
 (19723, 'Still-Life'),
 (19723, 'Musics'),
 (19725, 'Still-Life'),
 (19725, 'Musics'),
 (19773, 'Still-Life'),
 (19773, 'Musics'),
 (19793, 'Still-Life'),
 (19793, 'Musics'),
 (19815, 'Musics'),
 (19815, 'Still-Life'),
 (19932, 'Churches/Temples/Mosques'),
 (19932, 'Architectures'),
 (19950, 'Winter'),
 (19950, 'Bridges'),
 (20094, 'Still-Life'),
 (20094, 'Flowers'),
 (20184, 'Rivers/Lakes'),
 (20184, 'Bridges'),
 (20290, 'Gardens'),
 (20290, 'Abstract/Modern Art'),
 (20304, 'Gardens'),
 (20304, 'Abstract/Modern Art'),
 (20386, 'Flowers'),
 (20386, 'Still-Life'),
 (20388, 'Still-Life'),
 (20388, 'Flowers'),
 (20610, 'Horses'),
 (20610, 'Tigers'),
 (20890, 'Summer'),
 (20890, 'Nude'),
 (21014, 'Flowers'),
 (21014, 'Gardens'),
 (21056, 'Rivers/Lakes'),
 (21056, 'Winter'),
 (21060, 'Rivers/Lakes'),
 (21060, 'Marine Art/Maritime'),
 (21064, 'Seascapes'),
 (21064, 'Marine Art/Maritime'),
 (21064, 'Jesus Christ'),
 (21066, 'Seascapes'),
 (21066, 'Marine Art/Maritime'),
 (21070, 'Marine Art/Maritime'),
 (21070, 'Seascapes'),
 (21072, 'Marine Art/Maritime'),
 (21072, 'Portraits'),
 (21074, 'Portraits'),
 (21074, 'Marine Art/Maritime'),
 (21076, 'Marine Art/Maritime'),
 (21076, 'Portraits'),
 (21082, 'Marine Art/Maritime'),
 (21082, 'Seascapes'),
 (21102, 'Gardens'),
 (21102, 'Musics'),
 (21230, 'Flowers'),
 (21230, 'Still-Life'),
 (21389, 'Jesus Christ'),
 (21389, 'Christianity'),
 (21391, 'Christianity'),
 (21391, 'Jesus Christ'),
 (21409, 'Christianity'),
 (21409, 'Jesus Christ'),
 (21537, 'Horses'),
 (21537, 'Tigers'),
 (21539, 'Tigers'),
 (21539, 'Horses'),
 (21541, 'Tigers'),
 (21541, 'Deers'),
 (21561, 'Deers'),
 (21561, 'Dogs'),
 (21567, 'Horses'),
 (21567, 'Tigers'),
 (21569, 'Dogs'),
 (21569, 'Deers'),
 (22353, 'Deers'),
 (22353, 'Dogs'),
 (22450, 'Nude'),
 (22450, 'Lovers'),
 (22489, 'Gardens'),
 (22489, 'Deers'),
 (22490, 'Gardens'),
 (22490, 'Deers'),
 (22492, 'Dogs'),
 (22492, 'Winter'),
 (22604, 'Flowers'),
 (22604, 'Still-Life'),
 (22605, 'Flowers'),
 (22605, 'Still-Life'),
 (22608, 'Flowers'),
 (22608, 'Still-Life'),
 (22624, 'Abstract/Modern Art'),
 (22624, 'Spring'),
 (22697, 'Flowers'),
 (22697, 'Portraits'),
 (22703, 'Still-Life'),
 (22703, 'Flowers'),
 (22933, 'Jesus Christ'),
 (22933, 'Christianity'),
 (22941, 'Christianity'),
 (22941, 'Jesus Christ'),
 (23035, 'Portraits'),
 (23035, 'Musics'),
 (23105, 'Rivers/Lakes'),
 (23105, 'Churches/Temples/Mosques'),
 (23107, 'Bridges'),
 (23107, 'Rivers/Lakes'),
 (23167, 'Rivers/Lakes'),
 (23167, 'Bridges'),
 (23167, 'Architectures'),
 (23169, 'Architectures'),
 (23169, 'Bridges'),
 (23175, 'Rivers/Lakes'),
 (23175, 'Architectures'),
 (23177, 'Rivers/Lakes'),
 (23177, 'Architectures'),
 (23183, 'Architectures'),
 (23183, 'Rivers/Lakes'),
 (23183, 'Bridges'),
 (23185, 'Rivers/Lakes'),
 (23185, 'Architectures'),
 (23213, 'Marine Art/Maritime'),
 (23213, 'Seascapes'),
 (23269, 'Musics'),
 (23269, 'Still-Life'),
 (23289, 'Musics'),
 (23289, 'Still-Life'),
 (23295, 'Still-Life'),
 (23295, 'Musics'),
 (23315, 'Marine Art/Maritime'),
 (23315, 'Summer'),
 (23319, 'Seascapes'),
 (23319, 'Marine Art/Maritime'),
 (23321, 'Marine Art/Maritime'),
 (23321, 'Seascapes'),
 (23323, 'Marine Art/Maritime'),
 (23323, 'Seascapes'),
 (23325, 'Marine Art/Maritime'),
 (23325, 'Seascapes'),
 (23329, 'Marine Art/Maritime'),
 (23329, 'Seascapes'),
 (23333, 'Marine Art/Maritime'),
 (23333, 'Seascapes'),
 (23337, 'Seascapes'),
 (23337, 'Marine Art/Maritime'),
 (23341, 'Seascapes'),
 (23341, 'Marine Art/Maritime'),
 (23345, 'Seascapes'),
 (23345, 'Marine Art/Maritime'),
 (23347, 'Seascapes'),
 (23347, 'Marine Art/Maritime'),
 (23351, 'Seascapes'),
 (23351, 'Marine Art/Maritime'),
 (23353, 'Seascapes'),
 (23353, 'Marine Art/Maritime'),
 (23392, 'Seascapes'),
 (23392, 'Landscape Art'),
 (23396, 'Landscape Art'),
 (23396, 'Rivers/Lakes'),
 (23398, 'Landscape Art'),
 (23398, 'Seascapes'),
 (23400, 'Landscape Art'),
 (23400, 'Rivers/Lakes'),
 (23404, 'Landscape Art'),
 (23404, 'Seascapes'),
 (23462, 'Jesus Christ'),
 (23462, 'Christianity'),
 (23502, 'Jesus Christ'),
 (23502, 'Christianity'),
 (23510, 'Jesus Christ'),
 (23510, 'Christianity'),
 (23518, 'Christianity'),
 (23518, 'Jesus Christ'),
 (23536, 'Christianity'),
 (23536, 'Jesus Christ'),
 (23732, 'Seascapes'),
 (23732, 'Autumn/Fall'),
 (23750, 'Winter'),
 (23750, 'Deers'),
 (23782, 'Nude'),
 (23782, 'Dogs'),
 (23882, 'Christianity'),
 (23882, 'Jesus Christ'),
 (23981, 'Jesus Christ'),
 (23981, 'Christianity'),
 (23983, 'Christianity'),
 (23983, 'Jesus Christ'),
 (24021, 'Gardens'),
 (24021, 'Flowers'),
 (24113, 'Christianity'),
 (24113, 'Jesus Christ'),
 (24115, 'Christianity'),
 (24115, 'Portraits'),
 (24117, 'Nude'),
 (24117, 'Portraits'),
 (24167, 'Architectures'),
 (24167, 'Rivers/Lakes'),
 (24177, 'Horses'),
 (24177, 'Architectures'),
 (24189, 'Rivers/Lakes'),
 (24189, 'Architectures'),
 (24205, 'Architectures'),
 (24205, 'Rivers/Lakes'),
 (24215, 'Rivers/Lakes'),
 (24215, 'Architectures'),
 (24223, 'Rivers/Lakes'),
 (24223, 'Architectures'),
 (24223, 'Bridges'),
 (24227, 'Architectures'),
 (24227, 'Gardens'),
 (24271, 'Rivers/Lakes'),
 (24271, 'Architectures'),
 (24273, 'Architectures'),
 (24273, 'Rivers/Lakes'),
 (24277, 'Architectures'),
 (24277, 'Rivers/Lakes'),
 (24277, 'Churches/Temples/Mosques'),
 (24281, 'Rivers/Lakes'),
 (24281, 'Architectures'),
 (24283, 'Rivers/Lakes'),
 (24283, 'Architectures'),
 (24285, 'Rivers/Lakes'),
 (24285, 'Architectures'),
 (24287, 'Rivers/Lakes'),
 (24287, 'Architectures'),
 (24295, 'Architectures'),
 (24295, 'Rivers/Lakes'),
 (24317, 'Lovers'),
 (24317, 'Nude'),
 (24367, 'Spring'),
 (24367, 'Lovers'),
 (24373, 'Rivers/Lakes'),
 (24373, 'Churches/Temples/Mosques'),
 (24536, 'Portraits'),
 (24536, 'U.S. Presidents'),
 (25489, 'Bridges'),
 (25489, 'Winter'),
 (25501, 'Still-Life'),
 (25501, 'Flowers'),
 (25529, 'Portraits'),
 (25529, 'Marine Art/Maritime'),
 (25531, 'Portraits'),
 (25531, 'Marine Art/Maritime'),
 (25577, 'Dogs'),
 (25577, 'Musics'),
 (25585, 'Musics'),
 (25585, 'Portraits'),
 (25595, 'Churches/Temples/Mosques'),
 (25595, 'Bridges'),
 (25696, 'Flowers'),
 (25696, 'Still-Life'),
 (25716, 'Abstract/Modern Art'),
 (25716, 'Gardens'),
 (26081, 'Flowers'),
 (26081, 'Still-Life'),
 (26095, 'Flowers'),
 (26095, 'Still-Life'),
 (26117, 'Still-Life'),
 (26117, 'Flowers'),
 (26119, 'Flowers'),
 (26119, 'Still-Life'),
 (26121, 'Still-Life'),
 (26121, 'Flowers'),
 (26123, 'Still-Life'),
 (26123, 'Flowers'),
 (26125, 'Flowers'),
 (26125, 'Still-Life'),
 (26129, 'Still-Life'),
 (26129, 'Flowers'),
 (26131, 'Flowers'),
 (26131, 'Still-Life'),
 (26133, 'Flowers'),
 (26133, 'Summer'),
 (26298, 'Lovers'),
 (26298, 'Nude'),
 (26320, 'Architectures'),
 (26320, 'Rivers/Lakes'),
 (26322, 'Architectures'),
 (26322, 'Rivers/Lakes'),
 (26344, 'Architectures'),
 (26344, 'Rivers/Lakes'),
 (26521, 'Churches/Temples/Mosques'),
 (26521, 'Landscape Art'),
 (26539, 'Christianity'),
 (26539, 'Jesus Christ'),
 (26541, 'Christianity'),
 (26541, 'Jesus Christ'),
 (26711, 'Marine Art/Maritime'),
 (26711, 'Seascapes'),
 (26787, 'Rivers/Lakes'),
 (26787, 'Marine Art/Maritime'),
 (26789, 'Rivers/Lakes'),
 (26789, 'Marine Art/Maritime'),
 (26795, 'Still-Life'),
 (26795, 'Musics'),
 (27002, 'Autumn/Fall'),
 (27002, 'Landscape Art'),
 (27004, 'Landscape Art'),
 (27004, 'Rivers/Lakes'),
 (27006, 'Landscape Art'),
 (27006, 'Water Lilies'),
 (27010, 'Landscape Art'),
 (27010, 'Rivers/Lakes'),
 (27036, 'Marine Art/Maritime'),
 (27036, 'Seascapes'),
 (27042, 'Marine Art/Maritime'),
 (27042, 'Seascapes'),
 (27129, 'Nude'),
 (27129, 'Christianity'),
 (27131, 'Christianity'),
 (27131, 'Jesus Christ'),
 (27297, 'Lovers'),
 (27297, 'Dancers'),
 (27365, 'Gardens'),
 (27365, 'Lovers'),
 (27379, 'Gardens'),
 (27379, 'Rivers/Lakes'),
 (27597, 'Jesus Christ'),
 (27597, 'Christianity'),
 (27834, 'Rivers/Lakes'),
 (27834, 'Nude'),
 (27860, 'Rivers/Lakes'),
 (27860, 'Landscape Art'),
 (27862, 'Rivers/Lakes'),
 (27862, 'Landscape Art'),
 (27864, 'Rivers/Lakes'),
 (27864, 'Landscape Art'),
 (27872, 'Summer'),
 (27872, 'Rivers/Lakes'),
 (27872, 'Landscape Art'),
 (27876, 'Landscape Art'),
 (27876, 'Seascapes'),
 (27882, 'Gardens'),
 (27882, 'Rivers/Lakes'),
 (27886, 'Rivers/Lakes'),
 (27886, 'Gardens'),
 (27914, 'Spring'),
 (27914, 'Flowers'),
 (27958, 'Landscape Art'),
 (27958, 'Jesus Christ'),
 (27962, 'Landscape Art'),
 (27962, 'Rivers/Lakes'),
 (27964, 'Rivers/Lakes'),
 (27964, 'Landscape Art'),
 (28141, 'U.S. Presidents'),
 (28141, 'Portraits'),
 (28143, 'Portraits'),
 (28143, 'U.S. Presidents'),
 (28167, 'Portraits'),
 (28167, 'U.S. Presidents'),
 (28181, 'Portraits'),
 (28181, 'U.S. Presidents'),
 (28199, 'U.S. Presidents'),

It seems that the **same theme** has been **classified into different categories** for different products, so **we'll arbitrarily keep one for each work_id**. To achieve this, we'll **create a new table keeping only rows with unique work_id** and **then rename it to subject after dropping the original subject table**.

In [40]:
%%sql

CREATE TABLE subject_clean AS 
SELECT DISTINCT ON (work_id) * 
FROM subject;

DROP TABLE subject;

ALTER TABLE subject_clean RENAME TO subject;

 * postgresql://postgres:***@localhost:5432/famous_paintings
6007 rows affected.
Done.
Done.

[]

We'll also look at the subject categories to **check for mispellings**.

In [41]:
%%sql

SELECT COUNT(*), subject
FROM subject
GROUP BY subject
ORDER BY subject;

 * postgresql://postgres:***@localhost:5432/famous_paintings
29 rows affected.

[(371, 'Abstract/Modern Art'),
 (117, 'Architectures'),
 (67, 'Autumn/Fall'),
 (106, 'Bridges'),
 (47, 'Cafes/Bars'),
 (164, 'Christianity'),
 (61, 'Churches/Temples/Mosques'),
 (97, 'Dancers'),
 (25, 'Deers'),
 (93, 'Dogs'),
 (414, 'Flowers'),
 (234, 'Gardens'),
 (261, 'Horses'),
 (62, 'Jesus Christ'),
 (436, 'Landscape Art'),
 (55, 'Lovers'),
 (234, 'Marine Art/Maritime'),
 (130, 'Musics'),
 (512, 'Nude'),
 (1021, 'Portraits'),
 (393, 'Rivers/Lakes'),
 (286, 'Seascapes'),
 (106, 'Spring'),
 (344, 'Still-Life'),
 (90, 'Summer'),
 (29, 'Tigers'),
 (45, 'U.S. Presidents'),
 (46, 'Water Lilies'),
 (161, 'Winter')]

**No problems** detected.
## work Table

In [42]:
%%sql

SELECT * FROM work LIMIT 5;

 * postgresql://postgres:***@localhost:5432/famous_paintings
5 rows affected.

[(160236, "Still Life with Fruit and a Beaker on a Cock's Foot", 615, 'Baroque', 43),
 (160244, 'Still Life with Fruit and a Goldfinch', 615, 'Baroque', 43),
 (160252, 'Still Life with Fruit and Oysters', 615, 'Baroque', 43),
 (160260, 'Still Life with Fruit, Oysters, and a Porcelain Bowl', 615, 'Baroque', 43),
 (160268, 'The Overturned Bouquet', 615, 'Baroque', 43)]

In [43]:
%%sql

SELECT COUNT(*) AS total_rows, 
       COUNT(work_id) AS non_null_work_ids,
       COUNT (DISTINCT work_id) AS unique_work_ids,
       COUNT(name) AS names,
       COUNT(artist_id) AS artists,
       COUNT(DISTINCT artist_id) AS unique_artists,
       COUNT(style) AS styles, 
       COUNT(museum_id) AS museum_ids,
       COUNT (DISTINCT museum_id) AS unique_museum_ids
FROM work;

 * postgresql://postgres:***@localhost:5432/famous_paintings
1 rows affected.

[(14775, 14775, 14715, 14775, 14775, 421, 13489, 4552, 57)]

We notice that **many works lack style** value and **most aren't exhibited in museums** (most probably) or this info is missing. Also, as there are **421 unique_artists and 57 unique_ids instead of 420 and 56** I guess that museum_id = 30 is again present in this table and should be deleted too as well as the odd artist_id. But the most important observation is that **quite a few work_id values aren't unique** which means we have duplicate values in the work_id column. Let's see those records.

In [44]:
%%sql

SELECT w.*
FROM work w
JOIN (
    SELECT work_id
    FROM work
    GROUP BY work_id
    HAVING COUNT(*) > 1
) duplicates ON w.work_id = duplicates.work_id
ORDER BY work_id;

 * postgresql://postgres:***@localhost:5432/famous_paintings
119 rows affected.

[(122662, 'The Dunes at Camiers', 862, 'Realism', None),
 (122662, 'The Dunes at Camiers', 862, 'Realism', None),
 (122691, 'Landscape with a Sunlit Stream', 862, 'Realism', None),
 (122691, 'Landscape with a Sunlit Stream', 862, 'Realism', None),
 (181318, 'Maroon, Pink and Shade of Red', 770, None, None),
 (181318, 'Maroon, Pink and Shade of Red', 770, None, None),
 (181331, 'Blue, Orange and Gold', 770, None, None),
 (181331, 'Blue, Orange and Gold', 770, None, None),
 (181340, 'Untitled I', 770, None, None),
 (181340, 'Untitled I', 770, None, None),
 (181349, 'Green and Maroon', 770, None, None),
 (181349, 'Green and Maroon', 770, None, None),
 (181356, 'Blue, Dark Blue and Orange', 770, None, None),
 (181356, 'Blue, Dark Blue and Orange', 770, None, None),
 (181363, 'Yellow and Pink', 770, None, None),
 (181363, 'Yellow and Pink', 770, None, None),
 (181390, 'Orange, Yellow and Red', 770, None, None),
 (181390, 'Orange, Yellow and Red', 770, None, None),
 (181396, 'Pink Stripe on Light Yellow', 770, None, None),
 (181396, 'Pink Stripe on Light Yellow', 770, None, None),
 (181403, 'Black Stripe, Red Stripe', 770, None, None),
 (181403, 'Black Stripe, Red Stripe', 770, None, None),
 (181412, 'Orange, Black and Maroon', 770, None, None),
 (181412, 'Orange, Black and Maroon', 770, None, None),
 (181420, 'Bright Yellow and Teal Blue', 770, None, None),
 (181420, 'Bright Yellow and Teal Blue', 770, None, None),
 (181427, 'Gold, Red Pink and Black', 770, None, None),
 (181427, 'Gold, Red Pink and Black', 770, None, None),
 (181434, 'Gray, Black and Orange', 770, None, None),
 (181434, 'Gray, Black and Orange', 770, None, None),
 (181441, 'Pastel Blue and Red Stripe', 770, None, None),
 (181441, 'Pastel Blue and Red Stripe', 770, None, None),
 (181448, 'Emerald Green and Blue Stripe', 770, None, None),
 (181448, 'Emerald Green and Blue Stripe', 770, None, None),
 (181457, 'Pastel Shades', 770, None, None),
 (181457, 'Pastel Shades', 770, None, None),
 (181475, 'Brown, Rust and Moss Green', 770, None, None),
 (181475, 'Brown, Rust and Moss Green', 770, None, None),
 (181483, 'Purple, Dark Brown and Rust', 770, None, None),
 (181483, 'Purple, Dark Brown and Rust', 770, None, None),
 (181491, 'Untitled II', 770, None, None),
 (181491, 'Untitled II', 770, None, None),
 (181499, 'Maroon Red, Pink on Orange Yellow', 770, None, None),
 (181499, 'Maroon Red, Pink on Orange Yellow', 770, None, None),
 (181508, 'Pastel Pinks on Dark Gray', 770, None, None),
 (181508, 'Pastel Pinks on Dark Gray', 770, None, None),
 (181517, 'Rust, Pink on Yellow', 770, None, None),
 (181517, 'Rust, Pink on Yellow', 770, None, None),
 (181526, 'Muted Green, Dark Brown, Pink Stripe', 770, None, None),
 (181526, 'Muted Green, Dark Brown, Pink Stripe', 770, None, None),
 (181533, 'Pink, Yellow and White Center', 770, None, None),
 (181533, 'Pink, Yellow and White Center', 770, None, None),
 (181540, 'Untitled III', 770, None, None),
 (181540, 'Untitled III', 770, None, None),
 (181547, 'White Center, Gold and Gray on Maroon Red', 770, None, None),
 (181547, 'White Center, Gold and Gray on Maroon Red', 770, None, None),
 (181555, 'Gray, Light Brown on Brush Pink', 770, None, None),
 (181555, 'Gray, Light Brown on Brush Pink', 770, None, None),
 (181562, 'Orange on Orange', 770, None, None),
 (181562, 'Orange on Orange', 770, None, None),
 (181569, 'Yellow and Teal Blue', 770, None, None),
 (181569, 'Yellow and Teal Blue', 770, None, None),
 (181576, 'Black and White and Grey', 770, None, None),
 (181576, 'Black and White and Grey', 770, None, None),
 (181585, 'Black, White Stripe, Green On Pink', 770, None, None),
 (181585, 'Black, White Stripe, Green On Pink', 770, None, None),
 (181594, 'Pastel Shades on Orange', 770, None, None),
 (181594, 'Pastel Shades on Orange', 770, None, None),
 (181743, 'Gray Stripe, Yellow and White', 770, None, None),
 (181743, 'Gray Stripe, Yellow and White', 770, None, None),
 (181752, 'Lavender and Pastel Colors', 770, None, None),
 (181752, 'Lavender and Pastel Colors', 770, None, None),
 (181761, 'White, Gray and Rust Stripe', 770, None, None),
 (181761, 'White, Gray and Rust Stripe', 770, None, None),
 (181777, 'Orange, Red and Yellow Stripe', 770, None, None),
 (181777, 'Orange, Red and Yellow Stripe', 770, None, None),
 (181784, 'Pink and Light Yellow Stripes', 770, None, None),
 (181784, 'Pink and Light Yellow Stripes', 770, None, None),
 (181791, 'Blue and Pinks', 770, None, None),
 (181791, 'Blue and Pinks', 770, None, None),
 (181798, 'Moss Green, Orange on Rust', 770, None, None),
 (181798, 'Moss Green, Orange on Rust', 770, None, None),
 (181805, 'Orange, Pink, Blue', 770, None, None),
 (181805, 'Orange, Pink, Blue', 770, None, None),
 (181813, 'Blue Shades on Light Brown', 770, None, None),
 (181813, 'Blue Shades on Light Brown', 770, None, None),
 (181820, 'Blush Pink on White', 770, None, None),
 (181820, 'Blush Pink on White', 770, None, None),
 (181827, 'Brown, Rust and Yellow', 770, None, None),
 (181827, 'Brown, Rust and Yellow', 770, None, None),
 (181834, 'Brown, White on Moss Green', 770, None, None),
 (181834, 'Brown, White on Moss Green', 770, None, None),
 (181841, 'Fuschia Red and Pink', 770, None, None),
 (181841, 'Fuschia Red and Pink', 770, None, None),
 (181848, 'Pink, Red and Light Yellow', 770, None, None),
 (181848, 'Pink, Red and Light Yellow', 770, None, None),
 (181855, 'Blue, Fuschia Red and Pink', 770, None, None),
 (181855, 'Blue, Fuschia Red and Pink', 770, None, None),
 (181864, 'Green, Orange and Pink', 770, None, None),
 (181864, 'Green, Orange and Pink', 770, None, None),
 (181873, 'Light Blue and Moss Green', 770, None, None),
 (181873, 'Light Blue and Moss Green', 770, None, None),
 (181882, 'Orange, Blue on Gray', 770, None, None),
 (181882, 'Orange, Blue on Gray', 770, None, None),
 (181891, 'Red, Blue and Purple', 770, None, None),
 (181891, 'Red, Blue and Purple', 770, None, None),
 (181900, 'Brown, Orange and White Stripe', 770, None, None),
 (181900, 'Brown, Orange and White Stripe', 770, None, None),
 (181909, 'Yellow Blocks on Wine Red', 770, None, None),
 (181909, 'Yellow Blocks on Wine Red', 770, None, None),
 (181918, 'Hot Pink and Tan', 770, None, None),
 (181918, 'Hot Pink and Tan', 770, None, None),
 (181925, 'Light Blue and Pink', 770, None, None),
 (181925, 'Light Blue and Pink', 770, None, None),
 (181925, 'Light Blue and Pink', 770, None, None),
 (181932, 'Purple, White Stripe on Soft Orange', 770, None, None),
 (181932, 'Purple, White Stripe on Soft Orange', 770, None, None),
 (181941, 'Blue Stripe, Orange Shades', 770, None, None),
 (181941, 'Blue Stripe, Orange Shades', 770, None, None)]

All of the duplicates are **exact duplicates**. One record appears three times while all the other two. We'll follow the **same procedure** as for the subject table, after we find the odd artist_id and delete records with museum_id = 30.

In [45]:
%%sql

SELECT MIN(artist_id), MAX(artist_id) FROM work;

 * postgresql://postgres:***@localhost:5432/famous_paintings
1 rows affected.

[(500, 920)]

It seems that the **artist_id = 500** is the value that is **not included in the artist table**, so let's drop that too.

In [46]:
%%sql

DELETE FROM WORK
WHERE artist_id = 500;

DELETE FROM work
WHERE museum_id = 30;

CREATE TABLE work_clean AS 
SELECT DISTINCT ON (work_id) * 
FROM work
ORDER BY work_id;

DROP TABLE work;

ALTER TABLE work_clean RENAME TO work;

 * postgresql://postgres:***@localhost:5432/famous_paintings
469 rows affected.
53 rows affected.
14193 rows affected.
Done.
Done.

[]

Time to start analysing!!!

# Analyse Data
## Featured artists
We'll first have a look at the artists with the most paintings in this list and then check if their paintings' regular prices aggregate to the greatest value or there are other artists with less featured paintings have a more valuable portfolio in this list.
### Total Number of Paintings featured

In [47]:
%%sql

SELECT a.full_name, COUNT(*) AS "Total Number of Paintings Featured"
FROM artist a
JOIN work w 
ON a.artist_id = w.artist_id
JOIN product_size p
ON w.work_id = p.work_id
GROUP BY a.artist_id, a.full_name
ORDER BY COUNT(*) DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/famous_paintings
10 rows affected.

[('Claude Monet', 2828),
 ('Vincent Van Gogh', 2535),
 ('Albert Marquet', 2034),
 ('Maurice Utrillo', 1876),
 ('Henri Lebasque', 1646),
 ('Louis Valtat', 1580),
 ('Camille Pissarro', 1562),
 ('Maximilien Luce', 1419),
 ('Henri Le Sidaner', 1375),
 ('Paul Cézanne', 1277)]

Claude Monet's and Vincent Van Gogh's paintings are featured much more than other artists' and as they are also very much celebrated, I guess they will top the list of those with the greatest sum of regular prices of their paintings, but let's confirm that assumption.  
### Sum of Regular Value of Paintings

In [48]:
%%sql

SELECT a.full_name, SUM(p.regular_price) AS "Sum of Regular Value of Paintings"
FROM artist a
JOIN work w 
ON a.artist_id = w.artist_id
JOIN product_size p
ON w.work_id = p.work_id
GROUP BY a.artist_id, a.full_name
ORDER BY SUM(p.regular_price) DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/famous_paintings
10 rows affected.

[('Claude Monet', 1909780),
 ('Vincent Van Gogh', 1527555),
 ('Albert Marquet', 1441830),
 ('Maurice Utrillo', 1263100),
 ('Henri Lebasque', 1191760),
 ('Louis Valtat', 1133380),
 ('Camille Pissarro', 1053210),
 ('Maximilien Luce', 1036645),
 ('Henri Le Sidaner', 982185),
 ('Pierre Bonnard', 831995)]

The only difference from the previous top 10 is that Pierre Bonnard entered the list and Paul Cezanne fell back, which raises another question... Who sells at a higher price on average?  
### Average Price per Painting

In [49]:
%%sql

SELECT a.full_name, ROUND(AVG(p.regular_price)) AS "Average Price per Painting"
FROM artist a
JOIN work w 
ON a.artist_id = w.artist_id
JOIN product_size p
ON w.work_id = p.work_id
GROUP BY a.artist_id, a.full_name
ORDER BY AVG(p.regular_price) DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/famous_paintings
10 rows affected.

[('Alfred Thompson Bricher', Decimal('1061')),
 ('Gustave Doré', Decimal('1033')),
 ('Vasiliy Polenov', Decimal('1009')),
 ('Buonarroti Michelangelo', Decimal('1008')),
 ('Edward Burne Jones', Decimal('1001')),
 ('Nicholas Pocock', Decimal('991')),
 ('Thomas Moran', Decimal('987')),
 ('Ferdinand Bol', Decimal('984')),
 ('Charles Marion Russell', Decimal('982')),
 ('Dominic Serres', Decimal('982'))]

None of the top selling artists appears in this list! Although it did come as a surprise to me, I should have expected it as rarity adds value to paintings and collectors pay substantial amount of money to acquire them. But are these the painters that have the highest valued products (regular price) in the dataset? I'm going to answer that question just after examining another rarity variable: age of death! Could early death of an artist add value to his/her paintings or someone who's lived a long life has become more of a master and his works are valued more?
### Age of Death Effect
We'll divide paintings into 3 categories according to the age of death of their creator and compare the average regular price of each category to look for any significant difference in values.

In [50]:
%%sql

SELECT CASE 
            WHEN a.death - a.birth < 30 THEN 'Young (<30)' 
            WHEN a.death - a.birth > 80 then 'Old (>80)'
            ELSE 'Too old to rock n'' roll, too young to die!' END AS "Age of Death of Painter" , 
            COUNT(*),
            ROUND(AVG(p.regular_price)) AS "Average Price per Product"
FROM artist a
JOIN work w 
ON a.artist_id = w.artist_id
JOIN product_size p
ON w.work_id = p.work_id
GROUP BY "Age of Death of Painter";

 * postgresql://postgres:***@localhost:5432/famous_paintings
3 rows affected.

[('Young (<30)', 1143, Decimal('759')),
 ("Too old to rock n' roll, too young to die!", 82896, Decimal('749')),
 ('Old (>80)', 21381, Decimal('746'))]

There's only a slight but existing trend for positive difference in the average price of paintings made by early departed artists. I picked <30 as an upper limit to determine 'Young' but any value up to <36 confirms that trend.  Let's also check the minimum age of painters in the list.
### Minimum Age Needed to Reach Be Famous Painter

In [51]:
%%sql

WITH cte AS (
    SELECT full_name, 
    death - birth AS "Age of Death", 
    RANK() OVER(ORDER BY(death - birth)) AS rnk
FROM artist
)
SELECT full_name, "Age of Death"
FROM cte
WHERE rnk = 1;

 * postgresql://postgres:***@localhost:5432/famous_paintings
1 rows affected.

[('August Macke', 27)]

No painter made it into the list before he got 27.  
Now back to examine if those who consistently make highly valued works, are the ones with the highest priced paintings of all.
### Highest Valued Paintings

In [52]:
%%sql

SELECT a.full_name, w.work_id, w.name, s.subject, p.size_id, p.regular_price AS "Highest Valued Paintings Price"
FROM artist a
JOIN work w 
ON a.artist_id = w.artist_id
JOIN product_size p
ON w.work_id = p.work_id
LEFT JOIN subject s
ON w.work_id = s.work_id
ORDER BY p.regular_price DESC
LIMIT 20;

 * postgresql://postgres:***@localhost:5432/famous_paintings
20 rows affected.

[('Maximilien Luce', 133971, 'A Street in Paris in May 1871', None, '#VALUE!', 2235),
 ('Claude Monet', 2482, 'The Luncheon', 'Gardens', '79.163', 2055),
 ('William Adolphe Bouguereau', 4991, 'The Lost Pleiad', 'Nude', '4896', 2045),
 ('William Adolphe Bouguereau', 5012, 'The Storm', 'Seascapes', '4896', 2045),
 ('William Adolphe Bouguereau', 4805, 'Equality Before Death', 'Nude', '9648', 2045),
 ('Sir Lawrence Alma Tadema', 20958, 'God Speed!', None, '4896', 2045),
 ('Peter Paul Rubens', 22890, 'Fortuna', 'Nude', '4896', 2045),
 ('William Adolphe Bouguereau', 4773, 'Before the Bath (Avant le bain)', None, '4896', 2045),
 ('William Adolphe Bouguereau', 4791, 'Compassion', None, '4896', 2045),
 ('William Adolphe Bouguereau', 4757, 'Art and Literature', None, '4896', 2045),
 ('William Adolphe Bouguereau', 4799, 'Dawn (Reduction)', 'Nude', '4896', 2045),
 ('William Adolphe Bouguereau', 4753, 'After the Bath (Apres le Bain)', 'Nude', '4896', 2045),
 ('Sir Lawrence Alma Tadema', 20936, 'A Reading from Homer', None, '9648', 2045),
 ('William Adolphe Bouguereau', 4807, 'Evening Mood (La Crepuscule)', 'Nude', '4896', 2045),
 ('William Adolphe Bouguereau', 4969, 'The Ford (Le Gue)', None, '4896', 2045),
 ('Maximilien Luce', 133520, 'Les Batteurs de Pieux Entre', None, '#VALUE!', 2015),
 ('Franz Xavier Winterhalter', 29153, 'The Maharajah Duleep Singh', 'Winter', '4896', 1985),
 ('Leonardo Da Vinci', 1960, 'The Last Supper', 'Jesus Christ', '9648', 1985),
 ('Jean Honoré Fragonard', 26187, 'Winter', 'Winter', '9648', 1985),
 ('John Frederick Herring', 152491, 'The Doncaster Gold Cup 1825', 'Horses', '9648', 1985)]

Even if Maximilien Luce's 'A Street in Paris in May 1871' holds the first place in this list, the most striking fact is that Bouguereau has 10 paintings in the top 20. We can also notice that 17 out of the top 20 paintings are 48"x96" or 96"x48". Another thing here is that (except maybe the first place of the list) none of these paintings seems to be valued at an extremely high price. That means that either there are no outliers in the regular price column, or all of these prices are outliers! Let's find out...
### Regular Price Outliers

In [53]:
%%sql

WITH price_stats AS (
    SELECT 
        AVG(regular_price) AS mean_price,
        STDDEV(regular_price) AS stddev_price
    FROM product_size
)
SELECT p.*
FROM product_size p
JOIN price_stats ps ON TRUE
WHERE ABS((p.regular_price - ps.mean_price) / ps.stddev_price) > 3
ORDER BY p.regular_price DESC;

 * postgresql://postgres:***@localhost:5432/famous_paintings
195 rows affected.

[(133971, '#VALUE!', 1025, 2235),
 (2482, '79.163', 1075, 2055),
 (5012, '4896', 1055, 2045),
 (20958, '4896', 1055, 2045),
 (20936, '9648', 1055, 2045),
 (22890, '4896', 1115, 2045),
 (4969, '4896', 1055, 2045),
 (4991, '4896', 1055, 2045),
 (4757, '4896', 1055, 2045),
 (4773, '4896', 1055, 2045),
 (4791, '4896', 1055, 2045),
 (4799, '4896', 1055, 2045),
 (4805, '9648', 1085, 2045),
 (4807, '4896', 1055, 2045),
 (4753, '4896', 1055, 2045),
 (133520, '#VALUE!', 965, 2015),
 (29153, '4896', 1025, 1985),
 (167872, '9648', 1055, 1985),
 (152491, '9648', 1055, 1985),
 (26187, '9648', 1025, 1985),
 (1960, '9648', 1055, 1985),
 (194030, '9648', 1025, 1975),
 (20560, '9648', 1055, 1975),
 (149162, '4896', 1025, 1975),
 (19087, '4896', 1055, 1975),
 (27587, '4896', 1025, 1975),
 (27129, '9648', 1025, 1975),
 (24357, '4896', 1025, 1975),
 (24033, '9648', 1025, 1975),
 (23935, '9648', 1025, 1975),
 (5694, '4896', 1025, 1975),
 (22754, '4896', 1025, 1975),
 (22751, '4896', 1025, 1975),
 (21048, '9648', 1025, 1975),
 (21044, '9648', 1025, 1975),
 (21038, '9648', 1025, 1975),
 (7881, '9648', 1085, 1975),
 (169345, '9648', 1075, 1975),
 (207310, '9648', 1005, 1945),
 (7559, '4896', 1005, 1945),
 (7837, '9648', 1005, 1945),
 (7925, '9648', 1005, 1945),
 (7943, '9648', 1005, 1945),
 (7945, '9648', 1005, 1945),
 (17712, '4896', 1005, 1945),
 (18553, '9648', 1005, 1945),
 (18557, '9648', 1005, 1945),
 (18689, '9648', 1005, 1945),
 (20048, '9648', 1005, 1945),
 (20060, '9648', 1005, 1945),
 (20070, '9648', 1005, 1945),
 (20170, '9648', 1005, 1945),
 (23027, '9648', 1005, 1945),
 (23039, '9648', 1005, 1945),
 (23051, '9648', 1005, 1945),
 (23225, '9648', 1005, 1945),
 (23357, '9648', 1005, 1945),
 (23359, '9648', 1005, 1945),
 (23402, '9648', 1005, 1945),
 (27958, '9648', 1005, 1945),
 (27962, '9648', 1005, 1945),
 (28491, '4896', 1005, 1945),
 (28519, '9648', 1005, 1945),
 (28543, '4896', 1005, 1945),
 (28607, '4896', 1005, 1945),
 (28635, '4896', 1005, 1945),
 (28955, '9648', 1005, 1945),
 (31714, '4896', 1005, 1945),
 (150123, '9648', 1005, 1945),
 (150132, '9648', 1005, 1945),
 (150141, '9648', 1005, 1945),
 (170583, '9648', 1005, 1945),
 (185403, '9648', 1005, 1945),
 (185411, '9648', 1005, 1945),
 (185419, '9648', 1005, 1945),
 (185427, '9648', 1005, 1945),
 (185435, '9648', 1005, 1945),
 (185443, '9648', 1005, 1945),
 (185451, '9648', 1005, 1945),
 (185459, '9648', 1005, 1945),
 (185467, '9648', 1005, 1945),
 (185475, '9648', 1005, 1945),
 (185483, '9648', 1005, 1945),
 (185491, '9648', 1005, 1945),
 (185499, '9648', 1005, 1945),
 (185507, '9648', 1005, 1945),
 (185515, '9648', 1005, 1945),
 (185523, '9648', 1005, 1945),
 (185531, '9648', 1005, 1945),
 (185539, '9648', 1005, 1945),
 (185547, '9648', 1005, 1945),
 (185555, '9648', 1005, 1945),
 (185563, '9648', 1005, 1945),
 (185571, '9648', 1005, 1945),
 (185579, '9648', 1005, 1945),
 (185587, '9648', 1005, 1945),
 (185595, '9648', 1005, 1945),
 (185603, '9648', 1005, 1945),
 (185611, '9648', 1005, 1945),
 (185619, '9648', 1005, 1945),
 (185627, '9648', 1005, 1945),
 (185635, '9648', 1005, 1945),
 (185643, '9648', 1005, 1945),
 (185651, '9648', 1005, 1945),
 (185736, '9648', 1005, 1945),
 (186116, '9648', 1005, 1945),
 (186621, '9648', 1005, 1945),
 (186630, '9648', 1005, 1945),
 (186639, '9648', 1005, 1945),
 (186648, '9648', 1005, 1945),
 (186657, '9648', 1005, 1945),
 (186928, '9648', 1005, 1945),
 (186936, '9648', 1005, 1945),
 (186944, '9648', 1005, 1945),
 (186952, '9648', 1005, 1945),
 (186960, '9648', 1005, 1945),
 (5996, '9648', 1025, 1935),
 (5988, '9648', 1005, 1935),
 (5786, '4896', 1005, 1935),
 (187033, '9648', 1005, 1935),
 (187042, '9648', 1005, 1935),
 (187051, '9648', 1005, 1935),
 (20008, '9648', 1005, 1935),
 (23299, '4896', 1005, 1935),
 (23307, '4896', 1005, 1935),
 (19515, '9648', 1005, 1935),
 (30290, '9648', 1005, 1935),
 (187060, '9648', 1005, 1935),
 (187015, '9648', 1005, 1935),
 (30274, '9648', 1005, 1935),
 (8079, '9648', 1005, 1935),
 (26071, '9648', 1005, 1935),
 (18931, '4896', 1005, 1935),
 (26705, '9648', 1005, 1935),
 (18883, '9648', 1005, 1935),
 (27275, '4896', 1005, 1935),
 (19956, '9648', 1005, 1935),
 (8077, '9648', 1005, 1935),
 (8057, '9648', 1005, 1935),
 (7751, '9648', 1005, 1935),
 (7661, '9648', 1005, 1935),
 (7237, '9648', 1005, 1935),
 (22475, '4896', 1005, 1935),
 (30154, '9648', 1005, 1935),
 (28677, '9648', 1005, 1935),
 (28681, '9648', 1005, 1935),
 (28687, '9648', 1005, 1935),
 (2798, '9648', 1005, 1935),
 (22501, '9648', 1005, 1935),
 (29157, '4896', 1005, 1935),
 (29161, '4896', 1005, 1935),
 (29310, '9648', 1005, 1935),
 (29318, '9648', 1005, 1935),
 (175923, '4896', 1005, 1925),
 (175930, '4896', 1005, 1925),
 (175937, '4896', 1005, 1925),
 (175944, '4896', 1005, 1925),
 (3875, '4896', 1005, 1925),
 (3463, '4896', 1005, 1925),
 (123492, '4896', 1005, 1925),
 (123501, '4896', 1005, 1925),
 (123510, '4896', 1005, 1925),
 (123519, '4896', 1005, 1925),
 (123987, '4896', 1005, 1925),
 (124458, '4896', 1005, 1925),
 (3525, '9648', 1005, 1925),
 (19569, '4896', 1005, 1925),
 (19571, '4896', 1005, 1925),
 (19605, '4896', 1005, 1925),
 (19619, '4896', 1005, 1925),
 (19623, '4896', 1005, 1925),
 (19627, '9648', 1005, 1925),
 (19629, '4896', 1005, 1925),
 (19633, '4896', 1005, 1925),
 (19643, '4896', 1005, 1925),
 (19661, '4896', 1005, 1925),
 (19663, '4896', 1005, 1925),
 (3523, '4896', 1005, 1925),
 (135601, '4896', 1005, 1925),
 (139178, '4896', 1005, 1925),
 (3501, '4896', 1005, 1925),
 (20574, '9648', 1005, 1925),
 (20832, '9648', 1005, 1925),
 (20848, '9648', 1005, 1925),
 (3491, '4896', 1005, 1925),
 (3475, '4896', 1005, 1925),
 (3465, '4896', 1005, 1925),
 (5441, '4896', 1005, 1925),
 (5397, '4896', 1005, 1925),
 (5383, '4896', 1005, 1925),
 (4377, '4896', 1005, 1925),
 (3879, '4896', 1005, 1925),
 (3877, '4896', 1005, 1925),
 (175907, '4896', 1005, 1925),
 (175916, '4896', 1005, 1925)]

It seems that 195 records could be classified as outliers.  
Let's see who are the top 10 artists with the highest valued paintings.
### Top 10 Artists with the Highest Valued Paintings

In [54]:
%%sql

SELECT * FROM (
    SELECT DISTINCT ON (a.artist_id) 
        a.full_name, 
        w.work_id, 
        w.name, 
        s.subject, 
        p.size_id, 
        p.regular_price AS "Highest Valued Painting"
    FROM artist a
    JOIN work w ON a.artist_id = w.artist_id
    JOIN product_size p ON w.work_id = p.work_id
    LEFT JOIN subject s ON w.work_id = s.work_id
    ORDER BY a.artist_id, p.regular_price DESC
) sub
ORDER BY "Highest Valued Painting" DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/famous_paintings
10 rows affected.

[('Maximilien Luce', 133971, 'A Street in Paris in May 1871', None, '#VALUE!', 2235),
 ('Claude Monet', 2482, 'The Luncheon', 'Gardens', '79.163', 2055),
 ('Peter Paul Rubens', 22890, 'Fortuna', 'Nude', '4896', 2045),
 ('William Adolphe Bouguereau', 5012, 'The Storm', 'Seascapes', '4896', 2045),
 ('Sir Lawrence Alma Tadema', 20936, 'A Reading from Homer', None, '9648', 2045),
 ('Gerard Van Honthorst', 167872, 'Shepherd Playing the Flute, and Four Shepherdesses', None, '9648', 1985),
 ('Jean Honoré Fragonard', 26187, 'Winter', 'Winter', '9648', 1985),
 ('John Frederick Herring', 152491, 'The Doncaster Gold Cup 1825', 'Horses', '9648', 1985),
 ('Franz Xavier Winterhalter', 29153, 'The Maharajah Duleep Singh', 'Winter', '4896', 1985),
 ('Leonardo Da Vinci', 1960, 'The Last Supper', 'Jesus Christ', '9648', 1985)]

Next on, we'll search for the subjects featured in the highest average price paintings.
## Featured Subjects
### Highest Valued Subjects

In [55]:
%%sql

SELECT s.subject AS "Highest Valued Subjects", 
       ROUND(AVG(p.regular_price)) AS "Regular Price"
    FROM work w 
    JOIN product_size p 
    ON w.work_id = p.work_id
    LEFT JOIN subject s ON w.work_id = s.work_id
    GROUP BY s.subject
    ORDER BY AVG(p.regular_price) DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/famous_paintings
10 rows affected.

[('Landscape Art', Decimal('877')),
 ('Marine Art/Maritime', Decimal('839')),
 ('Architectures', Decimal('812')),
 ('Deers', Decimal('794')),
 ('Lovers', Decimal('791')),
 ('Abstract/Modern Art', Decimal('781')),
 ('Horses', Decimal('773')),
 ('Nude', Decimal('767')),
 ('Jesus Christ', Decimal('766')),
 ('Churches/Temples/Mosques', Decimal('764'))]

We can see that Horses and Jesus Christ are the 2 common subjects with the last list and the average price of those categories is less than half the price of the highest valued product of the corresponding subject.  
But which subjects are featured most?  
### Most Featured Subjects

In [56]:
%%sql

SELECT s.subject AS "Most Featured Subjects", 
       COUNT(*) AS "Count"
    FROM product_size p 
    LEFT JOIN subject s ON p.work_id = s.work_id
    GROUP BY s.subject
    ORDER BY "Count" DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/famous_paintings
10 rows affected.

[(None, 65471),
 ('Portraits', 7889),
 ('Nude', 3809),
 ('Flowers', 3360),
 ('Rivers/Lakes', 2979),
 ('Still-Life', 2698),
 ('Abstract/Modern Art', 2662),
 ('Landscape Art', 2360),
 ('Seascapes', 2094),
 ('Horses', 1935)]

While there are many NULL values in the subject column, the trend is obvious: Portraits are featured more than twice the times of the second category and Abstract/Modern Art and Landscape Art are both pop and high valued subjects.  
But let's also look at the Lowest Valued Subjects!  
### Lowest Valued Subjects

In [57]:
%%sql

SELECT s.subject AS "Lowest Valued Subjects", 
       ROUND(AVG(p.regular_price)) AS "Regular Price"
    FROM work w 
    JOIN product_size p 
    ON w.work_id = p.work_id
    JOIN subject s ON w.work_id = s.work_id
    GROUP BY s.subject
    ORDER BY AVG(p.regular_price)
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/famous_paintings
10 rows affected.

[('Still-Life', Decimal('671')),
 ('Flowers', Decimal('695')),
 ('Autumn/Fall', Decimal('716')),
 ('Bridges', Decimal('717')),
 ('Water Lilies', Decimal('728')),
 ('Cafes/Bars', Decimal('730')),
 ('Spring', Decimal('731')),
 ('Winter', Decimal('732')),
 ('Summer', Decimal('735')),
 ('Dogs', Decimal('736'))]

These categories are the Lowest Valued Subjects, so it's no wonder that none of them made it into the Most Featured Subjects list! Still Life and Flowers don't seem to be much appreciated, but this is probably a subjective matter. A more objective one is that bigger paintings require more material and time to complete, so they should be valued more than smaller ones, shouldn't they? 
## Featured Canvas Sizes
### Highest Average Painting Prices by Canvas Size

In [58]:
%%sql

SELECT  p.size_id, c.width, c.height, ROUND(AVG(p.regular_price)) AS "Average Painting Prices by Canvas Size"
    FROM product_size p
    JOIN canvas_size c
    ON p.size_id = c.size_id::TEXT
    GROUP BY p.size_id, c.width, c.height
    ORDER BY ROUND(AVG(p.regular_price)) DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/famous_paintings
10 rows affected.

[('4896', 48, 96, Decimal('1949')),
 ('9648', 96, 48, Decimal('1925')),
 ('5468', 54, 68, Decimal('1495')),
 ('6854', 68, 54, Decimal('1484')),
 ('6060', 60, 60, Decimal('1471')),
 ('7171', 71, 71, Decimal('1425')),
 ('4872', 48, 72, Decimal('1418')),
 ('7248', 72, 48, Decimal('1415')),
 ('4080', 40, 80, Decimal('1348')),
 ('8040', 80, 40, Decimal('1330'))]

The most notable things here are that the 48"x96" and 96"x48" are by far the highest valued sizes, landscape oriented paintings are valued a little more than portrait (at least at the big size range that we can see here) and while bigger sizes seem to be valued higher, 71"x71" size paintings are valued less (on average) than some smaller ones. But which canvas sizes are met most frequently in this paintings list?  
### Most Frequently Used Canvas Sizes

In [59]:
%%sql

SELECT  p.size_id, c.width, c.height, COUNT(*) AS "Number of Paintings"
    FROM product_size p
    LEFT JOIN canvas_size c
    ON p.size_id = c.size_id::TEXT
    GROUP BY p.size_id, c.width, c.height
    ORDER BY COUNT(*) DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/famous_paintings
10 rows affected.

[('3040', 30, 40, 4563),
 ('3648', 36, 48, 4563),
 ('2936', 29, 36, 4535),
 ('4860', 48, 60, 4466),
 ('4030', 40, 30, 4254),
 ('4836', 48, 36, 4252),
 ('3629', 36, 29, 4186),
 ('2632', 26, 32, 4167),
 ('6048', 60, 48, 4112),
 ('2430', 24, 30, 4053)]

The most frequently featured ones seem to be in the medium (or a bit smaller) size range.

## Featured Museums
While validating our data we got a first impression that most of the featured museums are in USA and France but let's investigate further.
### Number of Featured Museums by Country

In [60]:
%%sql 

SELECT country, COUNT(*) AS "Number of Featured Museums"
FROM museum
GROUP BY country
ORDER BY COUNT(*) DESC;

 * postgresql://postgres:***@localhost:5432/famous_paintings
17 rows affected.

[('USA', 24),
 ('France', 7),
 ('England', 5),
 ('Netherlands', 4),
 ('Russia', 2),
 ('Switzerland', 2),
 ('Spain', 2),
 ('Germany', 1),
 ('Japan', 1),
 ('Wales', 1),
 ('Czechia', 1),
 ('Italy', 1),
 ('Hungary', 1),
 ('Norway', 1),
 ('Israel', 1),
 ('Brazil', 1),
 ('Australia', 1)]

24 out of 56 museums are located in the USA. That certainly explains the bias towards the American artists of the dataset! There are lots  of French or Dutch or Italian world-wide known artists, but American? Not so many in my (I must admit mediocre and European - could be biased too!) Knowledge.  
An interesting question that comes to mind is at which percentage paintings are exhibited domestically, compared to internationally. For the museums of each country, I'll calculate the percentage of paintings of domestic to all painters and then compare that value with the corresponding value from all other countries' museums.
### National to International Exposure
Be warned, this is going to be a big, quite complicated query so I'll add a few comments.

In [61]:
%%sql

WITH museum_paintings AS (
    SELECT 
        m.country AS museum_country, 
        -- Turn artists' nationality into country of origin to directly compare with museum.country
        CASE
            WHEN a.nationality = 'American' THEN 'USA'
            WHEN a.nationality = 'English' THEN 'England'
            WHEN a.nationality = 'Russian' THEN 'Russia'
            WHEN a.nationality = 'Spanish' THEN 'Spain'
            WHEN a.nationality = 'French' THEN 'France'
            WHEN a.nationality = 'Dutch' THEN 'Netherlands'
            WHEN a.nationality = 'German' THEN 'Germany'
            ELSE 'Other'
        END AS artist_country, 
        w.work_id
    FROM work w
    JOIN artist a ON w.artist_id = a.artist_id
    JOIN museum m ON w.museum_id = m.museum_id
),

-- Total paintings in all museums
total_paintings_all AS (
    SELECT COUNT(*) AS total_paintings_global FROM museum_paintings
),

-- Domestic paintings (by local artists)
domestic_exhibition_counts AS (
    SELECT 
        museum_country,
        COUNT(*) AS total_paintings,
        COUNT(*) FILTER (WHERE museum_country = artist_country) AS domestic_paintings
    FROM museum_paintings
    GROUP BY museum_country
),

-- Foreign exhibitions (paintings by artists of a country that are exhibited abroad)
foreign_exhibition_counts AS (
    SELECT 
        artist_country AS country,
        COUNT(*) AS foreign_exhibitions
    FROM museum_paintings
    WHERE museum_country != artist_country
    GROUP BY artist_country
),

-- Total foreign paintings = Total paintings in all museums - Total paintings in museums of each country
total_foreign_exhibition_counts AS (
    SELECT 
        d.museum_country AS country,
        (tpa.total_paintings_global - d.total_paintings) AS total_foreign_paintings
    FROM domestic_exhibition_counts d
    CROSS JOIN total_paintings_all tpa
)

-- Final aggregation
SELECT 
    d.museum_country, 
    d.domestic_paintings, 
    d.total_paintings, 
    ROUND(100.0 * d.domestic_paintings / d.total_paintings, 1) AS domestic_pct,

    -- Use COALESCE to handle missing values for foreign exhibitions
    COALESCE(f.foreign_exhibitions, 0) AS foreign_exhibitions,
    
    -- Use COALESCE to handle missing values for total foreign paintings
    COALESCE(t.total_foreign_paintings, 0) AS total_foreign_paintings,
    
    -- Calculate international percentage, ensuring no division by zero, and replacing NULL with 0
    COALESCE(
        CASE 
            WHEN COALESCE(t.total_foreign_paintings, 0) > 0 
            THEN ROUND(100.0 * f.foreign_exhibitions / NULLIF(t.total_foreign_paintings, 0), 1)
            ELSE 0
        END,
        0
    ) AS international_pct
FROM domestic_exhibition_counts d
LEFT JOIN foreign_exhibition_counts f ON d.museum_country = f.country
LEFT JOIN total_foreign_exhibition_counts t ON d.museum_country = t.country
ORDER BY international_pct DESC, domestic_pct DESC;

 * postgresql://postgres:***@localhost:5432/famous_paintings
17 rows affected.

[('France', 272, 332, Decimal('81.9'), 1343, 3895, Decimal('34.5')),
 ('Netherlands', 392, 470, Decimal('83.4'), 379, 3757, Decimal('10.1')),
 ('England', 178, 630, Decimal('28.3'), 115, 3597, Decimal('3.2')),
 ('Spain', 83, 195, Decimal('42.6'), 108, 4032, Decimal('2.7')),
 ('USA', 691, 2409, Decimal('28.7'), 48, 1818, Decimal('2.6')),
 ('Germany', 9, 23, Decimal('39.1'), 106, 4204, Decimal('2.5')),
 ('Russia', 32, 156, Decimal('20.5'), 24, 4071, Decimal('0.6')),
 ('Norway', 0, 1, Decimal('0.0'), 0, 4226, Decimal('0')),
 ('Brazil', 0, 1, Decimal('0.0'), 0, 4226, Decimal('0')),
 ('Wales', 0, 1, Decimal('0.0'), 0, 4226, Decimal('0')),
 ('Czechia', 0, 1, Decimal('0.0'), 0, 4226, Decimal('0')),
 ('Israel', 0, 1, Decimal('0.0'), 0, 4226, Decimal('0')),
 ('Australia', 0, 1, Decimal('0.0'), 0, 4226, Decimal('0')),
 ('Italy', 0, 1, Decimal('0.0'), 0, 4226, Decimal('0')),
 ('Japan', 0, 1, Decimal('0.0'), 0, 4226, Decimal('0')),
 ('Switzerland', 0, 3, Decimal('0.0'), 0, 4224, Decimal('0')),
 ('Hungary', 0, 1, Decimal('0.0'), 0, 4226, Decimal('0'))]

Looking at the results we can say that internationally, French artists are the most renown (1 out of 3 paintings in museums outside France is French!) which also explains the high percentage (almost 82%) of French works in French museums. Dutch museums on the other hand, exhibit Dutch painters' works at an even higher rate while internationally they hold a respectable (but 3 times lower than the French) share of paintings of about 10%, something which reveals that they focus on their artists a lot more than the rest of the world.  
Back to more casual queries, let's find out which are the most frequent opening and closing hours (mode of open and close).
## Museum open/close hours
### Mode of Opening/Closing Times

In [62]:
%%sql

WITH mode_open AS (
    SELECT open AS most_frequent_time, COUNT(*) AS frequency 
    FROM museum_hours
    GROUP BY open
    ORDER BY COUNT(*) DESC
    LIMIT 1
),
mode_close AS (
    SELECT close AS most_frequent_time, COUNT(*) AS frequency 
    FROM museum_hours
    GROUP BY close
    ORDER BY COUNT(*) DESC
    LIMIT 1
)
SELECT 'Opening Time' AS time, most_frequent_time, frequency
       FROM mode_open
            UNION 
SELECT 'Closing Time' AS time, most_frequent_time, frequency
       FROM mode_close
ORDER BY time DESC;

 * postgresql://postgres:***@localhost:5432/famous_paintings
2 rows affected.

[('Opening Time', datetime.time(10, 0), 213),
 ('Closing Time', datetime.time(17, 0), 125)]

Most of the museums open at 10:00 and most close at 17:00. But which is the day most of them are open?
### Mode of Open Day(s)

In [63]:
%%sql

SELECT day, COUNT(*)
FROM museum_hours
GROUP BY day
ORDER BY COUNT(*) DESC;

 * postgresql://postgres:***@localhost:5432/famous_paintings
7 rows affected.

[('Saturday', 57),
 ('Friday', 56),
 ('Thursday', 56),
 ('Sunday', 55),
 ('Wednesday', 50),
 ('Tuesday', 42),
 ('Monday', 28)]

We've already seen that there are 56 unique museum_id values so something's definitely wrong with 57 occurencies of Saturday!

In [64]:
%%sql

SELECT museum_id, day, COUNT(*)
FROM museum_hours
GROUP BY museum_id, day
HAVING COUNT(*) > 1
ORDER BY COUNT(*) DESC;

 * postgresql://postgres:***@localhost:5432/famous_paintings
1 rows affected.

[(80, 'Saturday', 2)]

In [65]:
%%sql

SELECT *
FROM museum_hours
WHERE museum_id = 80;

 * postgresql://postgres:***@localhost:5432/famous_paintings
7 rows affected.

[(80, 'Sunday', datetime.time(11, 0), datetime.time(17, 0)),
 (80, 'Tuesday', datetime.time(11, 0), datetime.time(20, 0)),
 (80, 'Wednesday', datetime.time(11, 0), datetime.time(20, 0)),
 (80, 'Friday', datetime.time(11, 0), datetime.time(21, 0)),
 (80, 'Saturday', datetime.time(11, 0), datetime.time(17, 0)),
 (80, 'Saturday', datetime.time(11, 0), datetime.time(17, 0)),
 (80, 'Thursday', datetime.time(11, 0), datetime.time(17, 0))]

Found an exact duplicate! Let's get rid of it!

In [66]:
%%sql

CREATE TABLE museum_hours_clean AS 
SELECT DISTINCT ON (museum_id, day) * 
FROM museum_hours;

DROP TABLE museum_hours;

ALTER TABLE museum_hours_clean RENAME TO museum_hours;

 * postgresql://postgres:***@localhost:5432/famous_paintings
343 rows affected.
Done.
Done.

[]

In [67]:
%%sql

SELECT day, COUNT(*)
FROM museum_hours
GROUP BY day
ORDER BY COUNT(*) DESC;

 * postgresql://postgres:***@localhost:5432/famous_paintings
7 rows affected.

[('Saturday', 56),
 ('Friday', 56),
 ('Thursday', 56),
 ('Sunday', 55),
 ('Wednesday', 50),
 ('Tuesday', 42),
 ('Monday', 28)]

It seems that all museums are open Thursday to Saturday, there's only one that is closed on Sunday but half of them are closed on Monday.  
We could also find out which museums are open the most and least hours per week and how many those are.
### Museum Open for Most/Least Hours per Week

In [68]:
%%sql

WITH open_hours AS (
    SELECT museum_id,
           ROUND(EXTRACT(EPOCH FROM (close - open)) / 3600, 1) AS day_hours
    FROM museum_hours
)
SELECT name, "Hours Open per Week"
FROM (
    -- Get museum open for the most hours
    SELECT m.name,
           SUM(o.day_hours) AS "Hours Open per Week"
    FROM museum m
    JOIN open_hours o ON m.museum_id = o.museum_id
    GROUP BY m.name
    ORDER BY "Hours Open per Week" DESC
    LIMIT 1
) AS max_hours
UNION ALL
SELECT name, "Hours Open per Week"
FROM (
    -- Get museum open for the least hours
    SELECT m.name,
           SUM(o.day_hours) AS "Hours Open per Week"
    FROM museum m
    JOIN open_hours o ON m.museum_id = o.museum_id
    GROUP BY m.name
    ORDER BY "Hours Open per Week" ASC
    LIMIT 1
) AS min_hours;

 * postgresql://postgres:***@localhost:5432/famous_paintings
2 rows affected.

[('The Prado Museum', Decimal('69.0')),
 ('Norton Simon Museum', Decimal('27.0'))]

## Explore Bargains
### Largest Discounts

In [69]:
%%sql

SELECT *, 
       regular_price - sale_price AS discount
FROM product_size
WHERE sale_price < regular_price
ORDER BY discount DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/famous_paintings
10 rows affected.

[(133971, '#VALUE!', 1025, 2235, 1210),
 (133520, '#VALUE!', 965, 2015, 1050),
 (5012, '4896', 1055, 2045, 990),
 (4807, '4896', 1055, 2045, 990),
 (4991, '4896', 1055, 2045, 990),
 (4799, '4896', 1055, 2045, 990),
 (4753, '4896', 1055, 2045, 990),
 (4757, '4896', 1055, 2045, 990),
 (4773, '4896', 1055, 2045, 990),
 (4791, '4896', 1055, 2045, 990)]

The largest discounts come from high-end regular prices but which paintings could be the best investing options? Assuming that their real value is their regular_price we'll look into those with the best expected Return On Investment rate.
### Best Expected ROI Rates

In [70]:
%%sql

SELECT *, 
       regular_price - sale_price AS discount,
       ROUND((regular_price - sale_price)::NUMERIC * 100 / sale_price, 2) AS "Expected ROI %"
FROM product_size
WHERE sale_price < regular_price
ORDER BY "Expected ROI %" DESC
LIMIT 20;

 * postgresql://postgres:***@localhost:5432/famous_paintings
20 rows affected.

[(17351, '36', 10, 125, 115, Decimal('1150.00')),
 (31780, '36', 10, 125, 115, Decimal('1150.00')),
 (31780, '30', 10, 95, 85, Decimal('850.00')),
 (17351, '30', 10, 95, 85, Decimal('850.00')),
 (17351, '24', 10, 85, 75, Decimal('750.00')),
 (23710, '30', 20, 95, 75, Decimal('375.00')),
 (23710, '24', 20, 85, 65, Decimal('325.00')),
 (198417, '36', 30, 125, 95, Decimal('316.67')),
 (6546, '36', 30, 125, 95, Decimal('316.67')),
 (6504, '36', 30, 125, 95, Decimal('316.67')),
 (6558, '30', 30, 95, 65, Decimal('216.67')),
 (198417, '30', 30, 95, 65, Decimal('216.67')),
 (6546, '30', 30, 95, 65, Decimal('216.67')),
 (28295, '30', 30, 95, 65, Decimal('216.67')),
 (6504, '30', 30, 95, 65, Decimal('216.67')),
 (28287, '36', 40, 125, 85, Decimal('212.50')),
 (6558, '24', 30, 85, 55, Decimal('183.33')),
 (31974, '24', 30, 85, 55, Decimal('183.33')),
 (6546, '24', 30, 85, 55, Decimal('183.33')),
 (28295, '24', 30, 85, 55, Decimal('183.33'))]

Obviously, the greatest expected ROI rates come from low-end regular priced paintings of our dataset.
# Conlusion
This was a project to practise PostgreSQL and showcase my cleaning, analysing and analytical thinking skills. I tried to answer questions that came naturally to my mind rather than inventing questions to answer with fancy queries. I'm sure you can find some interesting questions to answer too!  
I hope you enjoyed the process as much as I did!